{% if general_permission > 1 or document_permission == 1 %}
    {% csrf_token %}
    {% load staticfiles %}
    <table>
        <tr>
            <td colspan="2">{{ upload_form.document }}</td>
        </tr>
        </td id="document_row_description">
            <td colspan="2">{{ upload_form.document_description }}</td>
        </tr>
        <tr id="document_row_nested_folder">
            <td width="20%">Nested Folder:</td>
            <td width="80%">{{ upload_form.nested_folder }}</td>
        </tr>
        <tr id="document_row_uploads">
            <td colspan="2">
                <div id="progress" style="border: none; width: 100%;">
                    <span id="upload_percent"><a href="javascript:void(0)" onclick="upload_document()">Upload Document</a></span>
                    <div id="upload_progress" style="background-color: green; width: 0%; height: 20px;"></div>
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <script>
        $("#id_document").on('change', function(e) {
            //Get the file name
            file_name = $("#id_document").val();
            split_name = file_name.split("\\");

            //Set the filename
            $("#id_document_description").val(split_name[split_name.length - 1]);
        })
    </script>
{% endif %}
