{% load staticfiles %}
<!--
The drop down button that will allow a user to add a new
-- File
-- File URL link
-- New Folder
-->
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="new_document_item" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        + New Item
    </button>
    <div class="dropdown-menu" aria-labelledby="new_document_item">
        <!-- Give the user the ability to upload the document -->
        <a class="dropdown-item" href="javascript:void(0)">
            <form method="post" class="upload_document_form" id="upload_document_form" enctype="multipart/form-data">
                <input id="id_fileupload" name="fileupload" type="file" onchange="upload_document({{ location_id }},'{{ destination }}',{{ folder_id }})">
            </form>
        </a>
        <a class="dropdown-item" href="javascript:void(0)">New File URL Link</a>
        <a class="dropdown-item" href="javascript:void(0)">New Folder</a>
    </div>
</div>

<!-- loading bar -->
<div id="document_upload_progress">
    <div class="bar" style="width: 0%;"></div>
</div>

<!--
The table that will display the current directory.
-->
<table class="table">
    <thead>
        <tr>
            <th scope="col" width="70%">Name</th>
            <th scope="col" width="20%">Date Uploaded</th>
            <th scope="col" width="10%">Delete</th>
        </tr>
    </thead>
    <tbody>
        <!-- LOOP FOR FOLDERS -->
        {% for row in folder_results %}
            <tr>
                <td><img src="{% static 'NearBeach/widgets/feather-master/icons/folder.svg' %}">{{ row.folder_description }}</td>
                <td></td>
                <td><img src="{% static 'NearBeach/widgets/feather-master/icons/trash-2.svg' %}"></td>
            </tr>
        {% endfor %}
        <!-- LOOP FOR DOCUMENTS -->
        {% for row in document_permission_results %}
            <tr>
                <td>{{ row.document_key.document_description }}</td>
                <td>2018-10-03</td>
                <td><img src="{% static 'NearBeach/widgets/feather-master/icons/trash-2.svg' %}"></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

