{% if assign_user_add_form.add_user|length > 1 %}
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group">
            {{ assign_user_add_form.add_user }}
        </div>
        <div class="form-group">
            <input id="submit_add_user" type="submit" value="Assign New User" disabled class="btn btn-primary form-control">
        </div>
    </div>

    <script>
        function add_user_change() {
            if ($("#id_add_user").val() != "") {
                $("#submit_add_user").prop("disabled",false)
            } else {
                $("#submit_add_user").prop("disabled",true)
            }
        }
    </script>
{% endif %}