<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NearBeach - quote template</title>
    <!--
    Bootstrap and jquery are utilised throughout ALL of NearBeach
    -->
    {% load staticfiles %}
    <script src="{% static 'NearBeach/widgets/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'NearBeach/widgets/bootstrap/js/bootstrap.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'NearBeach/css/NearBeach_CSS.css' %}" />

</head>
<header>
    <div class="text-center">
        <h1>Header Text</h1>
    </div>
</header>
<body>
    <div class="container" id="container">
        <div class="card mt-4">
            <div class="card-header">
                <h2>First Card</h2>
            </div>
            <div class="card-body">
                Lorem ipsum dolor sit amet consectetur adipiscing elit sed tempus faucibus donec sapien, litora nunc proin aenean fusce
                nulla eu ultrices orci dignissim. Enim donec dapibus magnis duis id luctus curabitur turpis hac nisi, nibh
                condimentum fermentum est nascetur mauris proin mus nam lacinia, praesent suspendisse metus sagittis taciti
                laoreet sociosqu nisl diam. Eget himenaeos cursus eu torquent quam imperdiet nibh sapien mattis, erat integer
                conubia porta ante luctus egestas curabitur per justo, hac est rhoncus viverra vestibulum fames interdum
                elementum.

                Laoreet vivamus egestas habitant purus tristique ligula ridiculus hac augue cras malesuada tempor nibh, urna
                convallis praesent natoque posuere eget tincidunt senectus lectus eros aptent. Massa cras integer inceptos
                sapien lobortis nisi dapibus gravida eros phasellus ac faucibus nec ultricies, semper morbi metus conubia eu
                primis quam potenti ultrices iaculis porta risus. Nulla diam placerat ultricies primis class quisque, duis
                suspendisse ornare in phasellus mollis, proin laoreet habitasse libero rhoncus. Nec taciti porttitor interdum
                sem netus volutpat nascetur rhoncus euismod orci, lacinia dis tempus litora himenaeos cursus massa suspendisse
                tristique blandit, erat eros accumsan mi phasellus aptent commodo tortor mollis.
            </div>
        </div>


        <div class="card mt-4">
            <div class="card-header">
                <h2>First Card</h2>
            </div>
            <div class="card-body">
                Venenatis primis cursus senectus arcu egestas class quam felis, vitae sed ultricies in libero himenaeos
                tincidunt, suscipit donec et orci ligula magnis interdum. Penatibus posuere magnis ligula ultrices habitant vel
                porttitor taciti torquent vestibulum elementum laoreet, aliquet interdum ornare nascetur morbi mauris
                condimentum facilisi etiam enim lacus. Dapibus tristique convallis varius fringilla mattis nisi, leo nisl ligula
                habitasse nullam magna, vehicula gravida himenaeos lobortis phasellus nec, parturient montes suspendisse
                facilisi non. Ultrices hac felis odio platea nulla hendrerit justo integer, class suspendisse sagittis blandit
                posuere vulputate euismod tempor cum, eros ante vehicula velit massa vel ad.

                Molestie curabitur aptent faucibus viverra habitasse quisque elementum integer nisl condimentum ultricies, cum
                nascetur suscipit aliquet velit fringilla cursus turpis etiam sociosqu, pharetra metus dui suspendisse quis
                inceptos mattis quam dignissim interdum. Purus hac non faucibus rutrum tortor natoque litora iaculis habitasse
                fusce laoreet cursus per nostra, venenatis senectus parturient bibendum turpis in nullam velit malesuada
                pellentesque vulputate quis. Cras at pellentesque aenean diam posuere, ridiculus per ullamcorper ac urna,
                suspendisse hendrerit pretium nullam.
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>First Card</h2>
            </div>
            <div class="card-body">
                Cras facilisis fringilla quisque dapibus dignissim penatibus commodo sagittis tortor elementum molestie, gravida
                libero ac eu aptent a nibh primis augue nascetur lacus quis, convallis iaculis dui diam at non tincidunt erat
                eget felis. Fusce curae sapien molestie faucibus rutrum nascetur pretium augue in malesuada, enim sodales
                suscipit nam dignissim tincidunt dictumst sed cubilia id, libero eros iaculis egestas volutpat vestibulum nulla
                ante ullamcorper.

                Phasellus himenaeos eleifend est litora rhoncus venenatis metus suscipit potenti, fringilla pulvinar sed
                consequat tincidunt leo egestas natoque, netus posuere orci proin cubilia lacus congue varius. Sed pulvinar
                dapibus mus pretium auctor cubilia mauris congue quisque porta, sagittis diam massa nam felis blandit natoque
                augue quis eleifend, aliquam bibendum nullam sodales aptent integer enim pharetra nulla. Molestie facilisis
                tincidunt vivamus augue vel viverra eget malesuada interdum, pulvinar bibendum sagittis erat mi venenatis
                aliquet in praesent, habitant inceptos fermentum faucibus nostra donec nunc conubia.

                Senectus nulla eu venenatis nullam volutpat elementum arcu, leo proin mattis ac morbi bibendum curabitur quis,
                per laoreet auctor taciti ligula fermentum. Vel netus non quis platea lectus sem, placerat porta sed nibh orci,
                habitant fames morbi sociosqu mi. Eu in nunc metus consequat semper gravida quis arcu molestie turpis velit per,
                posuere cras ligula habitasse ad tellus urna est praesent sed. Nulla magnis viverra condimentum vestibulum,
                dapibus mattis in.
            </div>
        </div>
    </div>
</body>
<footer>
    <p>Footer text</p>
</footer>
</html>



