/*
The following file is designed to be all style related information for the menu.
The main constributor for this is https://github.com/DatCodingGuy
*/

/* --- Main Menu --- */
/*#main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#main-nav a, #menu-toggle {
    display: block;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
}

#main-header ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#menu {
    display: flex;
    justify-content: space-between;
    background-color: #33adff;
    box-shadow: 0 0 1rem 1px rgba(0, 0, 0, 0.5);
}

#main-nav {
    display: none;
}*/


/* --- Sub Menus --- */
.sub-menu {
    background-color: #888;
    display: none;
}

