.menu {
	Z-INDEX: 1000;
}
	
.menu > ul {
	position: absolute; #Hopefully fixes bug 40 (https://nearbeach.tk/bugzilla/show_bug.cgi?id=40)
	background: #efefef;
	padding: 0px 10px;
	list-style: none;
	position: relative;
}

.menu ul:after {
	content: "";
	clear: both;
	display: block;
}

.menu > ul > li {
	float: left;
}

.menu > ul > li:hover > .submenu {
	display: block;
}

.menu > ul > li > a {
	display: block;
	padding: 15px 20px;
	color: #757575;
	text-decoration: none;
}

.submenu {
	display: none;
	list-style: none;
	position: relative;
	background: #efefef;
	padding: 0px 10px;
}

.submenu > li {
	float: none;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	
}

.submenu > li > a {
	display: block;
	padding: 15px 20px;
	color: #757575;
	text-decoration: none;
}
