{% csrf_token %}
<h2>Input Wants</h2>
<table>
    <tr>
        <td width="10%">Do or Do not</td>
        <td width="80%">Description</td>
        <td width="10%">Skill level</td>
    </tr>
    <tr>
        <td>{{ user_want_form.want_choice }}</td>
        <td>{{ user_want_form.want_choice_text }}</td>
        <td>{{ user_want_form.want_skill }}</td>
    </tr>
    <tr><td colspan="3"><input value="Submit" type="submit"></td> </tr>
</table>

{% if want_results %}
    <h2>User Wants</h2>
    <table>
        <tr>
            <td width="80%">Description</td>
            <td width="20%">Remove</td>
        </tr>
        {% for row in want_results %}
            <tr>
                <td>{{ row.want_choice_text }}</td>
                <td><a href="javascript:void(0)" onclick="user_want_remove({{ row.user_want_id }})">Remove</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}

{% if not_want_results %}
    <h2>User Does not Want</h2>
    <table>
        <tr>
            <td width="80%">Description</td>
            <td width="20%">Remove</td>
        </tr>
        {% for row in not_want_results %}
            <tr>
                <td>{{ row.want_choice_text }}</td>
                <td><a href="javascript:void(0)" onclick="user_want_remove({{ row.user_want_id }})">Remove</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
