{% csrf_token %}
<h2>Add User Weblinks</h2>
<table>
    <tr>
        <td width="80%">Website Link</td>
        <td width="20%">Source</td>
    </tr>
    <tr>
        <td>{{ user_weblink_form.user_weblink_url }}</td>
        <td>{{ user_weblink_form.user_weblink_source }}</td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="Submit Weblink"></td>
    </tr>
</table>
{% if user_weblink_results %}
    <h2>User Weblinks</h2>
    <table>
        <tr>
            <td width="70%">Weblink</td>
            <td width="20%">Source</td>
            <td width="10%">Remove</td>
        </tr>
        {% for row in user_weblink_results %}
            <tr>
                <td><a href="{{ row.user_weblink_url }}" target="_blank">{{ row.user_weblink_url }}</a></td>
                <td>{{ row.user_weblink_source }}</td>
                <td><a href="javascript:void(0)" onclick="user_weblink_remove({{ row.user_weblink_id }})">Remove</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}