{% csrf_token %}
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="id_user_weblink_url">Website Link</label>
        {{ user_weblink_form.user_weblink_url }}
    </div>

    <div class="form-group col-md-2">
        <label for="id_user_weblink_source">Website Link</label>
        {{ user_weblink_form.user_weblink_source }}
    </div>

    <div class="form-group col-md-2">
        <label for="user_weblink_submit">.</label>
        <input type="submit" value="Submit Weblink" class="btn btn-primary form-control" id="user_weblink_submit">
    </div>
</div>
{% if user_weblink_results %}
    <h5>User Weblinks</h5>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <td width="70%">Weblink</td>
                <td width="20%">Source</td>
                <td width="10%">Remove</td>
            </tr>
        </thead>
        {% for row in user_weblink_results %}
            <tr>
                <td><a href="{{ row.user_weblink_url }}" target="_blank">{{ row.user_weblink_url }}</a></td>
                <td>{{ row.user_weblink_source }}</td>
                <td><a href="javascript:void(0)" onclick="user_weblink_remove({{ row.user_weblink_id }})">Remove</a></td>
            </tr>
        {% endfor %}
    </table>
{% endif %}