{% extends "NearBeach/partials/template.html" %}
{% load static %}
{% block content %}
    {% for notification in notification_results %}
        <div class="alert alert-warning">
            <h4 class="alert-header">{{ notification.notification_header }}</h4>
            {{ notification.notification_message }}
        </div>
    {% endfor %}

    {% if user.is_superuser %}
        <!-- Dashboard - Users with Groups -->
        <dashboard-users-with-no-groups v-bind:root-url="`{% url 'dashboard' %}`"
                                        v-bind:static-url="`{% static '' %}`"
        ></dashboard-users-with-no-groups>
        <br/>
    {% endif %}
    <!-- Dashboard - RFC Approvals -->
    <dashboard-rfc-approvals v-bind:root-url="`{% url 'dashboard' %}`"></dashboard-rfc-approvals>

    <!-- Dashboard - My Objects -->
    <dashboard-my-objects v-bind:root-url="`{% url 'dashboard' %}`"></dashboard-my-objects>

    <br/>
    <!-- Dashboard -- Unassigned Objects -->
    <dashboard-unassigned-objects v-bind:root-url="`{% url 'dashboard' %}`"></dashboard-unassigned-objects>
    <!--<dashboard-bug-list></dashboard-bug-list>-->

    <br/>
    <!-- Dashboard -- Kanban Boards -->
    <dashboard-kanban-list v-bind:root-url="`{% url 'dashboard' %}`"></dashboard-kanban-list>


{% endblock %}
