<h5>Edit Requirement Item - {{ requirement_item_id }}</h5>
{% csrf_token %}
<ul>
    <li>{{ requirement_items_form.requirement_item_title }}</li>
    <li>{{ requirement_items_form.requirement_item_scope }}</li>
    <li>Item Status: {{ requirement_items_form.requirement_item_status }}</li>
    <li>Item Type: {{ requirement_items_form.requirement_item_type }}</li>
    {% if permission > 1 %}
        <li><input type="submit" value="Update Requirement Item"></li>
        <li><input id="requirement_item_id" value="{{ requirement_item_id }}" readonly hidden="hidden"></li>
    {% endif %}
</ul>

{% if permission > 1 %}
    <div method="POST" class="requirement_item_new_link" id="requirement_item_new_link" style="background-color: azure;">
        <a href="javascript:void(0)" onclick="link_requirement_item({{ requirement_item_id }})">Link Requirement Item</a>
    </div>
{% endif %}