<h5>New Requirement Item</h5>
{% csrf_token %}
<ul>
    <li>{{ requirement_item_form.requirement_item_title }}</li>
    <li>{{ requirement_item_form.requirement_item_scope }}</li>
    <li>Item Status: {{ requirement_item_form.requirement_item_status }}</li>
    <li>Item Type: {{ requirement_item_form.requirement_item_type }}</li>
    <li>
        <input type="submit" value="Submit New Requirement Item">
        <a href="javascript:void(0)" onclick="close_new_requirement_item()">Close</a>
    </li>
</ul>