//Import variables
@import "./common/variables";

// Import Bootstrap
@import "~bootstrap/scss/bootstrap";

// Import Themes
@import "./themes/light_theme";
@import "./themes/dark_theme";

//Import common
@import "common/common";

//Import components
@import "components/body";
@import "components/buttons";
@import "components/cards";
@import "components/customer_list";
@import "components/delete_object";
@import "components/documents";
@import "components/errors";
@import "components/gantt_chart";
@import "components/gdpr_wizard";
@import "components/groups_and_users";
@import "components/modals";
@import "components/nav";
@import "components/my_planner";
@import "components/notes";
@import "components/object_links";
@import "components/object-scheduler";
@import "components/render_object_card";
@import "components/request_for_change";
@import "components/runsheet";
@import "components/sprint";
@import "components/tables";
@import "components/tags";
@import "components/tinymce";
@import "components/toasts";
@import "components/vselect";
@import "components/drag_and_drop";
@import "components/tooltips";
@import "components/users_and_groups";
@import "components/kanban";
@import "components/rfc_wizard";
@import "components/wizard_results";

//Import layouts'
@import "layouts/footer";
@import "layouts/header";

//Custom Boards
@import "components/project";
@import "components/requirement";
@import "components/requirement_item";
@import "components/task";

//Import vue-form-wizard components
//@import "~vue-form-wizard/dist/vue-form-wizard.min.css";
