//Import variables
@import './common/variables';

//Import foundation framework
@import '~foundation-sites/assets/foundation.scss';

//Import components
@import 'components/body';
@import 'components/cards';
@import 'components/tinymce';


//Import layouts'
@import 'layouts/footer';
@import 'layouts/header';


//Import any vue components
@import "~vue-select/src/scss/vue-select.scss";

