# requirement.txt
Django>=4.2.17
django-rest-framework
django-two-factor-auth
django-two-factor-auth[phonenumberslite]
django_otp
simplejson
pillow>=10.0.1
urllib3>=2.2.2
boto3
botocore
azure-storage-blob
azure-identity>=1.16.1
drf-spectacular
drf-spectacular[sidecar]

# Security recommendations - packages are used by libraries used by NearBeach
pip>=19.2
requests>=2.32.2
djangorestframework
sqlparse>=0.5.0
