{% extends "NearBeach/partials/template.html" %}
{% load static %}
{% block content %}
    <requirement-information
            v-bind:default-stakeholder-image="`{% static 'NearBeach/images/placeholder/product_tour.svg' %}`"
            v-bind:organisation-results="{{organisation_results}}"
            v-bind:requirement-is-closed="{{ requirement_is_closed }}"
            v-bind:requirement-results="{{requirement_results}}"
            v-bind:status-options="{{status_options}}"
            v-bind:theme="`{{ theme }}`"
            v-bind:type-list="{{type_options}}"
            v-bind:user-level="{{user_level}}"
    ></requirement-information>

    <div class="spacer"></div>

    <parent-modules class="misc-modules"
                    v-bind:group-list="{{group_results}}"
                    v-bind:destination="'requirement'"
                    v-bind:is-read-only="{{ requirement_is_closed }}"
                    v-bind:location-id="{{requirement_id}}"
                    v-bind:user-level="{{ user_level }}"
                    v-bind:root-url="`{% url 'dashboard' %}`"
                    v-bind:static-url="`{% static '/' %}`"
                    v-bind:theme="`{{ theme }}`"
    ></parent-modules>
{% endblock %}
