{% extends 'NearBeach/template.html' %}
{% load static %}
{% block content %}
    <requirement-information v-bind:requirement-results="{{requirement_results}}"
                             v-bind:organisation-results="{{organisation_results}}"
                             v-bind:default-stakeholder-image="`{% static 'NearBeach/images/placeholder/product_tour.svg' %}`"
                             v-bind:status-list="{{status_list}}"
                             v-bind:type-list="{{type_list}}"
    ></requirement-information>

    <div class="spacer"></div>

    <parent-modules class="misc-modules"
                    v-bind:group-list="{{group_results}}"
                    v-bind:destination="'requirement'"
                    v-bind:location-id="{{requirement_id}}"
    ></parent-modules>
{% endblock %}