<div class="form-row">
    <div class="form-group col-md-6">
        <label for="id_kanban_column">Column</label>
        {{ kanban_new_link_form.kanban_column }}
    </div>
    <div class="form-group">
        <label for="id_kanban_level col-md-6">Level</label>
        {{ kanban_new_link_form.kanban_level }}
    </div>
</div>
<hr>
<h2>Projects</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Project</td>
            <td>Description</td>
            <td>End Date</td>
        </tr>
    </thead>
    {% for row in project_results %}
        <tr>
            <td><a href="javascript:void(0)" onclick="kanban_link_object({{ row.project_id }},'project')">PRO{{ row.project_id }}</a></td>
            <td>{{ row.organisation_id }}<br/>{{ row.project_name }}</td>
            <td>{{ row.project_end_date }}</td>
        </tr>
    {% endfor %}
</table>
<hr>
<h2>Tasks</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Task</td>
            <td>Description</td>
            <td>End Date</td>
        </tr>
    </thead>
    {% for row in task_results %}
        <tr>
            <td><a href="javascript:void(0)" onclick="kanban_link_object({{ row.task_id }},'task')">TASK{{ row.task_id }}</a></td>
            <td>{{ row.organisation_id }}<br/>{{ row.task_short_description }}</td>
            <td>{{ row.task_end_date }}</td>
        </tr>
    {% endfor %}
</table>
<hr>
<h2>Requirements</h2>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Requirements</td>
            <td>Description</td>
            <td>Requirement Type</td>
        </tr>
    </thead>
    {% for row in requirement_results %}
        <tr>
            <td><a href="javascript:void(0)" onclick="kanban_link_object({{ row.requirement_id }},'requirement')">REQ{{ row.requirement_id }}</a></td>
            <td>{{ row.requirement_title }}</td>
            <td>{{ row.requirement_type }}</td>
        </tr>
    {% endfor %}
</table>
