{% extends "NearBeach/partials/template.html" %}
{% load static %}
{% block content %}
    <kanban-edit-board v-bind:kanban-board-results="{{kanban_board_results}}"
                       v-bind:is-read-only="{{ kanban_board_is_closed }}"
                       v-bind:column-results="{{column_results}}"
                       v-bind:group-results="{{group_results}}"
                       v-bind:level-results="{{level_results}}"
                       v-bind:location-id="{{kanban_board_id}}"
                       v-bind:user-level="{{user_level}}"
                       v-bind:root-url="`{% url 'dashboard' %}`"
                       v-bind:static-url="`{% static '/' %}`"
                       v-bind:theme="`{{ theme }}`"
    ></kanban-edit-board>

    <kanban-group-permissions
            v-bind:theme="`{{ theme }}`"
            v-bind:is-read-only="{{ kanban_board_is_closed }}"
    ></kanban-group-permissions>

    <div class="spacer"></div>

    <kanban-public-links
            v-bind:theme="`{{ theme }}`"
            v-bind:is-read-only="{{ kanban_board_is_closed }}"
    ></kanban-public-links>

    <div class="spacer"></div>

    <kanban-danger-zone
            v-bind:kanban-board-status="`{{ kanban_board_status }}`"
            v-bind:theme="`{{ theme }}`"
    ></kanban-danger-zone>

	 <confirm-kanban-board-closure
             v-bind:theme="`{{ theme }}`"
    ></confirm-kanban-board-closure>

    <confirm-kanban-board-reopen
            v-bind:them="`{{ theme }}`"
    ></confirm-kanban-board-reopen>
{% endblock %}
