<h2>Link Project/Task/Requirements</h2>
<ul>
    <li>Column: {{ kanban_new_link_form.kanban_column }}</li>
    <li>Level: {{ kanban_new_link_form.kanban_level }}</li>
    <li><a href="javascript:void(0)" onclick="close_kanban_new_link()">Cancel Linking</a></li>
</ul>
<h4>Projects</h4>
<table>
    <tr>
        <td>Project</td>
        <td>Description</td>
        <td>End Date</td>
    </tr>
    {% for row in project_results %}
        <tr>
            <td><a href="javascript:void(0)" onclick="kanban_link_object({{ row.project_id }},'project')">PRO{{ row.project_id }}</a></td>
            <td>{{ row.organisation_id }}<br/>{{ row.project_name }}</td>
            <td>{{ row.project_end_date }}</td>
        </tr>
    {% endfor %}
</table>
<h4>Tasks</h4>
<table>
    <tr>
        <td>Task</td>
        <td>Description</td>
        <td>End Date</td>
    </tr>
    {% for row in task_results %}
        <tr>
            <td><a href="javascript:void(0)" onclick="kanban_link_object({{ row.task_id }},'task')">TASK{{ row.task_id }}</a></td>
            <td>{{ row.organisation_id }}<br/>{{ row.task_short_description }}</td>
            <td>{{ row.task_end_date }}</td>
        </tr>
    {% endfor %}
</table>
<h4>Requirements</h4>
<table>
    <tr>
        <td>Requirements</td>
        <td>Description</td>
        <td>Requirement Type</td>
    </tr>
    {% for row in requirement_results %}
        <tr>
            <td><a href="javascript:void(0)" onclick="kanban_link_object({{ row.requirement_id }},'requirement')">REQ{{ row.requirement_id }}</a></td>
            <td>{{ row.requirement_title }}</td>
            <td>{{ row.requirement_type }}</td>
        </tr>
    {% endfor %}
</table>
