{% csrf_token %}
<h2>Assigned Users</h2>
{% if users_results and task_permissions > 1 %}
    <select id="add_user_select" name="add_user_select" onchange="enable_disable_add_user()">
        <option value="------">-------</option>
        {% for row in users_results %}
            <option value="{{ row.id }}">{{ row.username }}: {{ row.first_name }} {{ row.last_name }}</option>
        {% endfor %}
    </select>
    <input type="submit" id="add_user_submit" name="add_user_submit" value="Add User" disabled="disabled"/>
{% endif %}
{% if assigned_results %}
    <table>
        <tr class="header">
            <td>Username</td>
            <td>First Name</td>
            <td>Last name</td>
            {% if task_permissions > 3 %}
                <td>Remove User</td>
            {% endif %}
        </tr>
        {% if assigned_results %}
            {% for row in assigned_results %}
                <tr>
                    <td>{{ row.user_id__username }}</td>
                    <td>{{ row.user_id__first_name }}</td>
                    <td>{{ row.user_id__last_name }}</td>
                    {% if task_permissions > 3 %}
                        <td><a href="javascript:void(0)" onchange="remove_user({{ row.user_id__id }})">Remove User</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% else %}
    <p>There are currently no staff members assigned to this project</p>
{% endif %}