{% csrf_token %}
<h2>Assigned Users</h2>
{% if users_results %}
    <select id="add_user_select" name="add_user_select" onchange="enable_disable_add_user()">
        <option value="------">-------</option>
        {% for row in users_results %}
            <option value="{{ row.id }}">{{ row.Name }}</option>
        {% endfor %}
    </select>
    <input type="submit" id="add_user_submit" name="add_user_submit" value="Add User" disabled="disabled"/>
{% endif %}
{% if assigned_results %}
    <table>
        <tr class="header">
            <td>Username</td>
            <td>First Name</td>
            <td>Last name</td>
        </tr>
        {% if assigned_results %}
            {% for row in assigned_results %}
                <tr>
                    <td>{{ row.user_id__username }}</td>
                    <td>{{ row.user_id__first_name }}</td>
                    <td>{{ row.user_id__last_name }}</td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% else %}
    <p>There are currently no staff members assigned to this project</p>
{% endif %}