{% extends "NearBeach/partials/template.html" %}
{% load static %}
{% block content %}
    <change-task-information v-bind:change-task-results="{{change_task_results}}"
                             v-bind:rfc-status="`{{rfc_status}}`"
                             v-bind:root-url="`{% url 'dashboard' %}`"
                             v-bind:user-level="{{user_level}}"
                             v-bind:user-list="{{user_list}}"
                             v-bind:destination="'change_task'"
                             v-bind:location-id="{{change_task_id}}"
                             v-bind:static-url="`{% static '/' %}`"
                             v-bind:theme="'{{ theme }}'"
    ></change-task-information>

    <br/>

    <change-task-modules
        v-bind:theme="`{{ theme }}`"
    ></change-task-modules>
{% endblock %}
