{% load nearbeach_extras %}
{% if quote_results %}
    <table class="table table-hover">
        <thead>
            <tr class="header">
                <td width="75%">Quote Title</td>
                <td width="10%">Quote Stage</td>
                <td width="15%">Quote Valid to</td>
            </tr>
        </thead>
        {% for row in quote_results %}
            <tr
                    {% if row.quote_valid_till|hours_ago:24 %}
                        class="table-danger"
                    {% endif %}
            >
                <td><a href="{% url 'quote_information' row.quote_id %}">{{ row.quote_title }}</a></td>
                <td>{{ row.quote_stage_id }}</td>
                <td>{{ row.quote_valid_till }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>There are no quotes.</p>
{% endif %}