{% if requirement_results %}
    <table class="table table-hover">
        <thead>
            <tr>
                <td width="5%">Req</td>
                <td width="75%">Requirement Name</td>
                <td width="10%">Requirement Type</td>
                <td width="10%">Requirement Status</td>
            </tr>
        </thead>
        {% for row in requirement_results %}
            <tr>
                <td><a href="{% url 'requirement_information' row.requirement_id %}">REQ{{ row.requirement_id }}</a></td>
                <td>{{ row.requirement_title }}</td>
                <td>{{ row.requirement_type }}</td>
                <td>{{ row.requirement_status }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, there are no requirements in your system. <a href="{% url 'new_requirement' %}">Click here to create a new requirement</a></p>
{% endif %}