{% load nearbeach_extras %}
{% if assigned_users_results %}
    <table class="table table-hover">
        <thead>
            <tr>
                <td>Project ID</td>
                <td>Project Name</td>
                <td>End Date</td>
            </tr>
        </thead>

        {% for row in assigned_users_results %}
            <tr
                    {% if row.project_id__project_end_date|hours_ago:24 %}
                        class="table-danger"
                    {% elif row.project_id__project_start_date|in_future:24 %}
                        class="table-success"
                    {% endif %}
            >
                <td><a href="{% url 'project_information' row.project_id__project_id %}">PRO{{ row.project_id__project_id }}</a></td>
                <td>{{ row.project_id__project_name }}</td>
                <td>{{ row.project_id__project_end_date }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, no projects have been assigned to you.</p>
{% endif %}