# requirement.txt
Django>=4.2.15
simplejson
pillow>=10.0.1
urllib3>=1.26.19
boto3
azure-storage-blob
azure-identity

# geolocation-python
# django-tinymce4-lite
# weasyprint
# pyperclip
# python-docx
# BeautifulSoup4
# pandoc
# pypandoc
# django_select2
# django-phonenumber-field
# phonenumbers


pip>=19.2 # not directly required, pinned by Snyk to avoid a vulnerability
