{% load static %}
<!-- Load NearBeach Webpack File -->
<script defer type="text/javascript" src="{% static 'NearBeach/NearBeach.min.js' %}"></script>

<!-- LOADING/SAVING MODAL -->
<div class="modal fade" id="loadingModal" tabindex="-1" aria-labelledby="loadingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content loading-modal">
            <div class="modal-body" id="loadingModalContent">
            </div>
        </div>
    </div>
</div>

<!-- Add in spacer -->
<div class="footer-spacer"></div>

<!-- Black bar with version -->
<div class="footer-version bg-dark">
    NearBeach Version - {{nearbeach_version}} | Django Version - {{django_version}}
</div>