{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- Navbar branding and burger menu -->
        <a class="navbar-brand" href="{% url 'dashboard' %}">
            <img src="{% static 'NearBeach/images/NearBeach_logo.svg' %}" width="30" height="30" alt="">
            NearBeach
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Menu Items -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- New Objects -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="newObjectsDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                    >
                        New Object
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="newObjectsDropdown">
                        <li><a class="dropdown-item" href="{% url 'new_organisation' %}">New Organisation</a></li>
                        <li><a class="dropdown-item" href="{% url 'new_customer' %}">New Customer</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="{% url 'new_kanban' %}">New Kanban Board</a></li>
                        <li><a class="dropdown-item" href="{% url 'new_project' %}">New Project</a></li>
                        <li><a class="dropdown-item" href="{% url 'new_requirement' %}">New Requirement</a></li>
                        <li><a class="dropdown-item" href="{% url 'new_task' %}">New Task</a></li>
                        <li><hr class="dropdown-divider"></li>
                        
                        <li><a class="dropdown-item" href="{% url 'new_request_for_change' %}">New Request For Change</a></li>
                    </ul>
                </li>

                <!-- Find Objects -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                    href="#"
                    id="findObjectsDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >
                        Find Objects
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="findObjectsDropdown">
                        <li><a class="dropdown-item" href="{% url 'search' %}">List All</a></li>
                        <li><hr class="dropdown-divider"></li>
                        
                        <li><a class="dropdown-item" href="{% url 'search_customer' %}">List Customers</a></li>
                        <li><a class="dropdown-item" href="{% url 'search_organisation' %}">List Organisations</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item" href="{% url 'search_tag' %}">List Tags</a></li>
                    </ul>
                </li>

                <!-- Administration -->
                {% if user.is_superuser %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                    href="#"
                    id="administrationDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    >
                        Administration
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="administrationDropdown">
                        <li><a class="dropdown-item" href="{% url 'search_notification' %}">Search Notifications</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'search_group' %}">Groups</a></li>
                        <li><a class="dropdown-item" href="{% url 'search_permission_set' %}">Permission Sets</a></li>
                        <li><a class="dropdown-item" href="{% url 'search_user' %}">Users</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>

            <!-- Right side of navbar -->
            <ul class="navbar-nav navbar-right">
                <form class="d-flex"
                      action="{% url 'search' %}"
                      method="POST"
                >
                    {% csrf_token %}
                    <input class="form-control mr-2"
                           id="id_search"
                           name="search"
                           type="search"
                           placeholder="Search"
                           aria-label="Search"
                           maxlength="250"
                    >
                    <button class="btn btn-outline-success"
                            type="submit"
                    >
                        Search
                    </button>
                </form>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="userDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false"
                    >
                        User
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{% url 'profile_information' %}">My Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
