<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title>NearBeach Beta</title>

    {% load static %}
    <!-- tinymce -->
    <script src="{% static '/NearBeach/tinymce/tinymce.min.js' %}"></script>

    <!-- fav icon -->
    <link rel="shortcut icon" type="image/png" href="{% static '/NearBeach/NearBeach_Small.png' %}"/>
</head>
<body>
    <header>
        <nav class="scrollhide-nav">
            <div class="top-bar">
                <!-- Left side of navbar -->
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <a href="{% url 'dashboard' %}" class="menu-text"> NearBeach</a>

                        <!--TIMELINE-->
                        <li>
                            <a href="#"><i class="fas fa-stream"></i> Timeline</a>
                        </li>

                        <!--NEW ITEMS-->
                        <li>
                            <a href="#"><i class="fas fa-plus"></i> New Object</a>
                            <ul class="menu vertical">
                                <li><a href="#">New Customer</a></li>
                                <li><a href="#">New Kanban Board</a></li>
                                <li><a href="#">New Opportunity</a></li>
                                <li><a href="#">New Organisation</a></li>
                                <li><a href="#">New Project</a></li>
                                <li><a href="#">New Request For Change</a></li>
                                <li><a href="{% url 'new_requirement' %}">
                                    New Requirement
                                </a></li>
                                <li><a href="#">New Task</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="#"><i class="fas fa-search"></i> Find Objects</a>
                            <ul class="menu vertical">
                                <li><a href="#">List All</a></li>
                                <li><a href="#">List by Tag</a></li>
                                <li><a href="#">List Customers</a></li>
                                <li><a href="#">List Kanban Boards</a></li>
                                <li><a href="#">List Organisations</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <!-- Right side of navbar -->
                <div class="top-bar-right">
                    <!--USER DROPDOWN -->
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a href="#"><i class="fas fa-user-tie"></i> User</a>
                            <ul class="menu vertical">
                                <li><a href="#"><i class="far fa-id-badge"></i> My Profile</a></li>
                                <li><a href="{% url 'logout' %}">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
