version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.1-browsers

    working_directory: ~/NearBeach

    steps:
      - checkout
      - run:
          name: install dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

      - run:
          name: run unit tests
          command: |
            . venv/bin/activate
            python manage.py test
