{% if group_list_results %}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <td>Assigned Group Name</td>
            <td>Delete Assigned Group</td>
        </tr>
    </thead>
    {% for row in group_list_results %}
        <tr>
            <td>{{ row.group_id }}</td>
            <td>
                {% if group_list_results.count == 1 %}
                    --- Can not remove last group ---
                {% else %}
                    <a href="javascript:void(0)" onclick="delete_group_item({{ row.object_assignment_id }})">Delete Group</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}