@import "_accessibility.css";
@import "@/styles/variables/_general_variables.css";

@font-face {
    font-family: "Roboto";
    src: url("@/assets/fonts/Roboto-Thin.ttf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "CalSans";
    src: url("@/assets/fonts/CalSans-Regular.ttf") format("truetype");
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-family: "CalSans",
    sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--text-red);
}

p, label, button {
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    line-height: 1.5rem;
    color: var(--text);
    margin-bottom: 0;
    @meida (--large-screen) {
        font-size: 1rem;
        line-height: 1.25rem;
    }
}

input {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    line-height: 1.75rem;
    padding: 0.5rem;
}
