{% extends 'NearBeach/template.html' %}
{% block content %}
{% load humanize %}
{% load static %}
    <div class="card mt-4">
        <div class="card-header">
            <h2>Project Information - {{ project_id }}</h2>
        </div>
        <div class="card-body">
            <h4>{{ project_results.project_name }}</h4>

            <div class="form-group">
                <label>Project Description</label>
                {{ project_readonly_form.media }}
                {{ project_readonly_form.project_description }}
            </div>

            {% if project_results.organisation_id %}
                <div class="form-group">
                    Organisation: {{ project_results.organisation_id }}
                </div>
            {% endif %}
            <div class="form-row">
                <div class="form-group col-md-4">Project Status: Completed</div>
                <div class="form-group col-md-4">
                    Start Date: {{ project_results.project_start_date }}
                </div>
                <div class="form-group col-md-4">
                    End Date: {{ project_results.project_end_date }}
                </div>
            </div>
        </div>
    </div>


    {% if to_do_results %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Project To Do</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td width="80%">To Do Item</td>
                            <td width="10%">Status</td>
                            <td width="10%">Closed by</td>
                        </tr>
                    </thead>
                    {% for row in to_do_results %}
                        <tr>
                            <td>{{ row.to_do }}</td>
                            <td>
                                {% if row.to_do_completed %}
                                    Completed
                                {% else %}
                                    Not Completed
                                {% endif %}
                            </td>
                            <td>
                                {% if row.to_do_completed %}
                                    {{ row.change_user }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}


    {% if project_history_collective %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Project History</h2>
            </div>
            <div class="card-body">
                {% for row in project_history_collective %}
                    <div class="form-group">
                        {{ row.submit_history }}
                    </div>
                    <div class="form-group">
                        {{ row.project_history }}
                    </div>
                {% endfor %}
            </div>
        </div>

    {% endif %}

    {% if email_results %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Project Email History</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td width="70%">Subject</td>
                            <td width="15%">Date</td>
                            <td width="15%">Sent By</td>
                        </tr>
                    </thead>
                    {% for row in email_results %}
                        <tr>
                            <td>
                                {% if email_permission > 1 %}
                                    <a href="{% url 'email_information' row.email_content_id %}">{{ row.email_subject }}</a>
                                {% else %}
                                    {{ row.email_subject }}
                                {% endif %}
                            </td>
                            <td>{{ row.date_created }}</td>
                            <td>{{ row.change_user }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}


    {% if associated_tasks_results %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Associated Tasks</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Task Id</td>
                            <td>Short Description</td>
                            <td>End Date</td>
                        </tr>
                    </thead>
                    {% for row in associated_tasks_results %}
                        <tr>
                        <td><a href="{% url 'task_information' row.task_id.task_id %}">Task - {{ row.task_id.task_id }}</a></td>
                        <td>{{ row.task_id }}</td>
                        <td>{{ row.task_id.task_end_date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    {% if project_customers_results %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Project Customers</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Customer Name</td>
                            <td>Customer Description</td>
                            <td>Customer Email</td>
                        </tr>
                    </thead>
                    {% for row in project_customers_results %}
                        <tr>
                            <td><a href="{% url 'customer_information' row.customer_id.customer_id %}">{{ row.customer_id.customer_first_name }} {{ row.customer_id.customer_last_name }}</a></td>
                            <td>{{ row.customer_description }}</td>
                            <td>{{ row.customer_id.customer_email }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    {% if costs_results %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Project Costs</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Item</td>
                            <td>Cost</td>
                            <td>Running Total</td>
                        </tr>
                    </thead>
                    {% for row in costs_results %}
                        <tr>
                            <td>{{ row.cost_description }}</td>
                            <td name="cost_amount">{{ row.cost_amount|intcomma }}</td>
                            <td name="running_total">--filled-by-javascript--</td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>GRAND TOTAL</td>
                        <td id="grand_total">--fill out--</td>
                    </tr>
                </table>
            </div>
        </div>
    {% endif %}

    {% if quote_results %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Project Quotes</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td width="50%">Quote Title</td>
                            <td width="25%">Valid Till</td>
                            <td width="25%">Quote Stage</td>
                        </tr>
                    </thead>
                    {% for row in quote_results %}
                        <tr>
                            <td><a href="{% url 'quote_information' row.quote_id %}">{{ row.quote_title }}</a></td>
                            <td>{{ row.quote_valid_till }}</td>
                            <td>{{ row.quote_stage_id }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    {% if bug_results %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Assigned Bugs</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Bug ID</td>
                            <td>Bug Client</td>
                            <td>Bug Description</td>
                            <td>Bug Status</td>
                            {% if bug_permission == 4 %}
                                <td>Remove Bug</td>
                            {% endif %}
                        </tr>
                    </thead>
                    {% for row in bug_results %}
                        <tr>
                            <td>{{ row.bug_code }}</td><!--get this to be hyperlinked to the bug :)-->
                            <td>{{ row.bug_client }}</td>
                            <td><a href="{{ row.bug_client.bug_client_url }}{{ row.bug_client.list_of_bug_client.api_bug }}{{ row.bug_code }}" target="_blank">{{ row.bug_description }}</a></td>
                            <td>{{ row.bug_status }}</td>
                            {% if bug_permission == 4 %}
                                <td><a href="javascript:void(0)" onclick="">Remove Bug</a></td><!--add in the javascript to allow this-->
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    {% if assigned_results %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Project Assigned Users</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Username</td>
                            <td>First Name</td>
                            <td>Last name</td>
                        </tr>
                    </thead>
                    {% if assigned_results %}
                        {% for row in assigned_results %}
                            <tr>
                                <td>{{ row.assigned_user__username }}</td>
                                <td>{{ row.assigned_user__first_name }}</td>
                                <td>{{ row.assigned_user__last_name }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    {% endif %}


    {% if group_list_results %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Project Assigned Groups</h2>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>Assigned Group Name</td>
                        </tr>
                    </thead>
                    {% for row in group_list_results %}
                        <tr>
                            <td>{{ row.group_id }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}

    {% if project_permissions == 4 and project_customer_results %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>Submitted Kudos</h2>
            </div>
            <div class="card-body">
                {% if kudos_results %}
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <td>Customer Name</td>
                                <td>Rating</td>
                                <td>Link</td>
                            </tr>
                        </thead>
                        {% for kudos in kudos_results %}
                            <tr>
                                <td>
                                    <a href="{% url 'customer_information' kudos.customer.customer_id %}">{{ kudos.customer.customer_first_name }} {{ kudos.customer.customer_last_name }}</a>
                                </td>
                                <td>{{ kudos.kudos_rating }}</td>
                                <td>
                                    <a href="{% url 'kudos_read_only' kudos.kudos_key %}">Link</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <form id="kudos_form" method="POST" action="{% url 'new_kudos' project_id %}">
                        {% csrf_token %}
                        Sorry, there has not been any kudos created.
                        <input class="btn btn-primary" type="submit" value="Click here to create kudos">
                    </form>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}