{% extends 'NearBeach/template.html' %}
{% block content %}
{% load static %}
    <h2>Project Information - {{ project_id }}</h2>
    <table>
        <tr><td>{{ project_results.project_name }}</td></tr>
        <tr><td>
            {{ project_readonly_form.media }}
            {{ project_readonly_form.project_description }}
        </td></tr>
        <tr><td>Organisation: {{ project_results.organisations_id }}</td></tr>
        <tr><td>Project Status: Completed</td></tr>
        <tr><td>Start Date: {{ project_results.project_start_date }}</td></tr>
        <tr><td>End Date: {{ project_results.project_end_date }}</td></tr>
    </table>

    <h2>Project To Do</h2>
    <table>
        <tr>
            <td width="80%">To Do Item</td>
            <td width="10%">Status</td>
            <td width="10%">Closed by</td>
        </tr>
        {% for row in to_do_results %}
            <tr>
                <td>{{ row.to_do }}</td>
                <td>
                    {% if row.to_do_completed %}
                        Completed
                    {% else %}
                        Not Completed
                    {% endif %}
                </td>
                <td>
                    {% if row.to_do_completed %}
                        {{ row.change_user }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if project_history_collective %}
        <h2>Project History</h2>
        <table>
            {% for row in project_history_collective %}
                <tr><td>{{ row.user_infomation }} - {{ row.user_id }} - {{ row.date_created }}</td></tr>
                <tr><td>{{ row.project_history }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}