{% extends 'NearBeach/template.html' %}
{% block content %}
{% load humanize %}
{% load static %}
    <h2>Project Information - {{ project_id }}</h2>
    <table>
        <tr><td>{{ project_results.project_name }}</td></tr>
        <tr><td>
            {{ project_readonly_form.media }}
            {{ project_readonly_form.project_description }}
        </td></tr>
        <tr><td>Organisation: {{ project_results.organisations_id }}</td></tr>
        <tr><td>Project Status: Completed</td></tr>
        <tr><td>Start Date: {{ project_results.project_start_date }}</td></tr>
        <tr><td>End Date: {{ project_results.project_end_date }}</td></tr>
    </table>

    <h2>Project To Do</h2>
    <table>
        <tr>
            <td width="80%">To Do Item</td>
            <td width="10%">Status</td>
            <td width="10%">Closed by</td>
        </tr>
        {% for row in to_do_results %}
            <tr>
                <td>{{ row.to_do }}</td>
                <td>
                    {% if row.to_do_completed %}
                        Completed
                    {% else %}
                        Not Completed
                    {% endif %}
                </td>
                <td>
                    {% if row.to_do_completed %}
                        {{ row.change_user }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if project_history_collective %}
        <h2>Project History</h2>
        <table>
            {% for row in project_history_collective %}
                <tr><td>{{ row.submit_history }}</td></tr>
                <tr><td>{{ row.project_history }}</td></tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if email_results %}
        <h2>Project Email History</h2>
        <table>
            <tr>
                <td width="70%">Subject</td>
                <td width="15%">Date</td>
                <td width="15%">Sent By</td>
            </tr>
            {% for row in email_results %}
                <tr>
                    <td>
                        {% if email_permission > 1 %}
                            <a href="{% url 'email_information' row.email_content_id %}">{{ row.email_subject }}</a>
                        {% else %}
                            {{ row.email_subject }}
                        {% endif %}
                    </td>
                    <td>{{ row.date_created }}</td>
                    <td>{{ row.change_user }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


    {% if associated_tasks_results %}
        <h2>Associated Tasks</h2>
        <table>
        <tr class="header"><td>Task Id</td><td>Short Description</td><td>End Date</td></tr>
        {% for row in associated_tasks_results %}
            <tr>
            <td><a href="{% url 'task_information' row.task_id.task_id %}">Task - {{ row.task_id.task_id }}</a></td>
            <td>{{ row.task_id }}</td>
            <td>{{ row.task_id.task_end_date }}</td>
            </tr>
        {% endfor %}

        </table>
    {% endif %}

    {% if project_customers_results %}
    <h2>Project Customers</h2>
    <table>
        <tr class="header">
            <td>Customer Name</td>
            <td>Customer Description</td>
            <td>Customer Email</td>
        </tr>
        {% for row in project_customers_results %}
            <tr>
                <td><a href="{% url 'customer_information' row.customer_id.customer_id %}">{{ row.customer_id.customer_first_name }} {{ row.customer_id.customer_last_name }}</a></td>
                <td>{{ row.customer_description }}</td>
                <td>{{ row.customer_id.customer_email }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if costs_results %}
        <h2>Project Costs</h2>
        <table>
            <tr class="header">
                <td>Item</td>
                <td>Cost</td>
                <td>Running Total</td>
            </tr>
            {% for row in costs_results %}
                <tr>
                    <td>{{ row.cost_description }}</td>
                    <td name="cost_amount">{{ row.cost_amount|intcomma }}</td>
                    <td name="running_total">--filled-by-javascript--</td>
                </tr>
            {% endfor %}
            <tr>
                <td>GRAND TOTAL</td>
                <td id="grand_total">--fill out--</td>
            </tr>
    </table>
    {% endif %}

    {% if project_documents_cost %}
        <h2>Project Documents</h2>
        Project documents will be re-written. Once rewritten the new documents will be stored here.
    {% endif %}

    {% if quote_results %}
        <h2>Project Quotes</h2>
        <table>
            <tr>
                <td width="50%">Quote Title</td>
                <td width="25%">Valid Till</td>
                <td width="25%">Quote Stage</td>
            </tr>
            {% for row in quote_results %}
                <tr>
                    <td><a href="{% url 'quote_information' row.quote_id %}">{{ row.quote_title }}</a></td>
                    <td>{{ row.quote_valid_till }}</td>
                    <td>{{ row.quote_stage_id }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if bug_results %}
        <h2>Assigned Bugs</h2>
        <table>
            <tr>
                <td>Bug ID</td>
                <td>Bug Client</td>
                <td>Bug Description</td>
                <td>Bug Status</td>
                {% if bug_permission == 4 %}
                    <td>Remove Bug</td>
                {% endif %}
            </tr>
            {% for row in bug_results %}
                <tr>
                    <td>{{ row.bug_code }}</td><!--get this to be hyperlinked to the bug :)-->
                    <td>{{ row.bug_client }}</td>
                    <td><a href="{{ row.bug_client.bug_client_url }}{{ row.bug_client.list_of_bug_client.api_bug }}{{ row.bug_code }}" target="_blank">{{ row.bug_description }}</a></td>
                    <td>{{ row.bug_status }}</td>
                    {% if bug_permission == 4 %}
                        <td><a href="javascript:void(0)" onclick="">Remove Bug</a></td><!--add in the javascript to allow this-->
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if assigned_results %}
        <h2>Project Assigned Users</h2>
        <table>
            <tr class="header">
                <td>Username</td>
                <td>First Name</td>
                <td>Last name</td>
            </tr>
            {% if assigned_results %}
                {% for row in assigned_results %}
                    <tr>
                        <td>{{ row.user_id__username }}</td>
                        <td>{{ row.user_id__first_name }}</td>
                        <td>{{ row.user_id__last_name }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    {% endif %}


    {% if group_list_results %}
        <h2>Project Assigned Groups</h2>
        <table>
            <tr>
                <td>Assigned Group Name</td>
                <td>Delete Assigned Group</td>
            </tr>
            {% for row in group_list_results %}
                <tr>
                    <td>{{ row.groups_id }}</td>
                    <td><a href="javascript:void(0)" onclick="delete_group_item({{ row.id }})">Delete Group</a></td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}