{% extends "NearBeach/partials/template_wide.html" %}
{% load static %}
{% block content %}
    <sprint-information
            v-bind:root-url="`{% url 'dashboard' %}`"
            v-bind:sprint-results="{{ sprint_results }}"
            v-bind:theme="`{{ theme }}`"
            v-bind:user-level="{{ user_level }}"
    ></sprint-information>

    <gantt-information
            v-bind:destination="'sprint'"
            v-bind:gantt-end-date="`{{ gantt_end_date }}`"
            v-bind:gantt-start-date="`{{ gantt_start_date }}`"
            v-bind:location-id="{{ sprint_id }}"
            v-bind:root-url="`{% url 'dashboard' %}`"
            v-bind:parent-status="`{{ sprint_status }}`"
            v-bind:theme="`{{ theme }}`"
    ></gantt-information>

{% endblock %}
