{% csrf_token %}
<h3>User Permissions</h3>
<table>
    <tr>
        <td width="80%">{{ opportunity_information_form.select_users }}</td>
        <td width="20%"><input type="submit" name="submit_contact" value="Add User(s)"/></td>
    </tr>
    {% if user_permissions %}
        {% for row in user_permissions %}
            <tr>
                <td>{{ row.username }} - {{ row.first_name }} {{ row.last_name }}</td>
                <td><a href="javascript:void(0)" onclick="delete_permission({{ row.opportunity_permissions_id }})">Delete Permission</a></td>
            </tr>
        {% endfor %}
    {% endif %}
</table>