{% extends "NearBeach/partials/template.html" %}
{% load static %}
{% block content %}

    {% if user_level == 1 %}
        <fieldset disabled="true">
    {% endif %}

    <customer-information v-bind:customer-results="{{customer_results}}"
                          v-bind:title-list="{{title_list}}"
                          v-bind:default-stakeholder-image="`{% static 'NearBeach/images/placeholder/product_tour.svg' %}`"
                          v-bind:organisation-results="{{organisation_results}}"
                          v-bind:root-url="`{% url 'dashboard' %}`"
                          v-bind:static-url="`{% static '/' %}`"
                          v-bind:user-level="{{user_level}}"
                          v-bind:theme="'{{ theme }}'"
    ></customer-information>

    {% if user_level == 1 %}
        </fieldset>
    {% endif %}
{% endblock %}
