<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% load staticfiles %}
    <h2>Organisation Documents</h2>
    {% if organisation_permissions > 1 or document_permissions > 0 %}
        <table>
            <tr>
                <td>Upload Document:</td>
                <td><input id="fileupload" type="file" name="file" data-url="{% url 'information_organisation_documents_uploads' organisation_id %}" multiple></td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="progress" style="border: none; width: 100%;">
                        <span id="upload_percent">No uploads occuring</span>
                        <div id="upload_progress" style="background-color: green; width: 0%; height: 20px;"></div>
                    </div>
                </td>
            </tr>
        </table>
        <script src="{% static '/NearBeach/javascript/jquery/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static '/NearBeach/javascript/jQuery-File-Upload-9.19.2/js/vendor/jquery.ui.widget.js' %}"></script>
        <script src="{% static '/NearBeach/javascript/jQuery-File-Upload-9.19.2/js/jquery.iframe-transport.js' %}"></script>
        <script src="{% static '/NearBeach/javascript/jQuery-File-Upload-9.19.2/js/jquery.fileupload.js' %}"></script>
    {% endif %}

    {% if organisation_document_results %}
        <h4>Organisation Documents</h4>
        <table>
            <tr>
                <td width="80%">Document(s)</td>
                <td width="20%">Delete</td>
            </tr>
            {% for row in organisation_document_results %}
                <tr id="row.document_key.document_key">
                    <td>
                        {% if row.document_description == "" %}
                           <a href="https://{{ request.META.HTTP_HOST }}{{ PRIVATE_MEDIA_URL }}{{ row.document_key.document_key }}">{{ row.document_key.document }}</a>
                        {% else %}
                           <a href="https://{{ request.META.HTTP_HOST }}{{ PRIVATE_MEDIA_URL }}{{ row.document_key.document_key }}">{{ row.document_key.document_description }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a onclick="delete_document('{{ row.document_key.document_key }}')" href="javascript:void(0);">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if customer_document_results %}
        <h4>Customer Documents associated to Organisation</h4>
        <table>
            <tr>
                <td width="20%">Customer Name</td>
                <td width="65%">Document(s)</td>
                <td width="15%">Delete</td>
            </tr>
            {% for row in customer_document_results %}
                <tr id="row.document_key.document_key">
                    <td>
                        <a href="{% url 'customer_information' row.customer_id.customer_id %}">
                            {{ row.customer_id.customer_first_name }} {{ row.customer_id.customer_last_name }}
                        </a>
                    </td>
                    <td>
                        {% if row.document_description == "" %}
                           <a href="https://{{ request.META.HTTP_HOST }}{{ PRIVATE_MEDIA_URL }}{{ row.document_key.document_key }}">{{ row.document_key.document }}</a>
                        {% else %}
                           <a href="https://{{ request.META.HTTP_HOST }}{{ PRIVATE_MEDIA_URL }}{{ row.document_key.document_key }}">{{ row.document_key.document_description }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a onclick="delete_document('{{ row.document_key.document_key }}')" href="javascript:void(0);">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <script>
    $(function () {
        $('#fileupload').fileupload({
            dataType: 'json',
            done: function (e, data) {
                load_customer_documents_list();
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $("#upload_percent").html(progress + "%");
                $("#upload_progress").css(
                    'width', progress + '%',
                );
            }
        });
    });
    </script>
</form>
