{% csrf_token %}
<h2>Organisation Documents</h2>
        <table>
            <tr class="header"><td width="250px">Field</td><td>Input</td></tr>
            <tr><td>Document Description:</td><td>{{ organisation_information_form.document_description }}</td></tr>
            <tr><td>Upload Document:</td><td>{{ organisation_information_form.document }}</td></tr>
        </table>
        <input type="submit" name="update" value="Upload Documents"/>
        <br/>
        {% if organisation_document_results %}
            <h4>Organisation Documents</h4>
            {% for row in organisation_document_results %}
                <a href="https://{{ request.META.HTTP_HOST }}{{ PRIVATE_MEDIA_URL }}{{ row.document_key.document_key }}">-- {{ row.document_key }}</a><br/>
            {% endfor %}
        {% endif %}
        {% if customer_document_results %}
            <h4>Customer Documents associated to Organisation</h4>
            {% for row in customer_document_results %}
                {% if row.document_description == "" %}
                    {{ row.customer_id }} - <a href="https://{{ request.META.HTTP_HOST }}{{ row.document.url }}">{{ row.document.name|slice:"10:" }}</a><br/>
                {%  else %}
                    {{ row.customer_id }} - <a href="https://{{ request.META.HTTP_HOST }}{{ row.document.url }}">{{ row.document_description }}</a><br/>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br/>
        <h2>Associated Projects & Tasks</h2>
        <ul>
            <li><a href="{% url 'new_project' organisation_results.organisations_id %}">Create New Project</a></li>
            <li><a href="{% url 'new_task' organisation_results.organisations_id %}">Create New Task</a></li>
        </ul>