{% extends "NearBeach/partials/template.html" %}
{% load static %}
{% block content %}
    <profile-information v-bind:user-results="{{user_results}}"
                         v-bind:root-url="`{% url 'dashboard' %}`"
                         v-bind:static-url="`{% static '' %}`"
                         v-bind:theme="`{{ theme }}`"
    ></profile-information>
    <br/>

    <update-profile-picture v-bind:user-profile="{{user_profile}}"
                            v-bind:theme="`{{ theme }}`"
    ></update-profile-picture>
    <br/>

    <!-- The location has a / in it, because that information is required for
    the URL to reset the password -->
    <reset-user-password v-bind:location="'user_information/'"
                         v-bind:username="{{username}}"
    ></reset-user-password>
{% endblock %}
