{% extends 'NearBeach/template.html' %}
{% load static %}
{% block content %}
    {% if project_status == 'Closed' or user_level == 1 %}
        <fieldset disabled="disabled">
    {% endif %}

    <project-information v-bind:project-results="{{project_results}}"
                         v-bind:default-stakeholder-image="`{% static 'NearBeach/images/placeholder/product_tour.svg' %}`"
                         v-bind:organisation-results="{{organisation_results}}"
                         v-bind:user-level="{{ user_level }}"
    ></project-information>
    {% if project_status == 'Closed' or user_level == 1 %}
        </fieldset>
    {% endif %}

    <br/>

    <parent-modules v-bind:destination="'project'"
                    v-bind:location-id="{{project_id}}"
    ></parent-modules>
{% endblock %}
