{% extends "NearBeach/partials/template.html" %}
{% load static %}
{% block content %}
    <new-request-for-change v-bind:group-results="{{ group_results }}"
                            v-bind:user-group-permissions="{{user_group_permissions}}"
                            v-bind:root-url="`{% url 'dashboard' %}`"
                            v-bind:static-url="`{% static '' %}`"
                            v-bind:theme="`{{ theme }}`"
                            v-bind:uuid="`{{ uuid }}`"
    ></new-request-for-change>
{% endblock %}
