<a href="javascript:void(0)" onclick="load_list_of_taxes_new()">New Tax</a>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <td>Tax Amount %</td>
            <td>Tax Description</td>
            <td>Tax Status</td>
        </tr>
    </thead>
    {% for row in list_of_taxes_results %}
        <tr>
            <td><a href="javascript:void(0)" onclick="load_list_of_taxes_edit({{ row.tax_id }})">{{ row.tax_amount }}%</a></td>
            <td>{{ row.tax_description }}</td>
            <td>
                {% if row.is_deleted == "FALSE" %}
                    <a href="javascript:void(0)" onclick="list_of_taxes_deactivate({{ row.tax_id }})">Deactivate Tax</a>
                {% else %}
                    <a href="javascript:void(0)" onclick="list_of_taxes_deactivate({{ row.tax_id }})">Reactivate Tax</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>