{% extends "../template_wider.html" %}
{% block content %}
{% load nearbeach_extras %}
{% load static %}
    <!-- STYLES -->
    <style type="text/css" media="screen">
		div.base {
			position: absolute;
			overflow: hidden;
			font-family: Arial;
			font-size: 8pt;
		}
		div.base#graph {
			border-style: solid;
			border-color: #F2F2F2;
			border-width: 1px;
			background: url('{% static "NearBeach/whiteboard/images/grid.gif" %}');
            width: 100%;
		}
	</style>

    <!-- MX Graph Source Code -->
    <script type="text/javascript" src="{% static 'NearBeach/js/mxClient.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'NearBeach/whiteboard/css/common.css' %}">

    <!-- MX Graph Settings -->
    <script type="text/javascript">
		mxGraph.prototype.htmlLabels = true;

		mxGraph.prototype.isWrapping = function(cell)
		{
			return true;
		};

		//When the user saves :)
        mxEditor.prototype.urlPost = "{% url 'whiteboard_save' whiteboard_id %}";
        mxEditor.prototype.save = function(url, linefeed) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            //Get the xml data
            var encoder = new mxCodec();
            var result = encoder.encode(editor.graph.getModel());
            var xml = mxUtils.getXml(result);

            $.ajax({
                url: '{% url "whiteboard_save" whiteboard_id %}',
                data: {
                    'whiteboard_xml': xml,
                },
                datatype: 'XML',
                type: 'POST',
                success: function(data) {
                    console.log("YAY");
                },
                error: function() {
                    console.log("FUCK");
                }
            });
        };


		mxConstants.DEFAULT_HOTSPOT = 1;

		// Enables guides
		mxGraphHandler.prototype.guidesEnabled = true;

	    // Alt disables guides
	    mxGuide.prototype.isEnabledForEvent = function(evt)
	    {
	    	return !mxEvent.isAltDown(evt);
	    };

		// Enables snapping waypoints to terminals
		mxEdgeHandler.prototype.snapToTerminals = true;

		window.onbeforeunload = function() { return mxResources.get('changesLost'); };
	</script>

	<!-- Loads and initializes the library -->
	<div id="graph" class="base"></div>
	<div id="status" class="base" align="right" style="white-space:nowrap;"></div>

	<!-- Example code -->
	<script type="text/javascript">
        //Global functions
        var editor;

		function createEditor(config) {
            //Try
            try {

                if (!mxClient.isBrowserSupported()) {
                    //mxUtils.error('Browser is not supported!', 200, false);
                    new_error("The Browser is not supported");

                    //Just return
                    return false;
                }


                mxObjectCodec.allowEval = true;
				var node = mxUtils.load(config).getDocumentElement();
                editor = new mxEditor(node);
				mxObjectCodec.allowEval = false;

				// Adds active border for panning inside the container
				editor.graph.createPanningManager = function()
				{
					var pm = new mxPanningManager(this);
					pm.border = 30;

					return pm;
				};

				editor.graph.allowAutoPanning = true;
				editor.graph.timerAutoScroll = true;

                var xml = `<root><mxCell id="2" value="Hello," vertex="1"><mxGeometry x="20" y="20" width="80" height="30" as="geometry"/></mxCell><mxCell id="3" value="World!" vertex="1"><mxGeometry x="200" y="150" width="80" height="30" as="geometry"/></mxCell><mxCell id="4" value="" edge="1" source="2" target="3"><mxGeometry relative="1" as="geometry"/></mxCell></root>`;
                //var xml = `{{ whiteboard_results.whiteboard_xml|safe }}`;

                var doc = mxUtils.parseXml(xml);
                var codec = new mxCodec(doc);
                var elt = doc.documentElement.firstChild.firstChild;
                var cells = [];

                while (elt != null)
                {
                  cells.push(codec.decode(elt));
                  elt = elt.nextSibling;
                }

                console.log("TRYING TO ADD CELLS: ",cells);
                //Add the cells to the graph
                editor.graph.addCells(cells);
                console.log("ADDED CELLS");

                //graph.addCells(cells);
                //codec.decode(doc.documentElement, graph.getModel());

				// Displays version in statusbar
				editor.setStatus('mxGraph '+mxClient.VERSION);
				console.log("GOT TO THE END");
            } catch (e) {
                new_error(`There was an issue loading the whiteboard: ${e}`);
            }
        }

        mxBasePath = "{% static 'NearBeach/whiteboard' %}";

        $('document').ready(function(){
            createEditor("{% url 'whiteboard_editor_xml' %}");
        });
	</script>
{% endblock %}