{% extends "../template_wider.html" %}
{% block content %}
{% load nearbeach_extras %}
{% load static %}
    <!-- STYLES -->
    <style type="text/css" media="screen">
		div.base {
			position: absolute;
			overflow: hidden;
			font-family: Arial;
			font-size: 8pt;
		}
		div.base#graph {
			border-style: solid;
			border-color: #F2F2F2;
			border-width: 1px;
			background: url({% static 'NearBeach/whiteboard/images/grid.gif' %});
		}
	</style>

    <!-- Sets the basepath for the library if not in same directory -->
	<script type="text/javascript">
		//mxBasePath = "{% static 'NearBeach/whiteboard' %}";
        const mx = require('imports?mxBasePath=>"{% static 'NearBeach/whiteboard' %}"!mxgraph-js');

        window['mxEditor'] = mx.mxEditor;
        window['mxGeometry'] = mx.mxGeometry;
        window['mxDefaultKeyHandler'] = mx.mxDefaultKeyHandler;
        window['mxDefaultPopupMenu'] = mx.mxDefaultPopupMenu;
        window['mxGraph'] = mx.mxGraph;
        window['mxStylesheet'] = mx.mxStylesheet;
        window['mxDefaultToolbar'] = mx.mxDefaultToolbar;
        window['mxGraphModel'] = mx.mxGraphModel;

	</script>

    <!-- MX Graph Source Code -->
    <script type="text/javascript" src="{% static 'NearBeach/js/mxClient.min.js' %}"></script>

    <!-- MX Graph Settings -->
    <script type="text/javascript">
		mxGraph.prototype.htmlLabels = true;

		mxGraph.prototype.isWrapping = function(cell)
		{
			return true;
		};

		mxConstants.DEFAULT_HOTSPOT = 1;

		// Enables guides
		mxGraphHandler.prototype.guidesEnabled = true;

	    // Alt disables guides
	    mxGuide.prototype.isEnabledForEvent = function(evt)
	    {
	    	return !mxEvent.isAltDown(evt);
	    };

		// Enables snapping waypoints to terminals
		mxEdgeHandler.prototype.snapToTerminals = true;

		window.onbeforeunload = function() { return mxResources.get('changesLost'); };
	</script>

	<!-- Loads and initializes the library -->
	<div id="graph" class="base"></div>
	<div id="status" class="base" align="right" style="white-space:nowrap;"></div>

	<!-- Example code -->
	<script type="text/javascript">
		function createEditor(config) {
            //Try
            try {

                if (!mxClient.isBrowserSupported()) {
                    //mxUtils.error('Browser is not supported!', 200, false);
                    new_error("The Browser is not supported");

                    //Just return
                    return false;
                }

                mxObjectCodec.allowEval = true;
				var node = mxUtils.load(config).getDocumentElement();
                var editor = new mxEditor(node);
				mxObjectCodec.allowEval = false;

				console.log("GOT HERE");
				// Adds active border for panning inside the container
				editor.graph.createPanningManager = function()
				{
					var pm = new mxPanningManager(this);
					pm.border = 30;

					return pm;
				};

				editor.graph.allowAutoPanning = true;
				editor.graph.timerAutoScroll = true;

				editor.addListener(mxEvent.OPEN, funct);

				// Prints the current root in the window title if the
				// current root of the graph changes (drilling).
				editor.addListener(mxEvent.ROOT, funct);
				funct(editor);

				// Displays version in statusbar
				editor.setStatus('mxGraph '+mxClient.VERSION);
				console.log("GOT TO THE END");
            } catch (e) {
                new_error(`There was an issue loading the whiteboard: ${e}`);
            }
        }

        $('document').ready(function(){
            createEditor("{% static 'whiteboard_editor.xml' %}");
        });
	</script>
{% endblock %}