{% load nearbeach_extras %}
{% if active_projects_results %}
    <table id="Active_Projects_Table" class="table table-hover">
        <thead>
            <tr>
                <td width="10%">Project</td>
                <td width="70%;">Description</td>
                <td width="20%;">End Date</td>
            </tr>
        </thead>
        {% for row in active_projects_results %}
            <tr
                    {% if row.project_end_date|hours_ago:24 %}
                        class="table-danger"
                    {% elif row.project_start_date|in_future:24 %}
                        class="table-success"
                    {% endif %}
            >
                <td><a href="{% url 'project_information' row.project_id %}">PRO{{ row.project_id }}</a></td>

                <td>
                    {% if not row.organisations_id == None %}
                        <a href="{% url 'organisation_information' row.organisations_id.organisations_id %}">{{ row.organisations_id }}</a><br/><br/>
                    {% endif %}
                    {{ row.project_name }}</td>
                <td>{{ row.project_end_date }}</td>
            </tr>
        {% endfor %}
    </table>

{% else %}
    <p>There are currently no active projects.</p>
{% endif %}