/* Mobile phone screens will have a screen size smaller than 640 * Small screens
will have a screen size of 640px or larger * Medium screen will have a screen
size of 768px or larger * etc. * * Small screens are considered mobile phones *
Medium screens are considered tables * Large screens are considered laptops *
etc. */
@custom-media --small-screen (min-width: 640px);
@custom-media --medium-screen (min-width: 768px);
@custom-media --large-screen (min-width: 1024px);
@custom-media --x-large-screen (min-width: 1280px);
@custom-media --2x-large-screen (min-width: 1536px);
