{% csrf_token %}
<h2>Contact History</h2>
{% if customer_permissions > 1 or contact_history_perm > 0 %}
<ul>
    <li>Contact Type {{  contact_history_form.contact_type }}</li>
    <li>Date {{ contact_history_form.start_date_year }}/{{ contact_history_form.start_date_month }}/{{ contact_history_form.start_date_day }}</li>
    <li>Time {{ contact_history_form.start_date_hour }}:{{ contact_history_form.start_date_minute }} {{ contact_history_form.start_date_meridiems }}</li>
    <li>{{ contact_history_form.contact_history }}</li>
    <li>{{ contact_history_form.contact_attachment }}</li>
    <li>
        <div id="progress" style="border: none; width: 100%;">
            <span id="upload_percent"><input type="submit" name="submit_contact" value="Submit Contact"/></span>
            <div id="upload_progress" style="background-color: green; width: 0%; height: 20px;"></div>
        </div>
    </li>
</ul>
{% endif %}
{% if customer_contact_history %}
    <div><h4>Contact History</h4></div>
    {% for row in customer_contact_history %}
        <p>
            {{ row.contact_type }} - Submitted by {{ row.user_id }} on {{ row.contact_date }}<br/>
            <textarea readonly>{{ row.contact_history }}</textarea>
            {% if row.document_key %}
                <br/>
                <a href="https://{{ request.META.HTTP_HOST }}{{ PRIVATE_MEDIA_URL }}{{ row.document_key.document_key }}" target="_blank">{{ row.document_key.document_description }}</a>
            {% endif %}
        </p>
    {% endfor %}
{% endif %}
<script>
    /*
    Setup the contact history to have this specific moment as the contact history. Saves the user
    having to update the date/time.
     */
    document.getElementById("id_start_date_year").value = "{{ contact_year }}";
    document.getElementById("id_start_date_month").value = "{{ contact_month }}";
    document.getElementById("id_start_date_day").value = "{{ contact_day }}";
    document.getElementById("id_start_date_minute").value = "{{ contact_minute }}";

    if ({{ contact_hour }} == 0 ) {
        document.getElementById("id_start_date_hour").value = "12";
        document.getElementById("id_start_date_meridiems").value = "AM";
    } else if ({{ contact_hour }} == 12) {
        document.getElementById("id_start_date_hour").value = {{ contact_hour }}
        document.getElementById("id_start_date_meridiems").value = "PM";
    } else if ({{ contact_hour }} > 12) {
         document.getElementById("id_start_date_hour").value = {{ contact_hour }} - 12;
         document.getElementById("id_start_date_meridiems").value = "PM";
    } else {
        document.getElementById("id_start_date_hour").value = {{ contact_hour }}
        document.getElementById("id_start_date_meridiems").value = "AM";
    }
</script>