<h2>Requirement Links</h2>
{% csrf_token %}
<table>
    <tr>
        <td width="15%">Requirement</td>
        <td width="70%">Title</td>
        <td width="15%">Links</td>
    </tr>
{% for row in requirement_results %}
    <tr>
        <td>Current Requirement</td>
        <td>{{ row.requirement_title }}</td>
        <td>
            {% for link in row.requirement_link_set.all %}
                {% if not link.project_id == None %}
                    <a href="{% url 'project_information' link.project_id.project_id %}">Project - {{ link.project_id.project_id }}</a><br/>
                {% elif not link.task_id == None %}
                    <a href="{% url 'task_information' link.task_id.task_id %}">Task - {{ link.task_id.task_id }}</a><br/>
                {% elif not link.organisations_id == None %}
                    <a href="{% url 'organisation_information' link.organisation_id.organisation_id %}">Organisations - {{ link.organisation_id.organisation_id }}</a><br/>
                {% else %}
                    Error with link {{ link.requirement_links_id }}<br/>
                {% endif %}
            {% endfor %}
        </td>

    </tr>
{% endfor %}
{% for row in item_results %}
    <tr>
        <td>{{ row.requirement_item_id }}</td>
        <td>{{ row.requirement_item_title }}</td>
        <td>
            {% for link in row.requirement_item_link_set.all %}
                {% if not link.project_id == None %}
                    <a href="{% url 'project_information' link.project_id.project_id %}">Project - {{ link.project_id.project_id }}</a><br/>
                {% elif not link.task_id == None %}
                    <a href="{% url 'task_information' link.task_id.task_id %}">Task - {{ link.task_id.task_id }}</a><br/>
                {% elif not link.organisation_id == None %}
                    <a href="{% url 'organisation_information' link.organisation_id.organisation_id %}">Organisations - {{ link.organisation_id.organisation_id }}</a><br/>
                {% else %}
                    Error with link {{ link.requirement_links_id }}<br/>
                {% endif %}
            {% endfor %}
        </td>
    </tr>
{% endfor %}
</table>
