body {
  background-color: #F4F2F2;
}

.container {
  margin: 70px auto;
  max-width: 1020px;
}

.cell {
  padding: 0px 10px;
}

hr {
  width: 100%;
  border-top: 2px solid #ABCEB4;
  margin: 15px 0px;
}