body {
    //background-color: #f4f2f2;
    background-color: var(--nb-background-color);
    padding-top: 55px;
}

main {
    min-height: calc(100vh - 169px);
}

.container {
    margin: 70px auto;
    max-width: 1020px;
    padding-left: 0;
    padding-right: 0;

    @media screen and (max-width: 767px) {
        padding-left: 5px;
        padding-right: 5px;
        margin: 10px 0 10px 0;
    }
}

.spacer {
    min-height: 30px;
}

.spacer-extra {
    min-height: 60px;
}

.footer-spacer {
    min-height: 80px;
}

.misc-modules {
    //min-height: 500px;
}
