.save-changes, .reject-rfc {
  float: right;
}

.organisation-profile-image, .customer-profile-image {
  //Location - organisation_informaiton
  width: 100%;
}

.rfc-submit-row {
  margin-top: 15px;
}

.change-task-button {
    margin: 5px 0;
    width: 100%;
}