.card {
    h1 {
        width: 100%;
        font-size: 35px;
        font-weight: bold;
        margin-bottom: -10px;
        margin-top: 3px;
    }

    h2 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
    }

    h3 {
        font-size: 15px;
        font-weight: bold;
    }

    hr {
        //width: 100%;
        border-top: 2px solid #abceb4;
        margin: 15px -1rem 30px -1rem;
    }

    .loader-image {
        width: 500px;
        position: absolute;
        transform: translate(75px, 30px);

        @media screen and (max-width: 1020px) {
            width: 45vw;
            transform: translate(10vw, 30px);
        }
        @media screen and (max-width: 767px) {
            width: 70vw;
            transform: translate(15vw, 30px);
        }
    }

    .v-select {
        margin-right: 10px;
    }



    .customer-details,
    .organisation-details {
        padding-left: 130px;
        min-height: 120px;
        margin-bottom: 15px;

        .customer-email,
        .customer-link,
        .organisation-email,
        .organisation-link {
            font-weight: lighter;
            color: var(--bs-card-color);
            font-size: 15px;
            margin-bottom: 2px;

            & svg {
                width: 14px;
                color: var(--bs-card-color);
            }
        }

        .customer-name,
        .organisation-name {
            margin-bottom: 6px;
            font-weight: bold;
            font-size: 20px;
        }

        .customer-image,
        .organisation-image {
            position: absolute;
            transform: translateX(-130px);
            width: 120px;
            height: 120px;
            border-radius: 12px;
            background-color: #ddd;
            object-fit: contain;
        }
    }

    .requirement-item-spacer,
    .customers-module-spacer,
    .module-spacer {
        min-height: 240px;
    }

    .group-and-user-table {
        max-width: 350px;
    }

    .user-table-module {
        max-width: 450px;

        .user-card-email {
            font-weight: lighter;
            colour: #737373;
            font-size: 15px;
            margin-bottom: 2px;
        }

        .default-user-profile {
            width: 100px;
            border-radius: 50%;
        }
    }

    .search-organisation,
    .search-groups {
        max-width: 250px;
    }

    .customer-profile-picture {
        display: flex;
        justify-content: center;
    }
}

.search-card {
    margin-bottom: 25px;
}

.submit-rfc-card {
    margin-top: 50px;
}

.card-priority-line {
    width: 93%;
    height: 5px;

    &.priority-highest {
        background: rgb(255, 83, 75);
        background: rgba(255, 83, 75, 1);
    }

    &.priority-high {
        background: rgb(255, 172, 78);
        background: linear-gradient(90deg, rgba(255, 172, 78, 1) 50%, var(--bs-list-group-bg) 100%);
    }

    &.priority-normal {
        background: rgb(115, 223, 175);
        background: linear-gradient(90deg, rgba(115, 223, 175, 1) 0%, var(--bs-list-group-bg) 80%);
    }

    &.priority-low {
        background: rgb(73, 197, 238);
        background: linear-gradient(90deg, rgba(73, 197, 238, 1) 0%, var(--bs-list-group-bg) 50%);
    }

    &.priority-lowest {
        background: rgb(212, 212, 212);
        background: linear-gradient(90deg, rgba(212, 212, 212, 1) 0%, var(--bs-list-group-bg) 35%);
    }
}

.card-detail--buttons {
    display: flex;
    justify-content: space-between;

    button:first-child {
        display: none;
    }

    @media screen and (min-width: 767px) {
        display: block;

        button:first-child {
            display: inline;
        }
    }
}
