.customer-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;


    .customer-card {
        width: calc(100% - 10px);
        height: 75px;
        border: var(--nb-object-card--border);
        padding: 10px 5px;
        background-color: var(--nb-object-card--background-color);
        display: flex;
        flex-direction: row;
        margin: 10px 5px 0 5px;

        @media screen and (min-width: 767px) {
            width: calc(33% - 10px);
        }

        .customer-card--details {
            display: flex;
            flex-direction: column;
            width: calc(100% - 92px);
            white-space: nowrap;
            overflow: clip;
            margin-right: 10px;

            .customer-card--email {
                flex-wrap: nowrap;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-size: 12px;
                font-weight: lighter;
            }
        }

        img {
            width: 55px;
            height: 55px;
            object-fit: contain;
            margin-right: 7px;
        }

        .customer-card--remove {
            // position: relative;
            // right: 13px;
            width: 20px;
            color: red;
        }
    }
}