.gantt-chart {
    position: relative;
    margin: 5px;
    //padding-bottom: 50px;
    //overflow: scroll;
    overflow: auto;
    scrollbar-color: orange lightyellow;
    background-color: var(--nb-object-card--background-color);

    .gantt-header {
        display: flex;
        flex-direction: row;

        .gantt-header--information {
            width: 900px;
            max-width: 900px;
            min-width: 900px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            font-weight: bold;
            padding: 0 0 0 5px;
            border-right: 1px solid lightgray;

            .gantt-header--title {
                width: 360px;
            }

            .gantt-header--start-date, .gantt-header--end-date, .gantt-header--status {
                width: 180px;
                padding: 5px;
            }
        }

        .gantt-header--dates {
            display: flex;
            flex-direction: row;

            .gantt-header--date {
                width: 48px;
                //background-color: lightgrey;
                //border: solid 1px dimgray;
                //color: black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-right: solid lightgray 1px;

                .dayText {
                    font-weight: lighter;
                }
            }
        }

        .gantt-header--months {
            display: flex;
            flex-direction: row;
            padding-top: 5px;

            .gantt-header--month {
                //background-color: lightblue;
                //border: solid 1px lightskyblue;
                //color: black;
                font-weight: bold;
                border-right: 1px solid lightgray;
                padding-left: 5px;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }

    .gantt-row {
        display: flex;
        flex-direction: row;
        margin: 0;
        -webkit-user-select: none;
        user-select: none;

        .gantt-row--information {
            width: 900px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 0 0 0 5px;
            border-right: 1px solid lightgray;

            .gantt-row--title {
                width: 360px;
                font-weight: lighter;
                white-space: nowrap;
                overflow: clip;
                text-overflow: ellipsis;
            }

            .gantt-row--start-date, .gantt-row--end-date, .gantt-row--status {
                width: 180px;
                padding: 5px;
            }
        }

        .gantt-row--render {
            .gantt-row--level-0 {
                .gantt-row--bar {
                    background-color: var(--nb-sprint-level-0-background-color);
                }
            }

            .gantt-row--level-1 {
                .gantt-row--bar {
                    background-color: var(--nb-sprint-level-1-background-color);
                }
            }

            .gantt-row--level-2 {
                .gantt-row--bar {
                    background-color: var(--nb-sprint-level-2-background-color);
                }
            }

            .gantt-row--render-bar {
                position: absolute;
                display: flex;
                flex-direction: row;

                .gantt-row--bar {
                    display: flex;
                    //background-color: var(--nb-kanban-level-div-background-color);
                    min-width: 24px;
                    height: 20px;
                    margin-top: 10px;

                    .gantt-row--bar-start, .gantt-row--bar-end {
                        height: inherit;
                        width: 7px;
                        cursor: col-resize;
                        background-color: rgba(0, 0, 0, 0.45);
                    }

                    .gantt-row--bar-middle {
                        height: inherit;
                        width: calc(100% - 14px);
                        cursor: grab;
                    }

                }
            }
        }

        &:last-child {
            .gantt-row--information {
                padding-bottom: 50px;
            }
        }
    }
}

.gantt-chart-row-destination {
    background-color: var(--nb-document-hover);
}
