// CSS For the login screen -> Move into it's own file soon
body {
    margin: 0;
    padding: 0;
}

h1 {
  font-size: 30px;
}

input {
    width: 100%;
}

label {
    color: #fff;
    text-shadow: #000;
}

.background {
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    //Fonts
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.login-dialog {

    input {
        box-sizing: border-box;
        margin-bottom: 15px;
    }

    .row.columns {
        margin-bottom: 15px;
    }

    position: absolute;
    left: 0%;
    right: 0%;
    top: 25%;

    max-width: 300px;
    margin: auto;

    @media screen and (min-width: 1000px) {
        position: absolute;
        left: 75%;
        top: 50%;

        max-width: 300px;

        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    @media screen and (min-width: 1000px) {
        max-width: 400px;
    }
    @media screen and (max-width: 495px) {
        h1 {
            font-size: 22px;
        }
    }
}

.login-alert {
    background-color: rgba(100,0,0,0.5);
    border: 2px solid rgb(100,0,0);
    padding: 10px;
    margin-bottom: 15px;
}

