// CSS For the login screen -> Move into it's own file soon
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 37px;

    @media (min-width: 576px) {
        font-size: 45px;
    }
}

input {
    width: 100%;
}

label {
    color: #fff;
    text-shadow: #000;
    font-size: 25px;
    line-height: 30px;
}

a,
a:visited {
    color: white;
}

.background {
    background-size: cover;
    background-position: center;
    min-height: 100vh;

    //Fonts
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    font-family: fa5-proxima-nova, "Helvetica Neue", Helvetica, Arial,
    sans-serif;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;

    @media screen and (min-width: 992px) {
        flex-direction: row;
    }

    .alert {
        text-shadow: none;
    }
}

// Breakpoint 	Class infix 	Dimensions
// Extra small 	None 	<576px
// Small 	sm 	≥576px
// Medium 	md 	≥768px
// Large 	lg 	≥992px
// Extra large 	xl 	≥1200px
// Extra extra large 	xxl 	≥1400px

.login-dialog {
    input {
        box-sizing: border-box;
        // margin-bottom: 15px;
    }

    // .row.columns {
    //     margin-bottom: 15px;
    // }
    .form-group {
        margin-bottom: 15px;
    }
}

.login-alert {
    background-color: rgba(100, 0, 0, 0.5);
    border: 2px solid rgb(100, 0, 0);
    padding: 10px;
    margin-bottom: 15px;
}

.login-notifications {
    // background-color: rgba(138, 128, 252, 0.45);
    background-color: rgba(148, 163, 184, 0.65);
}

.carousel-inner {
    width: 80%;
    margin: 30px auto;
}

.alert-heading {
    margin-top: 0;
}
