.planner-header {
    margin: 10px 5px;
}

.planner-button {
    margin: 0 0 10px 5px
}

.my-planner {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    overflow: auto;
    scrollbar-color: orange lightyellow;

    .my-planner--header {
        display: flex;
        flex-direction: row;

        .my-planner--header-single-day {
            width: 400px;
            min-width: 400px;
            height: 64px;
            margin: 1px;
            padding: 10px;
            text-align: center;
            background-color: var(--nb-kanban-column-header-background-color);
        }
    }

    .my-planner--body {
        display: flex;
        flex-direction: row;

        .my-planner--single-day {
            width: 400px;
            min-width: 400px;
            min-height: 400px;
            margin: 1px;
            background-color: var(--nb-kanban-cell-background-color);
            border-radius: var(--bs-list-group-border-radius);
        }
    }
}

.todays-todo {
    background-color: var(--nb-todays-todo-background-color);
}
