.note-history {
    display: flex;
    flex-direction: column;

    .note-history--row {
        display: flex;
        flex-direction: row;
        margin-top: 25px;
        border-top: solid 1px #656565;
        padding-top: 25px;

        .note-history--profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 2px;
            min-width: 120px;

            .note-history--profile-picture {
                height: 100px;
                width: 100px;
            }

            .note-history--username {}

            .note-history--date {
                padding: 4px 0;
                font-size: 10px;
            }

            .note-history--edit-button {
                font-size: 10px;
                width: 100%;
                display: flex;
                flex-direction: column;

                button {
                    width: 100%;
                    margin-bottom: 2px;
                }
            }
        }

        .note-history--note {
            width: 100%;
            padding: 0 0 0 10px;
        }
    }
}