.object-card-list {    
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .object-card {
        display: flex;
        flex-direction: column;
        border: 1px solid lightgray;
        margin: 10px 5px;
        padding: 10px;
        background-color: rgba(252, 252, 252, 0.9411764706);

        @media screen and (min-width: 767px) {
            flex-direction: row;
        }
        
        .object-card--detail {
            width: 100%;

            @media screen and (min-width: 767px) {
                width: 82%;
            }

            a {
                text-decoration: none;
    
                .object-card--detail--link {
                    color: #4f4f4f;
                    font-weight: lighter;
                }
    
                .object-card--detail--description {
                    white-space: nowrap;
                    overflow: clip;
                }
            }
        }

        .object-card--status {
            width: 100%;
            margin-top: 5px;
            
            @media screen and (min-width: 767px) {
                width: 18%;
            }
        }
        

    }
}