.change-task--detail {
    display: flex;
    flex-direction: column;
    border: var(--nb-object-card--border);
    margin: 10px 5px;
    padding: 10px 5px;
    background-color: var(--nb-object-card--background-color);

    .change-task--dates,
    .change-task--responsibility {
        color: var(--nb-change-task-subtext);
        font-weight: lighter;
    }

    .change-task--name {
        a {
            text-decoration: none;
            color: black;
        }
    }

    .change-task--responsibility {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .change-task--buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 15px 0 10px 0;

        button {
            margin: 10px 0;
        }

        @media screen and (min-width: 577px) {
            flex-direction: row;
        }
    }

    > a {
        text-decoration: none;
    }

    &.change-task--selected {
        background-color: rgb(178, 230, 253);
    }

    .change-task--blocked-by {
        margin-top: 15px;
    }
}