thead {
  background-color: #cecece;
}

.requirement-link-type, .small-text {
  padding: 0;
  margin: 0;
  font-weight: lighter;
}

td {
  word-wrap: anywhere;
  a {
    text-decoration: none;
    color: black
  }
  a:hover {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px #cecece;
  }
}