table {
    margin-bottom: 2rem !important;
}

thead > tr > td {
    background-color: rgb(78, 78, 78) !important;
    color: rgb(255, 255, 255) !important;
    font-weight: bold;
}

.requirement-link-type,
.small-text {
    padding: 0;
    margin: 0;
    font-weight: 300;
}

td {
    word-wrap: anywhere;

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: black;
        text-shadow: 1px 1px #cecece;
    }
}

.remove-link {
    color: red;
    float: right;
    font-size: 20px;
    transform: translateY(-4px);
}
