.tag-list {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.single-tag {
    padding: 10px 10px 10px 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0 4px 16px,
    rgba(17, 17, 26, 0.05) 0 8px 32px;

    span {
        margin-left: 10px;
    }
}

.single-colour {
    height: 50px;
    width: 50px;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: larger;
}


.selected-colour {
    border: 3px solid rgba(51, 51, 51, 0.75);
    background-image: repeating-linear-gradient(
                    45deg,
                    transparent,
                    transparent 3px,
                    rgba(255, 255, 255, 0.5) 10px,
                    rgba(255, 255, 255, 0.5) 10px
    );
}
