.wizard-results {
    .wizard-results--card {
        display: flex;
        flex-direction: row;
        border: var(--nb-object-card--border);
        margin: 10px 0;
        padding: 10px 5px;
        background-color: var(--nb-object-card--background-color);

        .wizard-results--card--tick {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
        }

        .wizard-results--card--content {

        }
    }
}