{% if assigned_user_results %}
    <table class="table table-hover table-striped">
        <thead>
            <tr class="header">
                <td>Username</td>
                <td>First Name</td>
                <td>Last name</td>
                {% if permissions > 3 %}
                    <td>Remove User</td>
                {% endif %}
            </tr>
        </thead>
        {% if assigned_user_results %}
            {% for row in assigned_user_results %}
                <tr>
                    <td>{{ row.assigned_user.username }}</td>
                    <td>{{ row.assigned_user.first_name }}</td>
                    <td>{{ row.assigned_user.last_name }}</td>
                    {% if permissions > 3 %}
                        <td><a href="javascript:void(0)" onclick="assigned_user_delete({{ row.object_assignment_id }})">Remove User</a></td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
{% else %}
    <p>There are currently no staff members assigned to this project</p>
{% endif %}