<h2>Projects Assigned to me</h2>
{% if assigned_users_results %}
    <table>
        <tr>
            <td>Project ID</td>
            <td>Project Name</td>
            <td>End Date</td>
        </tr>
        {% for row in assigned_users_results %}
            <tr>
                <td><a href="{% url 'project_information' row.project_id.project_id %}">PRO{{ row.project_id.project_id }}</a></td>
                <td>{{ row.project_id.project_name }}</td>
                <td>{{ row.project_id.project_end_date }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, no projects have been assigned to you.</p>
{% endif %}