<h2>Tasks Assigned to me</h2>
{% if assigned_users_results %}
    <table>
        <tr>
            <td>Task ID</td>
            <td>Task Short Description</td>
            <td>End Date</td>
        </tr>
        {% for row in assigned_users_results %}
            <tr>
                <td><a href="{% url 'task_information' row.task_id.tasks_id%}">Task{{ row.task_id.tasks_id }}</a></td>
                <td>{{ row.task_id.task_short_description}}</td>
                <td>{{ row.task_id.task_end_date }}</td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Sorry, no tasks have been assigned to you.</p>
{% endif %}