<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <meta charset="UTF-8">
    <title>NearBeach Login</title>

    <!-- Webpack file with Foundation -->
    {% load static %}
    <script defer
            src="{% static 'NearBeach/login.min.js' %}"
            id="login_script"
            data-static="{% static '' %}"
    ></script>

    <!-- fav icon -->
    <link async rel="shortcut icon" type="image/png" href="{% static 'NearBeach/NearBeach_Small.png' %}"/>
</head>
<body>
    <div class="background">
        <div class="login-dialog">
            <h1>NearBeach Password Reset</h1>
            <form action="{%  url 'password_reset' %}" method="post" id="login-form">
                {% csrf_token %}

                <!-- Reset instructions -->
                <div>
                    Have you forgotten your password? Not a problem. Please enter in your email and we will send you instructions on how to reset it.
                </div>

                <!-- Password Reset Form -->
                <div class="form-group">
                    <label for="id_username">Email</label>
                    {{ form.email }}
                </div>

                <button class="btn btn-primary" type="submit">Send Email</button>
            </form>
        </div>
    </div>
</body>
</html>
