{% if assign_group_add_form.add_group|length > 1 %}
    {% csrf_token %}
    {{ assign_group_add_form.add_group }}
    <input id="submit_add_group" type="submit" value="Assign New Group" disabled width="20%">
    <script>
        function add_group_change() {
            if ($("#id_add_group").val() != "") {
                $("#submit_add_group").prop("disabled",false)
            } else {
                $("#submit_add_group").prop("disabled",true)
            }
        }
    </script>
{% endif %}
