{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://cdn.nearbeach.org/0.31.102/NearBeach/NearBeach_Small.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NearBeach Application</title>
    <script type="module" crossorigin src="{% static 'NearBeach/index-CBymsJ2l.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% static 'index-mddKf4xN.css' %}">
</head>
<body style="background-color:hotpink;margin:0;padding:0;">
    <div id="app"></div>
</body>
</html>
