<div class="card mt-4">
    <div class="card-header">
        <h2>Assigned Bugs</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <td>Bug ID</td>
                    <td>Bug Client</td>
                    <td>Bug Description</td>
                    <td>Bug Status</td>
                    {% if bug_permission == 4 %}
                        <td>Remove Bug</td>
                    {% endif %}
                </tr>
            </thead>
            {% for row in bug_results %}
                <tr>
                    <td>{{ row.bug_code }}</td><!--get this to be hyperlinked to the bug :)-->
                    <td>{{ row.bug_client }}</td>
                    <td><a href="{{ row.bug_client.bug_client_url }}{{ row.bug_client.list_of_bug_client.api_bug }}{{ row.bug_code }}" target="_blank">{{ row.bug_description }}</a></td>
                    <td>{{ row.bug_status }}</td>
                    {% if bug_permission == 4 %}
                        <td><a href="javascript:void(0)" onclick="">Remove Bug</a></td><!--add in the javascript to allow this-->
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

