{% csrf_token %}
{% load humanize %}
<h2>Costs</h2>
{% if cost_permissions > 1 %}
    <table>
        <tr>
            <td width="60%">{{ cost_information_form.cost_description }}</td>
            <td width="20%">{{ cost_information_form.cost_amount }}</td>
            <td width="20%"><input type="submit" name="add_cost_submit" id="add_cost_submit" value="Add Cost to Task" disabled="disabled"></td>
        </tr>
    </table>
{% endif %}
<br/>
{% if cost_zip_results %}
    <table>
        <tr class="header">
            <td>Item</td>
            <td>Cost</td>
            <td>Running Total</td>
            <td>Delete</td>
        </tr>
        {% for row, running_total in cost_zip_results %}
            <tr>
                <td>{{ row.cost_description }}</td>
                <td name="cost_amount">{{ row.cost_amount|intcomma }}</td>
                <td name="running_total">{{ running_total|intcomma }}</td>
                <td>
                    {% if cost_permissions > 1 %}
                        {% if row.project_id %}
                            <a href="javascript:void(0)" onclick="delete_cost({{ row.cost_id }},{{ row.project_id.project_id }})">Remove Cost</a>
                        {% else %}
                            <a href="javascript:void(0)" onclick="delete_cost({{ row.cost_id }},{{ row.task_id.task_id }})">Remove Cost</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td>GRAND TOTAL</td>
            <td id="grand_total">{{ grand_total }}</td>
        </tr>
    </table>
{% else %}
    <p>No cost associated with this task</p>
{% endif %}