{% extends "./template.html" %}
{% block content %}
    <script>
        function on_page_load() {
            //EXTRACT ready for approval
            $.ajax({
                url: '/dashboard/ready_for_approval/',
                data: {},
                dataType: 'HTML',
                type:'GET',
                success: function(data) {
                    $('#ready_for_approval').html(data);
                },
                error: function(){
                    alert("Sorry, the 'Ready for approval' had issues loading");
                }
            });
            //EXTRACT Group ACTIVE PROJECTS
            $.ajax({
                url: '/dashboard/group_active_projects/',
                data: {},
                dataType: 'HTML',
                type:'GET',
                success: function(data) {
                    $('#group_active_projects').html(data);
                },
                error: function(){
                    alert("Sorry, the 'Group Active Projects' had issues loading.");
                }
            });
            //EXTRACT Group ACTIVE TASKS
            $.ajax({
                url: '/dashboard/group_active_tasks/',
                data: {},
                dataType: 'HTML',
                type:'GET',
                success: function(data) {
                    $('#group_active_tasks').html(data);
                },
                error: function(){
                    alert("Sorry, the 'Group Active Tasks' had issues loading");
                }
            });
            //EXTRACT Group Request for change
            $.ajax({
                url: '/dashboard/group_request_for_change/',
                data: {},
                dataType: 'HTML',
                type:'GET',
                success: function(data) {
                    $('#group_request_for_change').html(data);
                },
                error: function(){
                    alert("Sorry, the 'Group Request for Change' had issues loading");
                }
            });
            $.ajax({
                url: '/dashboard/active_quotes/',
                data: {},
                dataType: "HTML",
                type: "GET",
                success: function(data) {
                    $("#active_quotes").html(data);
                },
                error: function() {
                    alert("Sorry, the active quotes could not load");
                }
            });
            $.ajax({
                url: '/dashboard/active_requirements/',
                data: {},
                dataType: "HTML",
                type: "GET",
                success: function(data) {
                    $("#active_requirements").html(data);
                },
                error: function() {
                    alert("Sorry, the 'Active Requirements' dashboard widget could not load");
                }
            });
            $.ajax({
                url: '/dashboard/active_projects/',
                data: {},
                dataType: 'HTML',
                type:'GET',
                success: function(data) {
                    $('#active_projects').html(data);
                },
                error: function(){
                    alert("Sorry");
                }
            });
                                    $.ajax({
                url: '/dashboard/active_tasks/',
                data: {},
                dataType: 'HTML',
                type:'GET',
                success: function(data) {
                    $('#active_tasks').html(data);
                },
                error: function(){
                    alert("Sorry, the 'Active Tasks' had issues loading");
                }
            });
            $.ajax({
                url: '/dashboard/group_opportunities/',
                data: {},
                dataType: 'HTML',
                type:'GET',
                success: function(data) {
                    $('#group_opportunities').html(data);
                },
                error: function(){
                    alert("Sorry, the 'Group Opportunities' had issues loading");
                }
            });
            $.ajax({
                url: '/dashboard/opportunities/',
                data: {},
                dataType: 'HTML',
                type:'GET',
                success: function(data) {
                    $('#opportunities').html(data);
                },
                error: function(){
                    alert("Sorry, the 'Opportunities' had issues loading");
                }
            });
        }
    </script>
    <body onload="on_page_load()">
        <div class="card mt-4">
            <div class="card-header">
                <h1>NearBeach Dashboard</h1>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="filter_tables">Filter dashboard</label>
                    <input id="filter_tables" type="text" placeholder="Filter..." onkeyup="apply_filters()" style="width: 100%;">
                </div>
            </div>
        </div>

        <div id="ready_for_approval"></div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>My Projects</h2>
            </div>
            <div class="card-body" id="active_projects">
                Loading...
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>My Tasks</h2>
            </div>
            <div class="card-body" id="active_tasks">
                Loading...
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Quotes</h2>
            </div>
            <div class="card-body" id="active_quotes">
                Loading...
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Requirements</h2>
            </div>
            <div class="card-body" id="active_requirements">
                Loading...
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Opportunities</h2>
            </div>
            <div class="card-body" id="opportunities">
                Loading...
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Group Projects</h2>
            </div>
            <div class="card-body" id="group_active_projects">
                Loading...
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Group Tasks</h2>
            </div>
            <div class="card-body" id="group_active_tasks">
                Loading...
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Group Opportunities</h2>
            </div>
            <div class="card-body" id="group_opportunities">
                Loading...
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                <h2>Group Request for Change</h2>
            </div>
            <div class="card-body" id="group_request_for_change">
                Loading...
            </div>
        </div>

        <script>
            function apply_filters() {
                //Varibales used in the function
                var input,
                    filter,
                    tr,
                    i;

                //Get the value from the search box
                input = document.getElementById("filter_tables");

                //We want to compare apples with apples, make all uppercase
                filter = input.value.toUpperCase();

                //Get all table rows
                tr = document.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    //If the <tr> contains any values of the filter OR has class header, we want to show
                    if (tr[i].innerHTML.toUpperCase().indexOf(filter) > -1 || tr[i].className=="header") {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        </script>
    </body>
{% endblock %}
