{% extends "./template.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/chosen-js/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/chosen-js/docsupport/prism.css' %}">


	<form action={% url 'new_kanban_board' %} method="post" class="kanban_board_form" id="input-form">
        {% csrf_token %}
        <div class="card mt-4">
            <div class="card-header">
                <h2>New Kanban Board</h2>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label for="id_kanban_board_name">Kanban Board Name</label>
                    {{ kanban_board_form.kanban_board_name }}
                </div>
                <div class="form-group">
                    <label for="id_kanban_board_column">Kanban Board Column</label>
                    {{ kanban_board_form.kanban_board_column }}
                </div>
                <div class="form-group">
                    <label for="id_kanban_board_level">Kanban Board Level</label>
                    {{ kanban_board_form.kanban_board_level }}
                </div>


                <h3 class="mt-4">Assign Groups to Kanban Board</h3>
                <div class="form-group">
                    <label for="id_select_groups">Any Group that is assigned to the kanban board will have access to the kanban board.</label>
                    {{ kanban_board_form.select_groups }}
                </div>
                <div class="form-row">
                    <input type="submit" value="Submit new kanban board" class="btn btn-primary form-control col-md-6">
                    <a href="{% url 'kanban_list' %}" class="btn btn-warning form-control col-md-6">Cancel</a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/chosen.jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/docsupport/prism.js' %}"></script>
        <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/docsupport/init.js' %}"></script>
    </form>
{% endblock %}
