{% extends "./template.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/chosen-js/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/chosen-js/docsupport/prism.css' %}">

{% if location_id == '' %}
    <form action={% url 'new_requirement' %} method="post" class="new_requirement">
{% else %}
    <form action={% url 'new_requirement' location_id destination %} method="post" class="new_requirement">
{% endif %}
    {% csrf_token %}
    <div class="card mt-4">
        <div class="card-header">
            <h2>New Requirement</h2>
        </div>
        <div class="card-body">
            {{ new_requirement_form.media }}
            <div class="form-group">
                <label for="id_requirement_title">Requirement Title</label>
                {{ new_requirement_form.requirement_title }}
            </div>
            <div class="form-group">
                <label for="id_requirement_scope">Requirement Scope</label>
                {{ new_requirement_form.requirement_scope }}
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_requirement_type">Requirement Type</label>
                    {{ new_requirement_form.requirement_type }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_requirement_status">Requirement Status</label>
                    {{ new_requirement_form.requirement_status }}
                </div>
            </div>
            <h2 class="mt-4">Requirement Permission</h2>
            <div class="form-group">
                <label for="id_requirement_permission">Any Group that is assigned to the requirment will have access to the opportunity.</label>
                {{ new_requirement_form.requirement_permission }}
            </div>
            <div class="form-row">
                <input type="submit" value="Submit New Requirement" class="btn btn-primary w-50 form-control">
                <a href="{% url 'dashboard' %}" class="btn btn-warning w-50 form-control">Cancel</a>
            </div>

            <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/chosen.jquery.js' %}"></script>
            <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/docsupport/prism.js' %}"></script>
            <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/docsupport/init.js' %}"></script>
        </div>
    </div>



</form>
{% endblock %}