{% extends "./template.html" %}
{% block content %}
{% load static %}
    <div class="card mt-4">
        <div class="card-header">
            <h2>New Permission Set</h2>
        </div>
        <div class="card-body">
            {% if save_errors %}
                <div class="alert-danger">{{ save_errors }}</div>
            {% endif %}
            <div class="alert-primary">Please note - duplicated named permission sets will not be created. Instead you will be taken to the permission set.</div>
            <hr>
            <form action="{% url 'new_permission_set' %}" method="POST" class="new_permission_set">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_permission_set_name">Permission Set Name</label>
                    {{ permission_set_form.permission_set_name }}
                </div>

                <hr>
                <h4>Administration Permissions</h4>
                <div class='form-group'>
                    <label for='id_administration_assign_user_to_group'>administration_assign_user_to_group </label>
                    {{ permission_set_form.administration_assign_user_to_group }}
                </div>
                <div class='form-group'>
                    <label for='id_administration_create_group'>administration_create_group </label>
                    {{ permission_set_form.administration_create_group }}
                </div>
                <div class='form-group'>
                    <label for='id_administration_create_permission_set'>administration_create_permission_set </label>
                    {{ permission_set_form.administration_create_permission_set }}
                </div>
                <div class='form-group'>
                    <label for='id_administration_create_user'>administration_create_user </label>
                    {{ permission_set_form.administration_create_user }}
                </div>

                <hr>
                <h4>Normal Permissions</h4>
                <div class='form-group'><label for='id_assign_campus_to_customer '>assign_campus_to_customer </label> {{ permission_set_form.assign_campus_to_customer  }}</div>
                <div class='form-group'><label for='id_associate_project_and_task '>associate_project_and_task </label> {{ permission_set_form.associate_project_and_task  }}</div>
                <div class='form-group'><label for='id_bug '>bug </label> {{ permission_set_form.bug  }}</div>
                <div class='form-group'><label for='id_bug_client '>bug_client </label> {{ permission_set_form.bug_client  }}</div>
                <div class='form-group'><label for='id_customer '>customer </label> {{ permission_set_form.customer  }}</div>
                <div class='form-group'><label for='id_email '>email </label> {{ permission_set_form.email  }}</div>
                <div class='form-group'><label for='id_invoice '>invoice </label> {{ permission_set_form.invoice  }}</div>
                <div class='form-group'><label for='id_invoice_product '>invoice_product </label> {{ permission_set_form.invoice_product  }}</div>
                <div class='form-group'><label for='id_kanban '>kanban </label> {{ permission_set_form.kanban  }}</div>
                <div class='form-group'><label for='id_kanban_card '>kanban_card </label> {{ permission_set_form.kanban_card  }}</div>
                <div class='form-group'><label for='id_opportunity '>opportunity </label> {{ permission_set_form.opportunity  }}</div>
                <div class='form-group'><label for='id_organisation '>organisation </label> {{ permission_set_form.organisation  }}</div>
                <div class='form-group'><label for='id_organisation_campus '>organisation_campus </label> {{ permission_set_form.organisation_campus  }}</div>
                <div class='form-group'><label for='id_project '>project </label> {{ permission_set_form.project  }}</div>
                <div class='form-group'><label for='id_quote '>quote </label> {{ permission_set_form.quote  }}</div>
                <div class='form-group'><label for='id_requirement '>requirement </label> {{ permission_set_form.requirement  }}</div>
                <div class='form-group'><label for='id_requirement_link '>requirement_link </label> {{ permission_set_form.requirement_link  }}</div>
                <div class='form-group'><label for='id_task '>task </label> {{ permission_set_form.task  }}</div>
                <div class='form-group'><label for='id_tax '>tax </label> {{ permission_set_form.tax  }}</div>
                <div class='form-group'><label for='id_template '>template </label> {{ permission_set_form.template  }}</div>

                <hr>
                <h4>Addon Permissions</h4>
                <div class='form-group'><label for='id_contact_history '>contact_history </label> {{ permission_set_form.contact_history  }}</div>
                <div class='form-group'><label for='id_document '>document </label> {{ permission_set_form.document  }}</div>
                <div class='form-group'><label for='id_kanban_comment '>kanban_comment </label> {{ permission_set_form.kanban_comment  }}</div>
                <div class='form-group'><label for='id_project_history '>project_history </label> {{ permission_set_form.project_history  }}</div>
                <div class='form-group'><label for='id_task_history '>task_history </label> {{ permission_set_form.task_history  }}</div>

                <div class="form-row">
                    <input type="submit" value="Create New Permission Set" class="btn btn-primary col-md-6">
                    <a href="{% url 'search_permission_set' %}" class="btn btn-warning col-md-6">Cancel</a>
                </div>
            </form>
        </div>
    </div>

{% endblock %}