{% extends "./template.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/chosen-js/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/chosen-js/docsupport/prism.css' %}">

	<h2>New Kanban Board</h2>
	<form action={% url 'new_kanban_board' %} method="post" class="kanban_board_form" id="input-form">
        {% csrf_token %}
        <ul>
            <li>{{ kanban_board_form.kanban_board_name }}</li>
            <li><h4>Column Names</h4></li>
            <li>{{ kanban_board_form.kanban_board_column }}</li>
            <li><h4>Level Names</h4></li>
            <li>{{ kanban_board_form.kanban_board_level }}</li>
        </ul>

        <h3>Assign Groups to Kanban Board</h3>
        <table>
            <tr><td>Any Group that is assigned to the kanban board will have access to the kanban board.</td></tr>
            <tr><td>{{ kanban_board_form.select_groups }}</td></tr>
            <tr><td><input type="submit" value="Submit new kanban board"><a href="{% url 'kanban_list' %}">Cancel</a></td></tr>
        </table>
        <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/chosen.jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/docsupport/prism.js' %}"></script>
        <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/docsupport/init.js' %}"></script>
    </form>
{% endblock %}
