{% extends "./template.html" %}
{% block content %}
{% load static %}
    <div class="card mt-4">
        <div class="card-header">
            <h1>Quote Template</h1>
        </div>
        <div class="card-body">
            <form action="{% url 'quote_template_information' quote_template_id %}" method="POST" class="quote_template_information">
                {% csrf_token %}
                {{ quote_template_form.media }}
                <div class="form-group">
                    <label for="id_quote_template_description">Quote Template Description</label>
                    {{ quote_template_form.quote_template_description }}
                </div>
                <div class="form-group">
                    <label for="id_template_css">CSS Data for quote</label>
                    {{ quote_template_form.template_css }}
                </div>
                <div class="form-group">
                    <label for="id_header">Header</label>
                    {{ quote_template_form.header }}
                </div>
                <div class="form-group">
                    <label for="id_company_letter_head">Your company header</label>
                    {{ quote_template_form.company_letter_head }}
                </div>
                <div class="form-group">
                    <label for="id_payment_terms">Payment Terms</label>
                    {{ quote_template_form.payment_terms }}
                </div>
                <div class="form-group">
                    <label for="id_notes">Notes</label>
                    {{ quote_template_form.notes }}
                </div>
                <div class="form-group">
                    <label for="id_organisation_details">Organisation Details: Usually place in the organisation's details here whom you are sending the quote to.</label>
                    {{ quote_template_form.organisation_details }}
                </div>
                <div class="form-group">
                    <label for="id_payment_method">Payment Method</label>
                    {{ quote_template_form.payment_method }}
                </div>
                <div class="form-group">
                    <label for="id_footer">Footer</label>
                    {{ quote_template_form.footer }}
                </div>

                <div class="form-group">
                    <label for="id_page_layout">Page Layout</label>
                    {{ quote_template_form.page_layout }}
                </div>

                <div class="form-row">

                    <div class="form-group col-md-4">
                        <label for="id_margin_left">Margin Left</label>
                        {{ quote_template_form.margin_left }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="id_margin_right">Margin Right</label>
                        {{ quote_template_form.margin_right }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="id_margin_top">Margin Top</label>
                        {{ quote_template_form.margin_top }}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="id_margin_bottom">Margin Bottom</label>
                        {{ quote_template_form.margin_bottom }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="id_margin_header">Margin Header</label>
                        {{ quote_template_form.margin_header }}
                    </div>
                    <div class="form-group col-md-4">
                        <label for="id_margin_footer">Margin Footer</label>
                        {{ quote_template_form.margin_footer }}
                    </div>
                </div>

                <div class="form-row">
                    <input type="submit" value="Save Quote Template" name="save_quote_template" class="btn btn-primary">
                    <input type="submit" value="Delete Quote Template" name="delete_quote_template" class="btn btn-warning">
                </div>


            </form>
        </div>
    </div>
{% endblock %}