<html>
<head>
	<title>mxGraph Workflow Example</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    {% load static %}
    <script type="text/javascript" src="{% static 'NearBeach/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/js/d3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/js/jquery.datetimepicker.full.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/js/NearBeach-min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'NearBeach/css/NearBeach.min.css' %}" />
    <link rel="stylesheet" href="{% static 'NearBeach/css/bootstrap.min.css' %}" />
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
