<table>
    <tr>
        <td>Permission Set Name</td>
        <td>Date Created</td>
        <td>Delete/Restor</td>
    </tr>
    {% for row in permission_set_results %}
        <tr>
            {% if row.permission_set_id == 1 %}
                <td>Administration</td>
            {% else %}
                <td><a href="javascript:void(0)" onclick="load_permission_edit({{ row.permission_set_id }})">{{ row.permission_set_name }}</a></td>
            {% endif %}
            <td>{{ row.date_created }}</td>
            <td>
                {% if row.is_deleted == 'FALSE' %}
                    <a href="javascript:void(0)" onclick="alert('write function')">Delete</a>
                {% else %}
                    <a href="javascript:void(0)" onclick="alert('write function')">Restore</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>