{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/search_active_projects.js' %}"></script>
<div class="div_content">
	<div class="div_header">
		<h1>Active Projects</h1>
	</div>
	<div class="div_sub_content">
		{% if active_projects_results %}
			<input type="text" id="Search_Active_Projects" onkeyup="Search_Active_Projects()" placeholder="Search for Active Projects" class="search">
			<table id="Active_Projects_Table">
			<tr>
				<td width="10%">Project</td>
				<td width="10%;">Task</td>
				<td width="70%;">Description</td>
				<td width="10%;">End Date</td>
			</tr>

			{% for row in active_projects_results %}
				<tr>
					{% if row.project_id == None %}
						<td> - </td>
					{% else %}
						<td><a href="{% url 'project_information' row.project_id %}">PRO{{ row.project_id }}</a></td>
					{% endif %}

					{% if row.task_id == "" %}
						<td> - </td>
					{% else %}
						<td><a href="{% url 'task_information' row.task_id %}">TASK{{ row.task_id }}</a></td>
					{% endif %}

					<td><a href="{% url 'organisation_information' row.organisations_id %}">{{ row.organisation_name }}</a><br/><br/>
						{{ row.description }}</td>
					<td>{{ row.end_date }}</td>
				</tr>
			{% endfor %}
			</table>
		{% else %}
			<p>Sorry, but there seems to be no data :(</p>
		{% endif %}
	</div>
</div>




{% endblock %}
