{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/assign_customer_project_task.js' %}"></script>
    <body>
        <form action="{% url 'assign_customer_project_task' customer_results.customer_id %}" method="POST">
            {% csrf_token %}
            <div class="div_content">
                <div class="div_header">
                    <h1>Search Projects and Tasks</h1>
                </div>
                <div class="div_sub_content">
                     <p>The following Projects and Tasks have been assigned to {{ organisation_results.organisation_name }}. Please use the filter to help filter for options.</p>
                    <input type="text" onchange="update_filter()" placeholder="Filter" id="filter"><br/>
                    <input type="checkbox" onchange="update_filter()" id="active_only" checked>Only show open projects and tasks<br/>
                </div>
            </div>
            <br/>
            <div class="div_content">
                <div class="div_header">
                    <h4>Projects</h4>
                </div>
                <div class="div_sub_content">
                    {% if project_results %}
                        <table>
                            <tr class="header">
                                <td>Assign</td>
                                <td>Project Name</td>
                                <td>Project End Date</td>
                                <td>Project Status</td>
                            </tr>
                            {% for row in project_results %}
                                <tr>
                                    <td><input type="checkbox" name="project_checkbox" value="{{ row.project_id }}">PRO{{ row.project_id }}</td>
                                    <td>{{ row.project_name }}</td>
                                    <td>{{ row.project_end_date }}</td>
                                    <td>{{ row.project_status }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>Sorry. There are currently no projects for this organisation</p>
                    {% endif %}
                </div>
            </div>
            <br/>
            <div class="div_content">
                <div class="div_header">
                    <h4>Tasks</h4>
                </div>
                <div class="div_sub_content">
                    {% if task_results %}
                        <table>
                            <tr class="header">
                                <td>Assign</td>
                                <td>Project Name</td>
                                <td>Project End Date</td>
                                <td>Project Status</td>
                            </tr>
                            {% for row in task_results %}
                                <tr>
                                    <td><input type="checkbox" name="task_checkbox" value="{{ row.task_id }}">TASK{{ row.task_id }}</td>
                                    <td>{{ row.task_short_description }}</td>
                                    <td>{{ row.task_end_date }}</td>
                                    <td>{{ row.task_status }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>Sorry. There are currently no tasks for this organisation.</p>
                    {% endif %}
                </div>
            </div>
            <input type="submit" value="Submit Assigned Projects/Tasks">
            <a href="{% url 'customer_information' customer_results.customer_id %}">Cancel</a>
        </form>
    </body>


{% endblock %}
