{% extends "./template.html" %}
{% block content %}
    <h2>Associate Tasks</h2>
    <form action={% url 'associated_task' project_id %} method="post" class="associated_tasks">
        {% csrf_token %}
        <table>
            {{ search_tasks }}
        </table>
        <input hidden type="submit">
    </form>

    <table>
        <tr class="header">
            <td width="50%">Task Short Description</td>
            <td width="20%">Organisation</td>
            <td width="10%">Task End Date</td>
            <td width="10%">Task Assigned To</td>
            <td width="10%">Task Status</td>
        </tr>
        {% for task_row in task_results %}
            <tr>
                <td><a href="{% url 'associate' project_id task_row.task_id 'P' %}">{{ task_row.task_short_description }}</a></td>
                <td>{{ task_row.organisations_id.organisation_name }}</td>
                <td>{{ task_row.task_end_date }}</td>
                <td>{{ task_row.task_assigned_to }}</td>
                <td>{{ task_row.task_status }}</td>
            </tr>
        {% endfor %}
    </table>
    <br/>
    <a href="{% url 'project_information' project_id %}">Cancel</a>
{% endblock %}
