{% extends "./template.html" %}
{% block content %}
    <h2>Associate Tasks</h2>
    <form action={% url 'associated_projects' task_id %} method="post" class="associated_projects">
        {% csrf_token %}
        <table>
            {{ search_projects }}
        </table>
        <input hidden type="submit">
    </form>
    <table>
        <tr class="header">
            <td>Project Name</td>
            <td>Organisation</td>
            <td>Project end date</td>
            <td>Project Status</td>
        </tr>
        {% for project_row in projects_results %}
            <tr>
                <td><a href="{% url 'associate' project_row.project_id task_id 'T' %}">{{ project_row.project_name }}</a></td>
                <td>{{ project_row.organisations_id }}</td>
                <td>{{ project_row.project_end_date }}</td>
                <td>{{ project_row.project_status }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
