{% csrf_token %}
<h4>Bug Search</h4>
<table>
    <tr>
        <td width="15%">{{ bug_search_form.list_of_bug_client }}</td>
        <td width="70%">{{ bug_search_form.search }}</td>
        <td width="15%"><input type="submit" value="Search" id="bug_search_submit"></td>
    </tr>
</table>
{% if bug_results %}
    <table>
        <tr>
            <td>Select</td>
            <td>Bug ID</td>
            <td>Bug Description</td>
            <td>Bug Status</td>
        </tr>
        {% for row in bug_results %}
            <tr>
                <td id="id_{{ row.id }}_{{ bug_client_id }}"><a href="javascript:void(0)" onclick="add_bug({{ location_id }},'{{ destination }}',{{ row.id }}, {{ bug_client_id }})">Add Bug</a></td>
                <td>{{ row.id }}</td>
                <td>{{ row.summary|escape|safe }}</td>
                <td>{{ row.status }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}