{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/campus_information.js' %}"></script>
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.39.1/mapbox-gl.css' rel='stylesheet' />
<script type="text/javascript" src="{% static 'NearBeach/javascript/jquery/jquery-3.2.1.min.js' %}"></script>

<script type="text/javascript" src="{% static 'NearBeach/javascript/permissions.js' %}"></script>
<body onload="on_page_load()">
    <h2>Customer Campus</h2>
    <form action="{% url 'customers_campus_information' customer_campus_id customer_or_org %}" method="POST">
        {% csrf_token %}
        <table>
            <tr class="header"><td width="150px">Field</td><td>Input</td></tr>
            <tr><td>First Name:</td><td>{{ customer_campus_results.customer_id.customer_first_name }}</td></tr>
            <tr><td>Last Name:</td><td>{{ customer_campus_results.customer_id.customer_last_name }}</td></tr>
            <tr><td>Email:</td><td>{{ customer_campus_results.customer_id.customer_email }}</td></tr>
            <tr><td>Customer phone:</td><td>{{ customer_campus_form.customer_phone }}</td></tr>
            <tr><td>Customer fax:</td><td>{{ customer_campus_form.customer_fax }}</td></tr>
            <tr><td>Organisation:</td><td><a href="{% url 'organisation_information' customer_campus_results.campus_id.organisations_id.organisations_id  %}">{{ customer_campus_results.campus_id.organisations_id }}</a></td></tr>
            <tr><td>Campus:</td><td><a href="{% url 'campus_information' customer_campus_results.campus_id.organisations_campus_id %}">{{ customer_campus_results.campus_id }}</a></td></tr>
            <tr><td>Suburb:</td><td>{{ customer_campus_results.campus_id.campus_suburb }}</td></tr>
            <tr><td>State</td><td>{{ customer_campus_results.campus_id.campus_region_id }}</td></tr>
            <tr><td>Country:</td><td>{{ customer_campus_results.campus_id.campus_country_id }}</td></tr>
        </table>
        {% if permission > 1 %}
            <input type="submit" name="Save" value="Save and Return"/>
        {% else %}
            <a href="{% url 'customer_information' customer_campus_results.customer_id.customer_id %}">Return</a>
        {% endif %}
    </form>
    <h2>Map</h2>
    <div id='map' style='width: 100%; height: 680px; align-content: center'></div>
    <script type="text/javascript">
        function on_page_load() {
            set_permissions({{ permission }});

            mapboxgl.accessToken  = "{{ MAPBOX_API_TOKEN }}";
            var map = new mapboxgl.Map({
                container: 'map', // container id
                style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
                center: [{{ campus_results.campus_longitude }},{{ campus_results.campus_latitude }}], // starting position [lng, lat]
                zoom: 15 // starting zoom
            });

            map.on('load', function() {
                map.addLayer({
                    "id": "points",
                    "type": "symbol",
                    "source": {
                        "type": "geojson",
                        "data": {
                            "type": "FeatureCollection",
                            "features": [{
                                "type": "Feature",
                                "geometry": {
                                    "type": "Point",
                                    "coordinates": [{{ campus_results.campus_longitude }},{{ campus_results.campus_latitude }}]
                                },
                                "properties": {
                                    "title": "{{ customer_campus_results.campus_id.campus_nickname }}",
                                    "icon": "marker"
                                }
                            }]
                        }
                    },
                    "layout": {
                        "icon-image": "{icon}-15",
                        "text-field": "{title}",
                        "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                        "text-offset": [0, 0.6],
                        "text-anchor": "top"
                    }
                })

            })
            setTimeout(relayout_map, 500);
        }
    </script>
{% endblock %}