{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/customer_information.js' %}"></script>
<body onload="initiate_dates()">
    <form action="{% url 'customer_information' customer_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="div_content">
            <div class="div_header">
                <h1>Customer Information</h1>
            </div>
            <div class="div_sub_content">
                <table>
                    <tr class="header"><td width="250px">Field</td><td>Input</td></tr>
                    <tr><td><img src="{{ profile_picture }}"></td><td>{{ customer_information_form.update_profile_picture }}</td></tr>
                    <tr><td>Customer Title:</td><td>{{ customer_information_form.customer_title }}</td></tr>
                    <tr><td>Customer First Name:</td><td>{{ customer_information_form.customer_first_name }}</td></tr>
                    <tr><td>Customer Last Name:</td><td>{{ customer_information_form.customer_last_name }}</td></tr>
                    <tr><td>Customer Email:</td><td>{{ customer_information_form.customer_email }}</td></tr>
                    <tr><td>Customer's Organisation:</td><td>{{ customer_information_form.organisations_id }}</td></tr>
                </table>
                <input type="submit" name="update" value="Update Details"/>
            </div>
        </div>
        <br/>
        <div class="div_content">
            <div class="div_header">
                <h1>Campus Contact Information</h1>
            </div>
            <div class="div_sub_content">
                {% if add_campus_results %}

                        <select name="add_campus_select" id="id_add_cammpus_select" onchange="enable_disable_add_campus()">
                            <option value="---------"> ---------</option>
                            {% for row in add_campus_results %}
                                <option value="{{ row.id }}">{{ row.campus_nickname }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" name="add_campus_submit" value="Add Campus" disabled id="id_add_cammpus_submit">

                {% endif %}
                {% if campus_results %}
                    <table>
                        <tr class="header"><td>Campus nickname</td><td>Contact's Phone</td><td>Contact's Fax</td><td>Campus Suburb</td><td>Campus Region</td><td>Campus Country</td></tr>
                        {% for row in campus_results %}
                            <tr>
                                <td><a href="{% url 'customers_campus_information' row.id 'CUST' %}">{{ row.campus_id }}</a></td>
                                <td>{{ row.customer_phone }}</td>
                                <td>{{ row.customer_fax }}</td>
                                <td>{{ row.campus_id.campus_suburb }}</td>
                                <td>{{ row.campus_id.campus_region_id }}</td>
                                <td>{{ row.campus_id.campus_country_id }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>There are currently no campuses</p>
                {% endif %}
            </div>
        </div>
        <br/>
        <div class="div_content">
            <div class="div_header">
                <h1>Contact History</h1>
            </div>
            <div class="div_sub_content">
                Contact Type {{  customer_information_form.contact_type }}<br/>
                Date {{ customer_information_form.start_date_year }}/{{ customer_information_form.start_date_month }}/{{ customer_information_form.start_date_day }}
                {{ customer_information_form.contact_history }}
                {{ customer_information_form.contact_attachment }}
                <input type="submit" name="submit_contact" value="Submit Contact"/>
                {% if customer_contact_history %}
                    <div><h4>Contact History</h4></div>
                    {% for row in customer_contact_history %}
                        <p>
                            {{ row.contact_type }} - Submitted by {{ row.user_id }} on {{ row.contact_date }}<br/>
                            <textarea readonly>{{ row.contact_history }}</textarea>
                            {% if row.contact_attachment %}
                                <a href="{{ media_url }}{{ row.contact_attachment }}" target="_blank">{{ row.contact_attachment }}</a>
                            {% endif %}
                        </p>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <br/>
        <div class="div_content">
            <div class="div_header">
                <h4>Customer Documents</h4>
            </div>
            <div class="div_sub_content">
                <table>
                    <tr class="header"><td width="250px">Field</td><td>Input</td></tr>
                    <tr><td>Document Description:</td><td>{{ customer_information_form.document_description }}</td></tr>
                    <tr><td>Upload Document:</td><td>{{ customer_information_form.document }}</td></tr>
                </table>
                <input type="submit" name="update" value="Upload Documents"/>
                <br/>
                {% if customer_document_results %}
                    <h4>Customer Documents</h4>
                    {% for row in customer_document_results %}
                        {% if row.document_description == "" %}
                            <a href="{{ request.META.HTTP_HOST }}{{ row.document.url }}">{{ row.document.name|slice:"10:" }}</a><br/>
                        {%  else %}
                            <a href="{{ request.META.HTTP_HOST }}{{ row.document.url }}">{{ row.document_description }}</a><br/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <br/>
                {% if organisation_document_results %}
                    <h4>Organisation Documents</h4>
                    {% for row in organisation_document_results %}
                        {% if row.document_description == "" %}
                            <a href="{{ request.META.HTTP_HOST }}{{ row.document.url }}">{{ row.document.name|slice:"10:" }}</a><br/>
                        {%  else %}
                            <a href="{{ request.META.HTTP_HOST }}{{ row.document.url }}">{{ row.document_description }}</a><br/>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="div_content">
            <div class="div_header">
                <h3>Associated Projects & Tasks</h3>
            </div>
            <div class="div_sub_content">
                <h4>Actions</h4>
                <ul>
                    <li>Create New Project</li>
                    <li>Create New Task</li>
                    <li><a href="{% url 'assign_customer_project_task' customer_id %}">Assign Existing Project or Task</a></li>
                </ul>
                <br/>
                <h4>Assigned Projects</h4>
                [LIST OF ASSIGNED PROJECTS]
                <br/>
                <h4>Assigned Tasks</h4>
                [LIST OF ASSIGNED TASKS]
            </div>
        </div>
    </form>
</body>

{% endblock %}
