{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/customer_information.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/autoscale_textarea.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/permissions.js' %}"></script>
<script>
	function on_page_load() {
	    //Load AJAX components
        load_contact_history();
        load_customer_documents_list();

        //Autoscale all textarea
        autoscale_textarea();

        //Fix up autoscaling for id_contact_history
        //document.getElementById("id_contact_history").style.height = "200px";

        //Move these to a proper set
        //initiate_dates();
        set_permissions({{ customer_permissions }});
	}
</script>
<body onload="on_page_load()">
    <form action="{% url 'customer_information' customer_results.customer_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
            <h2>Customer Information</h2>
            <ul>
                {% if profile_picture %}
                    <li><img src="{{ profile_picture }}" height="160px"><br/> {{ organisation_information_form.update_profile_picture }}</li>
                {% else %}
                    <li><img src="{% static 'NearBeach/images/icons/star.svg' %}" height="160px"><br/> {{ organisation_information_form.update_profile_picture }}</li>
                {% endif %}
                {% if customer_permissions > 1 %}
                    <li>{{ customer_information_form.update_profile_picture }}</li>
                {% endif %}
                <table>
                    <tr>
                        <td width="10%">{{ customer_information_form.customer_title }}</td>
                        <td width="45%">{{ customer_information_form.customer_first_name }}</td>
                        <td width="45%">{{ customer_information_form.customer_last_name }}</td>
                    </tr>
                </table>
                <li>{{ customer_information_form.customer_email }}</li>
                {% if not customer_results.organisations_id == Null %}
                    <li>Organisation: <a href="{% url 'organisation_information' customer_results.organisations_id.organisations_id %}">{{ customer_results.organisations_id }}</a></li>
                {% endif %}
            </ul>
            {% if customer_permissions > 1 %}
                <input type="submit" name="update" value="Update Details"/>
            {% endif %}
            <h2>Campus Contact Information</h2>
            {% if add_campus_results and assign_campus_to_customer_permission > 1%}

                    <select name="add_campus_select" id="id_add_cammpus_select" onchange="enable_disable_add_campus()">
                        <option value="---------"> ---------</option>
                        {% for row in add_campus_results %}
                            <option value="{{ row.organisations_campus_id }}">{{ row.campus_nickname }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="add_campus_submit" value="Add Campus" disabled id="id_add_cammpus_submit">

            {% endif %}
            {% if campus_results %}
                <table>
                    <tr class="header">
                        <td>Campus nickname</td>
                        <td>Contact's Phone</td>
                        <td>Contact's Fax</td>
                        <td>Campus Suburb</td>
                        <td>Campus Region</td>
                        <td>Campus Country</td>
                        <td>Delete</td>
                    </tr>
                    {% for row in campus_results %}
                        <tr>
                            <td><a href="{% url 'customers_campus_information' row.customers_campus_id 'CUST' %}">{{ row.campus_id }}</a></td>
                            <td>{{ row.customer_phone }}</td>
                            <td>{{ row.customer_fax }}</td>
                            <td>{{ row.campus_id.campus_suburb }}</td>
                            <td>{{ row.campus_id.campus_region_id }}</td>
                            <td>{{ row.campus_id.campus_country_id }}</td>
                            <td><a href="{% url 'delete_campus_contact' row.customers_campus_id 'CUST' %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>There are currently no campuses</p>
            {% endif %}
    </form>
    <form method="post" class="customer_contact_history" id="customer_contact_history" enctype="multipart/form-data">
        <h2>Contact History</h2>
        Loading...
    </form>


    <form method="post" class="customer_documents_list" id="customer_documents_list" enctype="multipart/form-data">
        <h2>Customer Documents List</h2>
        Loading...
    </form>

    <h2>Customer Quotes</h2>
    <a href="{% url 'new_quote' customer_id 'customer' %}">New Quote</a>
    {% if quote_results %}
        <table>
            <tr>
                <td width="50%">Quote Title</td>
                <td width="25%">Valid Till</td>
                <td width="25%">Quote Stage</td>
            </tr>
            {% for row in quote_results %}
                <tr>
                    <td><a href="{% url 'quote_information' row.quote_id %}">{{ row.quote_title }}</a></td>
                    <td>{{ row.quote_valid_till }}</td>
                    <td>{{ row.quote_stage_id }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br/>



            <h2>Associated Projects & Tasks</h2>
            {% if customer_permissions > 1 %}
            <h4>Actions</h4>
            <ul>
                {% if not customer_results.organisations_id == Null %}
                    <li><a href="{% url 'new_project' customer_results.organisations_id.organisations_id customer_results.customer_id %}">New Project</a></li>
                    <li><a href="{% url 'new_task' customer_results.organisations_id.organisations_id customer_results.customer_id %}">Create New Task</a></li>
                {% else %}
                    <li>PROGRAM IN NEW PROJECT - currently not connected to an orgnanisation</li>
                    <li>PROGRAM IN NEW TASK - currently not connected to an orgnanisation</li>
                {% endif %}
                <li><a href="{% url 'assign_customer_project_task' customer_results.customer_id %}">Assign Existing Project or Task</a></li>
            </ul>
            <br/>
            {% endif %}
            <h4>Assigned Projects</h4>
                {% if project_results %}
                    <table>
                        <tr class="header">
                            <td>Project ID</td>
                            <td>Project Name</td>
                            <td>Project End Date</td>
                            <td>Project Status</td>
                        </tr>
                        {% for row in project_results %}
                            <tr>
                                <td><a href="{% url 'project_information' row.project_id %}">PRO{{ row.project_id }}</a></td>
                                <td>{{ row.project_name }}</td>
                                <td>{{ row.project_end_date }}</td>
                                <td>{{ row.project_status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>Sorry. There are currently no projects for this customer</p>
                {% endif %}
            <br/>

            <h4>Assigned Tasks</h4>
                {% if task_results %}
                    <table>
                        <tr class="header">
                            <td>Task ID</td>
                            <td>Task Name</td>
                            <td>Task End Date</td>
                            <td>Task Status</td>
                        </tr>
                        {% for row in task_results %}
                            <tr>
                                <td><a href="{% url 'task_information' row.tasks_id %}">TASK{{ row.tasks_id }}</a></td>
                                <td>{{ row.task_short_description }}</td>
                                <td>{{ row.task_end_date }}</td>
                                <td>{{ row.task_status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>Sorry. There are currently no tasks for this customer.</p>
                {% endif %}
            <h2>Customer Opportunities</h2>
            {% if not customer_results.organisations_id == Null %}
                <a href="{% url 'new_opportunity' customer_results.organisations_id.organisations_id customer_results.customer_id %}">Add a new opportuninity</a>
            {% else %}
                New opportunity will be added in the future when I program around the organisation limitation.
            {% endif %}
            {% if opportunity_results %}
                <table>
                    <tr class="header">
                        <td>Opportunity Name</td>
                        <td>Opportunity Stage</td>
                        <td>Opportunity End Date</td>
                    </tr>
                    {% for row in opportunity_results %}
                        <tr>
                            <td><a href="{% url 'opportunity_information' row.opportunity_id %}">{{ row.opportunity_name }}</a></td>
                            <td>{{ row.opportunity_stage_id }}</td>
                            <td>{{ row.opportunity_expected_close_date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
    </form>
</body>
<script>
    $("#customer_contact_history").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_customer_contact_history/{{ customer_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the project history :)
                load_contact_history();
            },
            error: function() {
                alert("Sorry, project history did not save. Please try again.");
            }
        })
    });


    $("#customer_documents_list").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_customer_documents_list/{{ customer_id }}/{{ customer_results.organisations_id.organisations_id }}',
            data: $(this).serialize(),
            success: function() {
                //Reload the project history :)
                load_customer_documents_list();
            },
            error: function() {
                alert("Sorry, project history did not save. Please try again.");
            }
        })
    });

    function load_contact_history() {
        //Load Project History
        $.ajax({
            url: '/information_customer_contact_history/{{ customer_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#customer_contact_history').html(data);
            },
            error: function() {
                $('#customer_contact_history').html('<h2>Contact History</h2>Sorry, contact history encounted an error and did not load.');
            }
        });
    };


    function load_customer_documents_list() {
        //Load Project History
        $.ajax({
            url: '/information_customer_documents_list/{{ customer_id }}/{{ customer_results.organisations_id.organisations_id }}',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#customer_documents_list').html(data);
            },
            error: function() {
                $('#customer_documents_list').html('<h2>Contact Documents</h2>Sorry, contact documents encounted an error and did not load.');
            }
        });
    };



    function edit_document_description(document_key) {
        //alert(document_key);
    }

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function delete_document(document_key) {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            url: "/delete_document/" + document_key + "/",
            data: {},
            dataType: 'HTML',
            type: 'POST',
            success: function(data) {
                load_customer_documents_list();
            },
            error: function() {
                alert("There was an issue deleting the document");
            }
        })
    }

    // using jQuery to extract the CSRFToken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
</script>

{% endblock %}
