{% extends "./template.html" %}
{% block content %}
{% load static %}
    <h2>Email Information</h2>
    <ul>
        <li>
            To:
            {% for row in to_email_results %}
                {% if forloop.first %}
                    {{ row.to_customers.customer_email }}
                {% else %}
                    , {{ row.to_customers.customer_email }}
                {% endif %}
            {% endfor %}
        </li>
        <li>
            Carbon Copy:
            {% for row in cc_email_results %}
                {% if forloop.first %}
                    {{ row.cc_customers.customer_email }}
                {% else %}
                    , {{ row.cc_customers.customer_email }}
                {% endif %}
            {% endfor %}
        </li>
        <li>
            Blind Carbon Copy:
            {% for row in bcc_email_results %}
                {% if forloop.first %}
                    {{ row.bcc_customers.customer_email }}
                {% else %}
                    , {{ row.bcc_customers.customer_email }}
                {% endif %}
            {% endfor %}
        </li>{{ email_information_form.media }}
        <li>{{ email_information_form.email_subject }}</li>
        <li>{{ email_information_form.email_content|safe }}</li>
        <li><a href="javascript:history.back()">Go Back</a></li>
    </ul>

{% endblock %}