{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/search_active_projects.js' %}"></script>
<body onload="on_page_load()">
    <h1>Group Information</h1>
    <form method="post" class="group_list" id="group_list">
        <h2>Group List</h2>
        Loading...
    </form>

    <form method="post" class="create_group" id="create_group" style="background-color: azure">
        <a href="javascript:void(0)" onclick="load_create_group()">Create New Group</a>
    </form>

    <form method="post" class="edit_group" id="edit_group" style="background-color: springgreen">
        <!--left blank -->
    </form>


<script>
    $("#create_group").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
           url: '/group_information_create/',
           data: $(this).serialize(),
           dataType: 'HTML',
           type: 'POST',
           success: function(data) {
               load_group_list();
               $("#create_group").html('<a href="javascript:void(0)" onclick="load_create_group()">Create New Group</a>');
           },
           error: function() {
               alert("ERROR! Submitting new group");
           }
        })
    });

    $("#edit_group").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
           url: '/group_information_edit/' + $("#edit_group_id").val() + '/',
           data: $(this).serialize(),
           dataType: 'HTML',
           type: 'POST',
           success: function(data) {
               load_group_list();
               $("#edit_group").html("");
           },
           error: function() {
               alert("ERROR! Submitting new group");
           }
        })
    });


    $("#add_permission_set").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
           url: '/group_information_add_permission_set/' + $("#edit_group_id").val() + '/',
           data: $(this).serialize(),
           dataType: 'HTML',
           type: 'POST',
           success: function(data) {
               load_edit_group($("#edit_group_id").val())
           },
           error: function() {
               alert("ERROR! Submitting new permission set");
           }
        })
    });

    function on_page_load() {
        load_group_list();
    }

    function load_group_list() {
        $.ajax({
            url: '/group_information_list/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $("#group_list").html(data);
            },
            error: function() {
                $("#group_list").html("<h2>Group List</h2>Encounted an error. :'(");
            }
        });
    }

    function load_create_group() {
        $.ajax({
            url: '/group_information_create/',
            data: {},
            dataType: 'HTML',
            success: function(data) {
                $("#create_group").html(data);
            },
            error: function() {
                $("#create_group").html("<h2>Create Group</h2>Encounted an error. :'(");
            }
        });
    }

    function load_edit_group(group_id) {
        $.ajax({
            url: '/group_information_edit/' + group_id + '/',
            data: {},
            dataType: 'HTML',
            success: function(data) {
                $("#edit_group").html(data);
                load_add_permission_set($("#edit_group_id").val())
            },
            error: function() {
                $("#edit_group").html("<h2>Edit Group</h2>Encounted an error. :'(");
            }
        });
    }



    function load_users(group_id) {
        $.ajax({
            url: '/group_information_edit_users/' + group_id + '/',
            data: {},
            dataType: 'HTML',
            success: function(data) {
                $("#user_list").html(data);
            },
            error: function() {
                $("#user_list").html("<h2>Users</h2>Encounted an error. :'(");
            }
        });
    }


    function load_add_permission_set(group_id) {
        $.ajax({
            url: '/group_information_add_permission_set/' + group_id + '/',
            data: {},
            dataType: 'HTML',
            success: function(data) {
                $("#add_permission_set").html(data);
            },
            error: function() {
                $("#add_permission_set").html("<h2>Users</h2>Encounted an error. :'(");
            }
        });
    }
</script>
</body>
{% endblock %}

