{% extends "./template.html" %}
{% block content %}
{% load nearbeach_extras %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/csrf_finder.js' %}"></script>
<link rel='stylesheet' href='{% static "NearBeach/css/kanban_board.css" %}' />

    <h2>Kanban Table</h2>
    <table>
        {% for level in kanban_level_results %}
            {% if forloop.first %}
                <tr>
                    <td></td>
                    {% for column in kanban_column_results %}
                        <td class="kanban_column_header">{{ column.kanban_column_name }}</td>
                    {% endfor %}
                </tr>
            {% endif %}

            {% with level_cards=kanban_card_results|filter_level_cards:level.kanban_level_id %}
                <tr class="kanban_level">
                    <td>{{ level.kanban_level_name }}</td>
                    {% for column in kanban_column_results %}
                        <td class="kanban_column" data-column="{{ column.kanban_column_id }}" data-level="{{ level.kanban_level_id }}">
                            {% with column_cards=level_cards|filter_column_cards:column.kanban_column_id %}
                                {% for row in column_cards %}
                                    <div id="{{ row.kanban_card_id }}" class="kanban_card" draggable="true">
                                        <div class="cardTitle" id="{{ row.kanban_card_id }}">
                                            {{ row.kanban_card_text }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endwith %}
                        </td>
                    {% endfor %}

                </tr>
            {% endwith %}
        {% endfor %}
    </table>
    <form id="new_card_form">
        <a href="javascript:void(0)" onclick="load_kanban_new_card()">New Card</a>
    </form>

    <form id="edit_card_form">
        <!-- Placeholder for the form -->
    </form>


    <script type="text/javascript">
		$('document').ready(on_page_load());


		$("#new_card_form").on("submit", function(event) {
		    event.preventDefault();

		    var kanban_column = $("#id_kanban_column").val();
            var kanban_level = $("#id_kanban_level").val();

		    $.ajax({
                url: '/kanban_new_card/{{ kanban_board_id }}/',
                type: "POST",
                data: $(this).serialize(),
                dataType: "HTML",
                success: function(data) {
                    $(".kanban_column[data-column=" + kanban_column + "][data-level=" + kanban_level + "]").html(
                        $(".kanban_column[data-column=" + kanban_column + "][data-level=" + kanban_level + "]").html() + data
                    );

                    $("#new_card_form").html('<a href="javascript:void(0)" onclick="load_kanban_new_card()">New Card</a>');

                    //We will need the page to re-bind everything
                    on_page_load()
                },
                error: function() {
                    alert("Sorry, submitting the new card did not work for some reason.")
                }
            })
        });

		$("#edit_card_form").on('submit', function(event) {
		    event.preventDefault();

            $.ajax({
                url: '/kanban_edit_card/' + $("#edit_kanban_card_id").val() + '/',
                type: 'POST',
                data: $(this).serialize(),
                dataType: "HTML",
                success: function(data) {
                    $("#edit_card_form").html("");
                    $("#" + $("#edit_kanban_card_id").val()).html(data)
                },
                error: function () {
                    alert("Sorry, saving the card has occurred an error!");
                }
            })
        });

		function close_kanban_edit_card() {
		    $('#edit_card_form').html("");
        }

        function close_kanban_new_card() {
		    $("#new_card_form").html('<a href="javascript:void(0)" onclick="load_kanban_new_card()">New Card</a>');
        }


		function load_kanban_new_card() {
		    $.ajax({
                url: '/kanban_new_card/{{ kanban_board_id }}/',
                type: "GET",
                dataType: "HTML",
                success: function(data) {
                    $("#new_card_form").html(data);
                },
                error: function() {
                    alert("We are sorry, something went wrong with getting the new card ready.");
                }
            })
        }

        function on_page_load(){
            $('.kanban_card').bind('dragstart', function(event) {
                event.originalEvent.dataTransfer.setData("text/plain", event.target.getAttribute('id'));
            });

  		    // bind the dragover event on the board sections
            $('.kanban_column').bind('dragover', function(event) {
                event.preventDefault();
            });

            //Double click
            $('.kanban_card').bind('dblclick', function(event) {
                //alert("Need to get card data. How?");
                //alert($(event.target).attr('id'));
                var kanban_card_id = $(event.target).attr('id');

                $.ajax({
                    url: '/kanban_edit_card/' + kanban_card_id + '/',
                    type: 'GET',
                    dataType: 'HTML',
                    success: function(data) {
                        $("#edit_card_form").html(data);
                            //Navigate down to it
                            var element = document.getElementById("edit_card_form");
                            element.scrollIntoView();
                    },
                    error: function() {
                        alert("Sorry, we can not edit the card at the moment");
                    }
                })
            });



			// bind the drop event on the board sections
  			$('.kanban_column').bind('drop', function(event) {
                var kanban_card_id = event.originalEvent.dataTransfer.getData("text/plain");
                event.target.appendChild(document.getElementById(kanban_card_id));
                event.preventDefault();

                //Send data to the database
                $.ajaxSetup({
                    beforeSend: function (xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    }
                });



                $.ajax({
                    url: '/kanban_move_card/' + document.getElementById(kanban_card_id).id + '/' + this.dataset.column + '/' + this.dataset.level + '/',
                    data: {},
                    dataType: 'HTML',
                    type: 'POST',
                    success: function (data) {
                    },
                    error: function(request, error) {
                        alert("We are sorry. Something went wrong when we moved that card. Reloading page");
                        location.reload()
                    }
                })
			});
        }


    </script>
{% endblock %}