<html>
<style>
	.login_form {
		width:300px;
		height:150px;
		position:fixed;
		margin-left:-150px; /* half of width */
		margin-top:-150px;  /* half of height */
		top:50%;
		left:50%;
	}
	
	.login_button {
	    background-color: #4CAF50;
		color: white;
		padding: 14px 20px;
		margin: 8px 0;
		border: none;
		cursor: pointer;
		width: 100%;
		height:45px;	
	}
</style>

<body>
	<form action="{% url 'login' %}" method="post" class="login_form">
		{% csrf_token %}
		<table>
			{% if login_form.non_field_errors %}
				{% for error in login_form.non_field_errors %}
					<tr><td>{{ error }}</td></td>
				{% endfor %}
			{% endif %}
			<tr><td>{{ login_form.username }}</td></tr>
			<tr><td>{{ login_form.password }}</td></tr>
			<tr><td><input type="submit" value="Login" class="login_button" /></td></tr>
		</table>
		
	</form>
</body>
</html>
