{% extends "./template.html" %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/chosen-js/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/chosen-js/docsupport/prism.css' %}">

<form action={% url 'new_requirement' %} method="post" class="new_requirement">
    {% csrf_token %}
    <h2>New Requirement</h2>
    <table>
        {{ new_requirement_form.media }}
        <tr><td>{{ new_requirement_form.requirement_title }}</td></tr>
        <tr><td>{{ new_requirement_form.requirement_scope }}</td></tr>
        <tr><td>Requirement Type: {{ new_requirement_form.requirement_type }}</td></tr>
        <tr><td>Requirement Status: {{ new_requirement_form.requirement_status }}</td></tr>

    </table>

    <h2>Requirement Permission</h2>
    <table>
        <tr><td>Please give permissions to one or more groups. Please note: you will not be able to submit this request without selecting at least one group</td></tr>
        <tr><td>{{ new_requirement_form.requirement_permission }}</td></tr>
    </table>
    <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/chosen.jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/docsupport/prism.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/docsupport/init.js' %}"></script>

    <input type="submit" value="Submit New Requirement">
    <a href={% url 'dashboard' %}>Cancel</a>

</form>
{% endblock %}