{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<body onload="initiate_dates();">
    {% if customer_id %}
        <form action="{% url 'new_task' organisations_id customer_id %}" method="post" class="new_project">
    {% elif organisations_id %}
        <form action="{% url 'new_task' organisations_id %}" method="post" class="new_project">
    {% else %}
        <form action="{% url 'new_task' %}" method="post" class="new_task">
    {% endif %}
		{% csrf_token %}
        <h2>New Task</h2>
        {% if organisations_count == 0 %}
            <a href="{% url 'new_organisation' %}">Can you please create an organisation first.</a>
        {% else %}
            <ul>
                <li>{{ new_task_form.task_short_description }}</li>
                <li>{{ new_task_form.task_long_description }}</li>
                <li>Associated Organisation: {{ new_task_form.organisations_id }}</li>
                <li>Task Start: {{ new_task_form.start_date_year }}/{{ new_task_form.start_date_month }}/{{ new_task_form.start_date_day }}<br/>{{ new_task_form.start_date_hour }}:{{ new_task_form.start_date_minute }} {{ new_task_form.start_date_meridiems }}</li>
                <li>Task Finish: {{ new_task_form.finish_date_year }}/{{ new_task_form.finish_date_month }}/{{ new_task_form.finish_date_day }}<br/>{{ new_task_form.finish_date_hour }}:{{ new_task_form.finish_date_minute }} {{ new_task_form.finish_date_meridiems }}</li>
            </ul>
        <h2>Assigned to Group(s)</h2>
        {% if groups_count == 1 %}
            <p>Group already automatically choosen. Please click on "Submit"</p>
        {% else %}
            <p>Please select the appropriate groups to assign this project to - number {{ groups_count }}</p>
        {% endif %}
        <select multiple required name="assigned_to_groups" id="assigned_to_groups" style="width: 50%; height: 120px;">
        {% for group_row in groups_results %}
            <option value = "{{ group_row.group_id }}">{{ group_row.group_name }}</option>
        {% endfor %}
        </select>
        <br />
        <input type="submit" value="Submit new project">
        {% if groups_count == 1 %}
        <script>
            /*
            Method
            ~~~~~~
            If the group_count == 1 we will use javascript to select
            the only option and then hide the select statement. As it
            will not be needed.
             */
            var object=document.getElementById("assigned_to_groups");
            object.options[0].selected=true;
            object.style.display="none";

        </script>
        {% endif %}
        {% endif %}
		</div>
	</div>
	</form>
</body>
{% endblock %}
