{% extends "./template.html" %}
{% block content %}
{% load static %}
<body onload="on_page_load()">
    <link rel="stylesheet" href="{% static 'NearBeach/javascript/chosen-js/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'NearBeach/javascript/chosen-js/docsupport/prism.css' %}">
    <h2>New Campus</h2>
    <form id="input-form" action="{% url 'new_campus' location_id destination %}" method="post" class="new_campus">
        {% csrf_token %}
        <ul>
            <li>{{ new_campus_form.campus_nickname }}</li>
            <li>{{ new_campus_form.campus_phone }}</li>
            <li>{{ new_campus_form.campus_fax }}</li>
            <li>{{ new_campus_form.campus_address1 }}</li>
            <li>{{ new_campus_form.campus_address2 }}</li>
            <li>{{ new_campus_form.campus_address3 }}</li>
            <li>{{ new_campus_form.campus_suburb }}</li>
            <li>{{ new_campus_form.country_and_region }}</li>
        </ul>

        <br/>
        <input id="submit" type="submit" value="Submit new campus" disabled="disabled">
        {% if destination == "organisation" %}
            <a href="{% url 'organisation_information' location_id %}">Cancel</a>
        {% else %}
            <a href="{% url 'customer_information' location_id %}">Cancel</a>
        {% endif %}


        <script type="text/javascript" src="{% static 'NearBeach/javascript/chosen-js/chosen.jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'NearBeach/javascript/chosen-js/docsupport/prism.js' %}"></script>
        <script type="text/javascript" src="{% static 'NearBeach/javascript/chosen-js/docsupport/init.js' %}"></script>
    </form>


<script>
    $("#input-form").on('change', function() {
        enable_disable_submit();
    });
    $("#input-form").on('onkeyup', function() {
        enable_disable_submit();
    });

    function enable_disable_submit() {
        if (($("#id_country_and_regions").val() != '') &&
            ($("#id_campus_nickname").val() != '')) {
            $("#submit").prop("disabled",false)
        } else {
            $("#submit").prop("disabled",true)
        }
    };
</script>
</body>
{% endblock %}
