{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<body onload="initiate_dates();">
    {% if customer_id %}
        <form action="{% url 'new_task' organisations_id customer_id %}" method="post" class="new_project">
    {% elif organisations_id %}
        <form action="{% url 'new_task' organisations_id %}" method="post" class="new_project">
    {% else %}
        <form action="{% url 'new_task' %}" method="post" class="new_task">
    {% endif %}
		{% csrf_token %}
		<div class="div_content">
			<div class="div_header">
				<h1>New Task</h1>
			</div>
			<div class="div_sub_content">
                {% if organisations_count == 0 %}
                    <a href="{% url 'new_organisation' %}">Can you please create an organisation first.</a>
                {% else %}
                    <table>
                        <tr class="header"><td>Field</td><td>Input</td></tr>
                        <tr><td width="250px">Task Short Description:</td><td>{{ new_task_form.task_short_description }}</td></tr>
                        <tr><td>Task Long Description:</td><td>{{ new_task_form.task_long_description }}</td></tr>
                        <tr><td>Associated Organisation:</td><td>{{ new_task_form.organisations_id }}</td></tr>
                        <tr><td>Task Start:</td><td>{{ new_task_form.start_date_year }}/{{ new_task_form.start_date_month }}/{{ new_task_form.start_date_day }}<br/>{{ new_task_form.start_date_hour }}:{{ new_task_form.start_date_minute }} {{ new_task_form.start_date_meridiems }}</td></tr>
                        <tr><td>Task Finish:</td><td>{{ new_task_form.finish_date_year }}/{{ new_task_form.finish_date_month }}/{{ new_task_form.finish_date_day }}<br/>{{ new_task_form.finish_date_hour }}:{{ new_task_form.finish_date_minute }} {{ new_task_form.finish_date_meridiems }}</td></tr>
                    </table>
			</div>
		</div>
		<br/>
		<div class="div_content">
		<div class="div_header">
			<h2>Assigned to Group(s)</h2>
		</div>
		<div class="div_sub_content">
			{% if groups_count == 1 %}
				<p>Group already automatically choosen. Please click on "Submit"</p>
			{% else %}
				<p>Please select the appropriate groups to assign this project to - number {{ groups_count }}</p>
			{% endif %}
			<select multiple required name="assigned_to_groups" id="assigned_to_groups" style="width: 50%; height: 120px;">
			{% for group_row in groups_results %}
				<option value = "{{ group_row.group_id }}">{{ group_row.group_name }}</option>
			{% endfor %}
			</select>
			<br />
			<input type="submit" value="Submit new project">
			{% if groups_count == 1 %}
			<script>
				/*
				Method
				~~~~~~
				If the group_count == 1 we will use javascript to select
				the only option and then hide the select statement. As it
				will not be needed.
				 */
				var object=document.getElementById("assigned_to_groups");
				object.options[0].selected=true;
				object.style.display="none";

			</script>
			{% endif %}
			{% endif %}
		</div>
	</div>
	</form>
</body>
{% endblock %}
