{% extends "./template.html" %}
{% block content %}
<div class="div_content">
	<div class="div_header">
		<h1>New Customer</h1>
	</div>
	<div class="div_sub_content">
		<form action={% url 'new_customer' organisations_id %} method="post" class="new_customer">
			{% csrf_token %}
			<table>
				<tr class="header"><td width="250px">Field</td><td>Input</td></tr>
				{{ new_customer_form.as_table }}
			</table>
			<input type="submit" value="Submit new customer">
		</form>
	</div>
</div>
{% endblock %}
