{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/new_campus.js' %}"></script>
<body onload="on_page_load()">
    <div class="div_content">
        <div class="div_header">
            <h1>New Campus</h1>
        </div>
        <div class="div_sub_content">
            <form action="{% url 'new_campus' organisations_id %}" method="post" class="new_campus">
                {% csrf_token %}
                <table>
                    <tr class="header"><td width="250px">Field</td><td>Input</td></tr>
                    {{ new_campus_form.as_table }}

                    <tr><td>Country:</td><td>
                        <select id="campus_country_id" name="campus_country_id" onchange="country_changed()" required="True">
                            <option value="---------" selected disabled="disabled">---------</option>
                            {% for row in countries_results %}
                                <option value="{{ row.country_id }}">{{ row.country_name }}</option>
                            {% endfor %}
                        </select>
                    </td></tr>

                    <tr><td>Campus {{ campus_results.campus_region_id.region_type }}:</td><td>
                        <select id="campus_region_id" name="campus_region_id" required="True">
                            <option value="---------" selected disabled="disabled">---------</option>
                            {% for row in countries_regions_results %}
                                <option value="{{ row.region_id }}" country_id="{{ row.country_id_id }}">{{ row.region_name }}</option>
                            {% endfor %}
                        </select>
                    </td></tr>
                </table>
                <input type="submit" value="Submit new campus">
            </form>
        </div>
    </div>
</body>
{% endblock %}
