{% extends "./template.html" %}
{% block content %}
<h1>New Project</h1>
{% if groups_count == 0 or organisations_count == 0 %}
	<p><b>ERROR - </b>the following conditions are  not met;</p>
	<ul>
	{% if groups_count == 0 %}
		<li>Your user is not associated with any groups. Please see your Group Admin User</li>
	{% elif organisations_count == 0 %}
		<li>You currently have no organisations in the system. Please create one first.</li>
	{% endif %}
	</ul>
{% else %}
	<form action="{% url 'new_project' %} method="post" class="new_project_submit">
		{% csrf_token %}
		<table>
		{{ new_project_form.as_table }}
		<tr><td><input type="submit" value="Submit" /></td></tr>
		</table>
	</form>
{% endif %}
{% endblock %}
