{% extends "./template.html" %}
{% block content %}
{% load static %}
    <script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/javascript/new_opportunity.js' %}"></script>
    <script type="text/javascript">
    function initialise() {
        //Apply the customers and then apply the organisation and customers.
        apply_organisation_customer("{{ organisation_id }}","{{ customer_id }}");
        update_customers();

        apply_organisation_customer("{{ organisation_id }}","{{ customer_id }}");

        //Update the date boxes.
        check_end_date();
    }
    </script>




<body onload="initialise();">
    {% if organisation_id == '' and customer_id == '' %}
        <form action="{% url 'new_opportunity' %}" method="post" class="new_opportunity">
    {% elif not customer_id == '' %}
        <form action="{% url 'new_opportunity' organisation_id customer_id %}" method="post" class="new_opportunity">
    {% else %}
        <form action="{% url 'new_opportunity' organisation_id %}" method="post" class="new_opportunity">
    {% endif %}
        {% csrf_token %}
        <h1>New Opportunity</h1>
        {% if organisations_count == 0 %}
            <a href="{% url 'new_organisation' %}">Can you please create an organisation first.</a>
        {% else %}
            <ul>
                <li>{{ new_opportunity_form.opportunity_name }}</li>
                <li>{{ new_opportunity_form.opportunity_description }}</li>
                <li>Organisation: {{ new_opportunity_form.organisations_id }}</li>
                <li>Customer: <select id="customer_id" name="customer_id">
                    <option value="" selected>---------</option>
                    {% for row in customer_results %}
                        <option value="{{ row.customer_id }}" organisation_id="{{ row.organisations_id.organisations_id }}">{{ row.customer_first_name }} {{ row.customer_last_name }}</option>
                    {% endfor %}
                    </select>
                </li>
                <li>Opportunity Budget: {{ new_opportunity_form.currency_id }}{{ new_opportunity_form.opportunity_amount }}{{ new_opportunity_form.amount_type_id }}</li>
                <li>Opportunity Expected Closure: {{ new_opportunity_form.finish_date_year }} - {{ new_opportunity_form.finish_date_month }} - {{ new_opportunity_form.finish_date_day }}<br/>
                    {{ new_opportunity_form.finish_date_hour }}:{{ new_opportunity_form.finish_date_minute }} {{ new_opportunity_form.finish_date_meridiems }}</li>
                <li>Stage of Opportunity:
                    <select id="opportunity_stage" name="opportunity_stage" required="True" onchange="probability_update()">
                        <option value="---------" selected disabled="disabled">---------</option>
                        {% for row in opportunity_stage_results %}
                            <option value="{{ row.opportunity_stage_id }}" probability="{{ row.probability_success }}">{{ row.opportunity_stage_description }}</option>
                        {% endfor %}
                    </select>
                </li>
                <li>Success Probability: {{ new_opportunity_form.opportunity_success_probability }}%</li>
                <li>Lead Source: {{ new_opportunity_form.lead_source_id }}</li>
                <li>Next Step?: {{ new_opportunity_form.next_step_description }}</li>
            </ul>
            <h1>Grant Access to Opportunity</h1>
            <ul>
                <li>Select which groups are required to have access<br/>
                    {{ new_opportunity_form.select_groups }}

                    <br/>
                <li>Select which users are required to have access<br/>
                    {{ new_opportunity_form.select_users }}
                    <script type="text/javascript" src="{% static 'NearBeach/javascript/chosen-js/chosen.jquery.js' %}"></script>
                    <script type="text/javascript" src="{% static 'NearBeach/javascript/chosen-js/docsupport/prism.js' %}"></script>
                    <script type="text/javascript" src="{% static 'NearBeach/javascript/chosen-js/docsupport/init.js' %}"></script>
                    <br/>
                </li>
            </ul>
            If no Groups or Users are selected, then access will be granted for everyone. This can be changed at a later date.
            <input type="submit" value="Submit Opportunity">
        {%  endif %}


    </form>
</body>
{% endblock %}