{% extends "./template.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/chosen-js/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/chosen-js/docsupport/prism.css' %}">

    <script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
    <body onload="initiate_dates();">
        <form action={% url 'new_quote' primary_key destination %} method="post" class="new_quote">
        {% csrf_token %}
            <h2>New Quote</h2>
            <table>
                {{ new_quote_form.media }}
                <tr><td>{{ new_quote_form.quote_title }}</td></tr>
                <tr><td>Quote Terms<br/>{{ new_quote_form.quote_terms }}</td></tr>
                <tr><td>Quote Stage: {{ new_quote_form.quote_stage_id }}</td></tr>
                <tr><td>Quote Approval Status: {{ new_quote_form.quote_approval_status_id }}</td></tr>
                <tr><td>Time zone: {{ timezone }}</td></tr>
                <tr><td>Quote Valid To: {{ new_quote_form.quote_valid_till_year }}/{{ new_quote_form.quote_valid_till_month }}/{{ new_quote_form.quote_valid_till_day }}<br/>
                    {{ new_quote_form.quote_valid_till_hour }}:{{ new_quote_form.quote_valid_till_minute }} {{ new_quote_form.quote_valid_till_meridiems }}</td></tr>
                <tr><td>Customer Notes<br/>{{ new_quote_form.customer_notes }}</td></tr>
            </table>

            <h1>Opportunity Assignments</h1>
            <table>
                <tr>
                    <td>
                        Please give permissions to one or more groups. Please note: you will not be able to submit this project
                        without selecting at least one group
                    </td>
                </tr>
                <tr><td>{{ new_quote_form.select_groups }}</td></tr>
            </table>
            <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/chosen.jquery.js' %}"></script>
            <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/docsupport/prism.js' %}"></script>
            <script type="text/javascript" src="{% static 'NearBeach/widgets/chosen-js/docsupport/init.js' %}"></script>

            <input type="submit" value="Submit new quote">
        </form>
        <script>
            /*
            We want the quote's end date to be a default of in two weeks. So the following code extracts the date for in
            two weeks and then applies it to the quote end time.
             */
            document.getElementById("id_quote_valid_till_year").value = '{{ end_year }}';
            document.getElementById("id_quote_valid_till_month").value = '{{ end_month }}';
            document.getElementById("id_quote_valid_till_day").value = '{{ end_day }}';

            document.getElementById("id_quote_valid_till_hour").value = '5';
            document.getElementById("id_quote_valid_till_minute").value = '00';
            document.getElementById("id_quote_valid_till_meridiems").value = 'PM';

        </script>
    </body>
{% endblock %}

