{% extends "./template.html" %}
{% block content %}
{% load static %}
<body>
    <form action="{% url 'opportunity_information' opportunity_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="div_content">
            <div class="div_header">
                <h1>Opportunity Information</h1>
            </div>
            <div class="div_sub_content">
                <table>
                    <tr class="header"><td width="250px">Field</td><td>Input</td></tr>
                    <tr><td>Opportunity Name:</td><td>{{ opportunity_information_form.opportunity_name }}</td></tr>
                    <tr><td>Opportunity Description:</td><td>{{ opportunity_information_form.opportunity_description }}</td></tr>
                    <tr><td>Lead Source:</td><td>{{ opportunity_results.lead_source_id }}</td></tr>
                    <tr><td>Organisation:</td><td>{{ opportunity_results.organisations_id }}</td></tr>
                    <tr><td>Customer:</td><td>
                        <select>
                            <option value="">-------</option>
                            {% for row in customer_results %}

                                {% if row.customer_id == opportunity_results.customer_id.customer_id %}
                                    <option value="{{ row.customer_id }}" selected>
                                {% else %}
                                    <option value="{{ row.customer_id }}">
                                {% endif %}
                                {{ row.customer_first_name }} {{ row.customer_last_name }}</option>
                            {% endfor %}
                        </select>
                    </td></tr>
                    <tr><td>Opportunity Amount:</td><td>
                        {{ opportunity_information_form.currency_id }}
                        {{ opportunity_information_form.opportunity_amount }}
                        {{ opportunity_information_form.amount_type_id }}
                    </td></tr>
                    <tr><td>Opportunity Expected Close Date:</td><td>
                        {{ opportunity_information_form.finish_date_year }}
                        {{ opportunity_information_form.finish_date_month }}
                        {{ opportunity_information_form.finish_date_day }}
                        @ {{ opportunity_information_form.finish_date_hour }}:{{ opportunity_information_form.finish_date_minute }}
                        {{ opportunity_information_form.finish_date_meridiems }}</td></tr>
                    <tr><td>Opportunity Stage:</td><td>{{ opportunity_information_form.opportunity_stage_id }}</td></tr>
                    <tr><td>Opportunity Success Probability:</td><td>{{ opportunity_information_form.opportunity_success_probability }}</td></tr>
                </table>
                <input type="submit" name="submit_contact" value="Update"/>
            </div>
        </div>
        <br/>
        <div class="div_content">
            <div class="div_header">
                <h4>To Do</h4>
            </div>
            <div class="div_sub_content">
                {{ opportunity_information_form.next_step }}
                <input type="submit" name="submit_next_step" value="Add To Do"/>
                {% if next_step_results %}
                    <table>
                        <tr class="header">
                            <td>Next Step</td>
                            <td width="20%">Completed</td>
                        </tr>
                        {% for row in next_step_results %}
                            <tr>
                                <td>{{ row.next_step_description }}</td>
                                {% if row.next_step_completed == 0 %}
                                    <td><a href="{% url 'next_step' row.id opportunity_results.opportunity_id %}">Click to Complete</a></td>
                                {% else %}
                                    <td>Completed</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>There are currently no next steps</p>
                {% endif %}
            </div>
        </div>
        <br/>
        <div class="div_content" style="display: none;">
            <div class="div_header">
                <h3>Associated Projects & Tasks</h3>
            </div>
            <div class="div_sub_content">
                <ul>
                    <li><a href="#">Create New Project</a></li>
                    <li><a href="#">Create New Task</a></li>
                </ul>
                <h4>Assigned Projects</h4>
                {% if project_results %}
                    <table>
                        <tr class="header">
                            <td>Project ID</td>
                            <td>Project Name</td>
                            <td>Project End Date</td>
                            <td>Project Status</td>
                        </tr>
                        {% for row in project_results %}
                            <tr>
                                <td><a href="#">PRO{{ row.project_id }}</a></td>
                                <td>{{ row.project_name }}</td>
                                <td>{{ row.project_end_date }}</td>
                                <td>{{ row.project_status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>There are no associated projects. Please create a new project</p>
                {% endif %}
                <br/>
                <h4>Assigned Tasks</h4>
                {% if task_results %}
                    <table>
                        <tr class="header">
                            <td>Task ID</td>
                            <td>Project Name</td>
                            <td>Project End Date</td>
                            <td>Project Status</td>
                        </tr>
                        {% for row in task_results %}
                            <tr>
                                <td><a href="#">TASK{{ row.tasks_id }}</a></td>
                                <td>{{ row.task_short_description }}</td>
                                <td>{{ row.task_end_date }}</td>
                                <td>{{ row.task_status }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>There are no associated tasks. Please create a new task</p>
                {% endif %}
            </div>
        </div>
    </form>
</body>
{% endblock %}