{% extends "./template.html" %}
{% block content %}
<div class="div_content">
	<div class="div_header">
		<h1>{{ organisation_results.organisation_name }}</h1>
	</div>
	<div class="div_sub_content">
		<p>Website: <input id="organisation_website" type="text" value="{{ organisation_results.organisation_website }}"></p>
	</div>
</div>
<br/>
<div class="div_content">
	<div class="div_header">
		<h3>Organisation Campus'</h3>
	</div>
	<div class="div_sub_content">
		<a href="{% url 'new_campus' organisation_results.organisations_id %}">New Campus</a>
		<table>
		<tr class="header"><td>Campus Nickname</td><td>Campus Location</td><td>Campus Address</td></tr>
		{% for campus in campus_results %}
			<tr>
			<td><a href="{% url 'campus_information' campus.pk %}">{{ campus.campus_nickname }}</a></td>
			<td>{{ campus.campus_country_id }} - {{ campus.campus_region_id }}</td>
			<td>{{ campus.campus_address1 }}<br />{{ campus.campus_address2 }}<br />{{ campus.campus_address3 }}{{ campus.campus_suburb }}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
<br/>
<div class="div_content">
	<div class="div_header">
		<h3>Organisation Contacts</h3>
	</div>
	<div class="div_sub_content">
		<a href="{% url 'new_customer' organisation_results.organisations_id%}">New Customer</a>
		<table>
		<tr class="header"><td>Name</td><td>Email</td></tr>
		{% for customer in customers_results %}
			<tr>
			<td><a href="{% url 'customer_information' customer.customer_id %}">{{ customer.customer_first_name }} {{ customer.customer_last_name }}</a></td>
			<td>{{ customer.customer_email }}</td>


			</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
