
{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/autoscale_textarea.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/permissions.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/../../static/NearBeach/widgets/datetimepicker/jquery.datetimepicker.full.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'NearBeach/javascript/../../static/NearBeach/widgets/datetimepicker/jquery.datetimepicker.min.css' %}">

<body onload="on_page_load()">
    <form action="{% url 'organisation_information' organisation_results.organisation_id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>{{ organisation_results.organisation_name }}</h2>
        <ul>
            {% if profile_picture %}
                <li><img src="{{ profile_picture }}" height="160px"><br/> {% if organisation_permissions > 1 %}{{ organisation_information_form.update_profile_picture }}{% endif %}</li>
                <li id="upload_errors"></li>
            {% else %}
                <li><img src="{% static 'NearBeach/images/icons/star.svg' %}" height="160px"><br/> {% if organisation_permissions > 1 %}{{ organisation_information_form.update_profile_picture }}{% endif %}</li>
            {% endif %}
            <li>{{ organisation_information_form.organisation_name }}</li>
            <li>{{ organisation_information_form.organisation_website }}</li>
        </ul>
        {% if organisation_permissions > 1 %}
            <input type="submit" name="submit_contact" value="Update"/>
        {% endif %}
        {% if organisation_campus_permissions > 0 %}
            <h2>Organisation Campus'</h2>
            {% if organisation_campus_permissions > 1 %}
                <a href="{% url 'new_campus' organisation_id 'organisation' %}">New Campus</a>
            {% endif %}
            <table>
            <tr class="header"><td>Campus Nickname</td><td>Campus Location</td><td>Campus Address</td></tr>
            {% for campus in campus_results %}
                <tr>
                <td><a href="{% url 'campus_information' campus.pk %}">{{ campus.campus_nickname }}</a></td>
                <td>{{ campus.campus_country_id }} - {{ campus.campus_region_id }}</td>
                <td>{{ campus.campus_address1 }}<br />{{ campus.campus_address2 }}<br />{{ campus.campus_address3 }}{{ campus.campus_suburb }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        {% if customer_permissions > 0 %}
            <h2>Organisation Contacts</h2>
            {% if customer_permissions > 1 %}
                <a href="{% url 'new_customer' organisation_results.organisation_id%}">New Customer</a>
            {% endif %}
            <table>
            <tr class="header"><td>Name</td><td>Email</td></tr>
            {% for customer in customer_results %}
                <tr>
                    <td><a href="{% url 'customer_information' customer.customer_id %}">{{ customer.customer_first_name }} {{ customer.customer_last_name }}</a></td>
                    <td>{{ customer.customer_email }}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
    </form>

    <form method="post" class="organisation_contact_history" id="organisation_contact_history" enctype="multipart/form-data">
        <h2>Contact History</h2>
        Loading...
    </form>

    <div id="email_history">
        <h2>Email History</h2>
        Loading...
    </div>

    <form method="post" class="organisation_documents_list" id="organisation_documents_list" enctype="multipart/form-data">
        <h2>Organisation Documents List</h2>
        Loading...
    </form>

    <h2>Organisation Quotes</h2>
    <a href="{% url 'new_quote' organisation_results.organisation_id 'organisation' %}">New Quote</a>
    {% if quote_results %}
        <table>
            <tr>
                <td width="50%">Quote Title</td>
                <td width="25%">Valid Till</td>
                <td width="25%">Quote Stage</td>
            </tr>
            {% for row in quote_results %}
                <tr>
                    <td><a href="{% url 'quote_information' row.quote_id %}">{{ row.quote_title }}</a></td>
                    <td>{{ row.quote_valid_till }}</td>
                    <td>{{ row.quote_stage_id }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <br/>


        <h2>Associated Projects & Tasks</h2>
        {% if organisation_permissions > 1 %}
            <ul>
                <li><a href="{% url 'new_project' organisation_results.organisation_id 'organisation' %}">Create New Project</a></li>
                <li><a href="{% url 'new_task' organisation_results.organisation_id 'organisation' %}">Create New Task</a></li>
            </ul>
        {% endif %}

        <h2>Assigned Projects</h2>
        {% if project_results %}
            <table>
                <tr class="header">
                    <td>Project ID</td>
                    <td>Project Name</td>
                    <td>Project End Date</td>
                    <td>Project Status</td>
                </tr>
                {% for row in project_results %}
                    <tr>
                        <td><a href="{% url 'project_information' row.project_id %}">PRO{{ row.project_id }}</a></td>
                        <td>{{ row.project_name }}</td>
                        <td>{{ row.project_end_date }}</td>
                        <td>{{ row.project_status }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are no associated projects. Please create a new project</p>
        {% endif %}
        <br/>
        <h4>Assigned Tasks</h4>
        {% if task_results %}
            <table>
                <tr class="header">
                    <td>Task ID</td>
                    <td>Project Name</td>
                    <td>Project End Date</td>
                    <td>Project Status</td>
                </tr>
                {% for row in task_results %}
                    <tr>
                        <td><a href="{% url 'task_information' row.task_id %}">TASK{{ row.task_id }}</a></td>
                        <td>{{ row.task_short_description }}</td>
                        <td>{{ row.task_end_date }}</td>
                        <td>{{ row.task_status }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>There are no associated tasks. Please create a new task</p>
        {% endif %}
        <h2>Organisation Opportunities</h2>
        <a href="{% url 'new_opportunity' organisation_results.organisation_id 'organisation' %}">Add a new opportuninity</a>
        {% if opportunity_results %}
            <table>
                <tr class="header">
                    <td>Opportunity Name</td>
                    <td>Customer</td>
                    <td>Opportunity Stage</td>
                    <td>Opportunity End Date</td>
                </tr>
                {% for row in opportunity_results %}
                    <tr>
                        <td><a href="{% url 'opportunity_information' row.opportunity_id %}">{{ row.opportunity_name }}</a></td>
                        {% if row.customer_id.customer_id %}
                            <td><a href="{% url 'customer_information' row.customer_id.customer_id %}">{{ row.customer_id }}</a></td>
                        {% else %}
                            <td> - </td>
                        {%  endif %}
                        <td>{{ row.opportunity_stage_id }}</td>
                        <td>{{ row.opportunity_expected_close_date }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}

<script>

    $("#organisation_contact_history").on('submit', function(e) {
        e.preventDefault();

        var form_data = new FormData(this);
        $.ajax({
            xhr: function() {
                    var xhr = new window.XMLHttpRequest();

                    // Upload progress
                    xhr.upload.addEventListener("progress", function(evt){
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            //Do something with upload progress
                            console.log(percentComplete);

                            $("#upload_percent").html(parseFloat(percentComplete * 100).toFixed(2) + "%");
                            $("#upload_progress").css(
                                'width', percentComplete * 100 + '%'
                            );
                        }
                   }, false);
                   return xhr;
            },
            type: 'POST',
            url: '/information_organisation_contact_history/{{ organisation_results.organisation_id }}/',
            data: form_data,
            processData: false,
            contentType: false,
            success: function() {
                //Reload the project history :)
                load_contact_history();
            },
            error: function() {
                alert("Sorry, project history did not save. Please try again.");
            }
        })
    });


    $("#organisation_documents_list").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_organisation_documents_list/{{ organisation_id }}',
            data: $(this).serialize(),
            success: function() {
                //Reload the project history :)
                load_organisation_documents_list();
            },
            error: function() {
                alert("Sorry, project history did not save. Please try again.");
            }
        })
    });


    $("#id_update_profile_picture").on("change",function(e){
        //Get the file
        var file = e.currentTarget.files,
            filesize = (file[0].size/1024/1024).toFixed(4);

        if (filesize >= 1.0) {
            //Sorry, the file is too big
            $("#id_update_profile_picture").val('');
            $("#upload_errors").html("Sorry - the file you tried uploading is too big.")
        } else {
            $("#upload_errors").html("")
        }
    });


    function load_contact_history() {
        //Load Project History
        $.ajax({
            url: '/information_organisation_contact_history/{{ organisation_results.organisation_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#organisation_contact_history').html(data);
            },
            error: function() {
                $('#organisation_contact_history').html('<h2>Contact History</h2>Sorry, contact history encounted an error and did not load.');
            }
        });
    };

    function load_email_history() {
        $.ajax({
            url: '/email_history/{{ organisation_results.organisation_id }}/organisation',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $("#email_history").html(data);
            },
            error: function() {
                alert("Sorry, the email history could not load");
            }
        })
    };


    function load_organisation_documents_list() {
        //Load Project History
        $.ajax({
            url: '/information_organisation_documents_list/{{ organisation_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#organisation_documents_list').html(data);
            },
            error: function() {
                $('#organisation_documents_list').html('<h2>Contact Documents</h2>Sorry, organisations documents encounted an error and did not load.');
            }
        });
    };


    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function delete_document(document_key) {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.ajax({
            url: "/delete_document/" + document_key + "/",
            data: {},
            dataType: 'HTML',
            type: 'POST',
            success: function(data) {
                load_organisation_documents_list();
            },
            error: function() {
                alert("There was an issue deleting the document");
            }
        })
    }

    // using jQuery to extract the CSRFToken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

	function on_page_load() {
	    //Load AJAX components
        load_contact_history();
        load_organisation_documents_list();
        load_email_history();

        //Autoscale all textarea
        autoscale_textarea();

        //Fix up just contact history's input textarea
        //document.getElementById("id_contact_history").style.height = "200px";

        //THIS WILL NEED TO BE MOVED TO THE MODULE!!
        //initiate_dates();

        //Setup the user permissions
        set_permissions({{ organisation_permissions }})
	}


</script>
</body>
{% endblock %}
