<!DOCTYPE html>
<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<head>
        {% load staticfiles %}
        <link rel='stylesheet' href='{% static "NearBeach/css/styles.css" %}' />
	</head>
	<body>
        <div id="wrapper">
            <h2>Password Reset</h2>
            <div>Have you forgotten your password? Not a problem. Please enter in your email and we will send you instructions on how to reset it.</div>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.email.errors }}
                {{ form.email }}
                <input type="submit" value="Send email">
            </form>
        </div>
	</body>
</html>


