{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/expand_sections.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/project_information.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/render_documents.js' %}"></script>
<script>
	function on_page_load() {
		initiate_dates();
		render_documents_code = '<div id="_folder" class="folder_sub_content">' + render_folders({{ document_folders_results | safe }}, null) + '</div>';

		root_folder = document.getElementById("root_folder");
		root_folder.innerHTML = render_documents_code;

        render_documents({{ documents_results | safe }}, {{ media_url }});
	}
</script>

<body onload="on_page_load();">
	<form action="{% url 'project_information' project_results.project_id %}" method="POST" enctype="multipart/form-data">
		<div class="div_content">
			<div class="div_header">
				<h1>Project Information - PRO{{ project_results.project_id }}</h1>
			</div>
			<div class="div_sub_content">
                {% csrf_token %}
                {% if project_results.project_status == 'Resolved' or project_results == 'Closed' %}
                    <fieldset disabled="disabled">
                {% endif %}

                {{ project_information_form.project_name }}<br/>
                {{ project_information_form.project_description }}<br/>
                Organisation - {{ project_results.organisations_id.organisation_name }}<br/>
                Project Status - {{ project_results.project_status }}<br/>
                Project Start - {{ project_information_form.start_date_year }}{{ project_information_form.start_date_month }}{{ project_information_form.start_date_day }} @ {{ project_information_form.start_date_hour }}:{{ project_information_form.start_date_minute }} {{ project_information_form.start_date_meridiems }}<br/>
                Project Finish - {{ project_information_form.finish_date_year }}{{ project_information_form.finish_date_month }}{{ project_information_form.finish_date_day }} @ {{ project_information_form.finish_date_hour }}:{{ project_information_form.finish_date_minute }}{{ project_information_form.finish_date_meridiems }}<br/><br/>
                {{ project_information_form.project_history_text }}
                <input type="submit" name="Save" value="Save"/>
                {% if project_results.project_status == 'New' or prooject_results.project_status == 'Open' %}
                    <input type="submit" name="Resolve" value="Resolve Project"/>
                {% else %}
                    </fieldset>
                {% endif %}

			</div>
		</div>
		<br/>
		<div class="div_content">
			<div class="div_header" onclick="hide_unhide('div_project_history')">
				<h3>Project History</h3>
			</div>
			<div class="div_sub_content" id="div_project_history" style="display: none;">
				{% if project_history_results %}
					{% for row in project_history_results %}
						<p>{{ row.user_infomation }} - {{ row.user_id }} - {{ row.audit_date }}<br />
						<textarea readonly>{{ row.project_history }}</textarea>
						</p>
					{% endfor %}
				{% else %}
					<p>Currently no history</p>
				{% endif %}
			</div>
		</div>
		<br/>
		<div class="div_content">
			<div class="div_header" onclick="hide_unhide('div_associated_tasks')">
				<h3>Associated Tasks</h3>
			</div>
			<div class="div_sub_content" id="div_associated_tasks" style="display: none;">
                {% if project_results.project_status == 'New' or prooject_results.project_status == 'Open' %}
				    <a href="{% url 'associated_tasks' project_results.project_id %}">Associate Task</a>
                {% endif %}
				{% if associated_tasks_results %}
						<table>
						<tr class="header"><td>Task Id</td><td>Short Description</td><td>End Date</td></tr>
						{% for associated_task_row in associated_tasks_results %}
							<tr>
							<td><a href="Task - {% url 'task_information' associated_task_row.tasks_id %}">{{ associated_task_row.tasks_id }}</a></td>
							<td>{{ associated_task_row.task_short_description }}</td>
							<td>{{ associated_task_row.task_end_date }}</td>
							</tr>
						{% endfor %}

						</table>
				{% else %}
					<p>Currently no associated history.</p>
				{% endif %}
			</div>
		</div>
		<br/>
		<div class="div_content">
			<div class="div_header" onclick="hide_unhide('div_project_customers')">
				<h3>Project Customers</h3>
			</div>
			<div class="div_sub_content" id="div_project_customers" style="display: none;">
				{% if new_customers_results %}
                    {% if project_results.project_status == 'New' or project_results.project_status == 'Open' %}
                        <select id="add_customer_select" name="add_customer_select" onchange="enable_disable_add_customer()" >
                            <option value="---------" selected>---------</option>
                            {% for row in new_customers_results %}
                                <option value="{{ row.customer_id }}">{{ row.customer_name }}</option>
                            {% endfor %}
                        </select>
                        <input type="submit" name="add_customer_submit" id="add_customer_submit" value="Add Customers to Project" disabled="disabled">
                    {% endif %}
				{% endif %}
				{% if project_customers_results %}
					<table>
						<tr class="header">
							<td>Customer Name</td>
							<td>Customer Description</td>
							<td>Customer Email</td>
							<td>Customer Campus</td>
							<td>Customer Phone</td>
						</tr>
						{% for row in project_customers_results %}
							<tr>
								<td>{{ row.customer_first_name }} {{ row.customer_last_name }}</td>
								<td>{{ row.customer_description }}</td>
								<td>{{ row.customer_email }}</td>
								<td>{{ row.campus_nickname }}</td>
								<td>{{ row.customer_phone }}</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<br/>Sorry, there seems to be no customers associated with this project.
				{% endif %}
			</div>
		</div>
		<br/>
		<div class="div_content">
			<div class="div_header" onclick="hide_unhide('div_project_costs')">
				<h3>Project Costs</h3>
			</div>
			<div class="div_sub_content" id="div_project_costs" style="display: none;">
				[Content to contain ability to add in extra costs]
			</div>
		</div>
		<br/>
		<div class="div_content">
			<div class="div_header" onclick="hide_unhide('div_project_documents')">
				<h3>Project Documents</h3>
			</div>
			<div class="div_sub_content" id="div_project_documents" style="display: none;">
                {% if project_results.project_status == 'New' or prooject_results.project_status == 'Open' %}
                    <a href="#" onclick="add_new_document()">Upload New Document</a><br/>
                    <a href="#" onclick="add_new_folder()">Create New Folder</a>
                {% endif %}
				<div id="root_folder">
					It looks like there are no documents or folders
				</div>
			</div>
		</div>
		<div id="overlay_new_document" class="overlay_new_document">
			<div class="overlay_content">
				<h1>New Document</h1>
				<select id="upload_type" onchange="upload_or_link()">
					<option id="upload">Upload Documentation</option>
					<option id="link">Link Documentation</option>
				</select>
				<div id="overlay_upload" style="display: block;">
					<p>Please upload a file and press submit</p>
					{{ project_information_form.document }}

				</div>
				<div id="overlay_link" style="display: none;">
					<p>Please include the URL to the cloud document</p>
					{{ project_information_form.document_url_location }}
				</div>
				<br/>
				<div width="100%">
					File Description<br/>
					{{ project_information_form.document_description }}<br/>
					Folder Location<br/>
					<select id="parent_folder_id" name="parent_folder_id">
						<option value="">-----</option>
					</select>
				</div>
				<div>
					<button id="new_document" name="new_document" disabled>Submit</button>
					<a href="#" onclick="add_new_document()">Cancel</a>
				</div>
			</div>
		</div>
		<div id="overlay_new_folder" class="overlay_new_folder">
			<div class="overlay_content">
				<h1>New Folder</h1>
				{{ project_information_form.document_folder_description }}<br/>
				<select id="folder_location" name="parent_folder_id">
					<option value="">-----</option>
				</select>
				<div>
					<button id="new_folder" name="new_folder" disabled>Submit</button>
					<a href="#" onclick="add_new_folder()">Cancel</a>
				</div>
			</div>
		</div>
        <br/>
        <div class="div_content">
            <div class="div_header">
                <h4>Assigned Users</h4>
            </div>
            <div class="div_sub_content">
                {% if users_results %}
                    <select id="add_user_select" name="add_user_select" onchange="enable_disable_add_user()">
                        <option value="------">-------</option>
                        {% for row in users_results %}
                            <option value="{{ row.id }}">{{ row.Name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" id="add_user_submit" name="add_user_submit" value="Add User" disabled="disabled"/>
                {% endif %}
                {% if assigned_results %}
                    <table>
                        <tr class="header">
                            <td>Username</td>
                            <td>First Name</td>
                            <td>Last name</td>
                        </tr>
                        {% if assigned_results %}
                            {% for row in assigned_results %}
                                <tr>
                                    <td>{{ row.user_id__username }}</td>
                                    <td>{{ row.user_id__first_name }}</td>
                                    <td>{{ row.user_id__last_name }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                {% else %}
                    <p>There are currently no staff members assigned to this project</p>
                {% endif %}
            </div>
        </div>
	</form>
</body>
{% endblock %}
