{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/expand_sections.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/project_information.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/autoscale_textarea.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/costs_running_total.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/permissions.js' %}"></script>

<script>
    function on_page_load() {
	    //Initiate AJAX modules
        load_project_assigned_users();
        load_project_costs();
        load_project_customers();
        load_project_history();

        load_document_tree_upload_documents();
        load_document_tree_create_folder();
        load_document_tree_list();


	    //Initiate the dates
		initiate_dates();

        //Autoscale all textarea
        autoscale_textarea();

        //Running totals under costs
        running_total();

        //Finally set the permissions
        set_permissions({{ project_permissions }});
	}
</script>

<body onload="on_page_load();">
	<form id="project_information" name="project_information" method="POST" enctype="multipart/form-data">
        <h2>Project Information - PRO{{ project_results.project_id }}</h2>
        {% csrf_token %}
        <div id="save_state"></div>
        {% if project_results.project_status == 'Resolved' or project_results == 'Closed' %}
            <fieldset disabled="disabled">
        {% endif %}

        {{ project_information_form.project_name }}<br/>
        {{ project_information_form.project_description }}<br/>
        Organisation - {{ project_results.organisations_id.organisation_name }}<br/>
        Project Status - {{ project_results.project_status }}<br/>
        Project Start - {{ project_information_form.start_date_year }}{{ project_information_form.start_date_month }}{{ project_information_form.start_date_day }} @ {{ project_information_form.start_date_hour }}:{{ project_information_form.start_date_minute }} {{ project_information_form.start_date_meridiems }}<br/>
        Project Finish - {{ project_information_form.finish_date_year }}{{ project_information_form.finish_date_month }}{{ project_information_form.finish_date_day }} @ {{ project_information_form.finish_date_hour }}:{{ project_information_form.finish_date_minute }}{{ project_information_form.finish_date_meridiems }}<br/><br/>
        {{ project_information_form.project_history_text }}<br/>
        <input type="submit" name="update" id="update" value="Update"/>
        {% if project_results.project_status == 'New' or prooject_results.project_status == 'Open' %}
            <input type="submit" name="Resolve" id="resolve" value="Resolve Project"/>
        {% else %}
            </fieldset>
        {% endif %}
    </form>

    <form method="post" class="project_history" id="project_history">
        <h2>Project History</h2>
        Loading...
    </form>
        <h2>Associated Tasks</h2>
        {% if project_results.project_status == 'New' or prooject_results.project_status == 'Open' %}
            {% if project_permissions > 1 %}
                <a href="{% url 'associated_tasks' project_results.project_id %}">Associate Task</a>
            {% endif %}
        {% endif %}
        {% if associated_tasks_results %}
                <table>
                <tr class="header"><td>Task Id</td><td>Short Description</td><td>End Date</td></tr>
                {% for associated_task_row in associated_tasks_results %}
                    <tr>
                    <td><a href="{% url 'task_information' associated_task_row.tasks_id %}">Task - {{ associated_task_row.tasks_id }}</a></td>
                    <td>{{ associated_task_row.task_short_description }}</td>
                    <td>{{ associated_task_row.task_end_date }}</td>
                    </tr>
                {% endfor %}

                </table>
        {% else %}
            <p>Currently no associated history.</p>
        {% endif %}

    <form method="post" class="project_customers" id="project_customers">
        <h2>Project Customers</h2>
        Loading...
    </form>

    <form method="post" class="project_costs" id="project_costs">
        <h2>Project Costs</h2>
        Loading...
    </form>

    <h2>Document Uploads</h2>
    <form method="post" class="document_tree_upload_documents" id="document_tree_upload_documents" enctype="multipart/form-data">
        <h2>Document Tree Upload Documents</h2>
        Loading...
    </form>

    <form method="post" class="document_tree_create_folder" id="document_tree_create_folder">
        <h2>Document Tree Create Folder</h2>
        Loading...
    </form>

    <form method="post" class="document_tree_list" id="document_tree_list">
        <h2>Document Tree List</h2>
        Loading...
    </form>

    <h2>Project Quotes</h2>
    <a href="{% url 'new_quote' project_id 'project' %}">New Quote</a>
    {% if quote_results %}
        <table>
            <tr>
                <td width="50%">Quote Title</td>
                <td width="25%">Valid Till</td>
                <td width="25%">Quote Stage</td>
            </tr>
            {% for row in quote_results %}
                <tr>
                    <td><a href="{% url 'quote_information' row.quote_id %}">{{ row.quote_title }}</a></td>
                    <td>{{ row.quote_valid_till }}</td>
                    <td>{{ row.quote_stage_id }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


    <form method="post" class="project_assigned_users" id="project_assigned_users">
        <h2>Assigned Users</h2>
        Loading...
    </form>




<script>
    $("#document_tree_create_folder").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/document_tree_create_folder/{{ project_id }}/P/',
            data: $(this).serialize(),
            success: function() {
                load_document_tree_create_folder();
                load_document_tree_list();
            },
            error: function() {
                alert("Sorry, document tree create folder did not save. Please try again.");
            }
        })
    });


    $("#project_assigned_users").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_project_assign_users/{{ project_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the project history :)
                load_project_assigned_users();
            },
            error: function() {
                alert("Sorry, project assigned users did not save. Please try again.");
            }
        })
    });

    $("#project_costs").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_project_costs/{{ project_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the project history :)
                load_project_costs();
            },
            error: function() {
                alert("Sorry, project costs did not save. Please try again.");
            }
        })
    });

    $("#project_customers").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_project_customers/{{ project_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the project history :)
                load_project_customers();
            },
            error: function() {
                alert("Sorry, project customers did not save. Please try again.");
            }
        })
    });



    //Code used to help send which button was clicked in POST
    $("form input[type=submit]").click(function() {
        $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
        $(this).attr("clicked", "true");
    });
    $("#project_information").on('submit', function(e) {
        //State the save_state is currently saving
        $("#save_state").html("Currently Saving Project");

        //Grab which button was pressed
        var which_button = $("input[type=submit][clicked=true]").val()

        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/project_information/{{ project_id }}/',
            data: $(this).serialize(),
            success: function() {
                //State that the function has saved
                var current_time = Date();
                $("#save_state").html("Saved last on " + current_time);

                //If we have the resolve button, we will need to navigate to the resolved project url.
                if (which_button == "Resolve Project") {
                    //Navigate to the resolve project URL
                    document.location = "{% url 'resolve_project' project_id %}"
                }            },
            error: function() {
                alert("Sorry, project information did not save. Please try again.");
            }
        })
    });

    $("#project_history").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_project_history/{{ project_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the project history :)
                load_project_history();
            },
            error: function() {
                alert("Sorry, project history did not save. Please try again.");
            }
        })
    });


    function load_project_assigned_users() {
        //Load Project History
        $.ajax({
            url: '/information_project_assign_users/{{ project_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#project_assigned_users').html(data);
            },
            error: function() {
                $('#project_assigned_users').html('<h2>Assigned Users</h2>Sorry, assigned users encounted an error and did not load.');
            }
        });
    };


    function load_document_tree_create_folder() {
        //Load Project History
        $.ajax({
            url: '/document_tree_create_folder/{{ project_id }}/P',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#document_tree_create_folder').html(data);
            },
            error: function() {
                $('#document_tree_create_folder').html('Sorry, document tree create folder encounted an error and did not load.');
            }
        });
    };


    function load_document_tree_upload_documents() {
        //Load Project History
        $.ajax({
            url: '/document_tree_upload_documents/{{ project_id }}/P',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#document_tree_upload_documents').html(data);
            },
            error: function() {
                $('#document_tree_upload_documents').html('Sorry, document tree upload documents encounted an error and did not load.');
            }
        });
    };

    function load_document_tree_list() {
        //Load Project History
        $.ajax({
            url: '/document_tree_list/{{ project_id }}/P',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#document_tree_list').html(data);
            },
            error: function() {
                $('#document_tree_list').html('<h2>Document Tree</h2>Sorry, document tree encounted an error and did not load.');
            }
        });
    };




    function load_project_costs() {
        //Load Project History
        $.ajax({
            url: '/information_project_costs/{{ project_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#project_costs').html(data);
                running_total();
            },
            error: function() {
                $('#project_history').html('<h2>Project Costs</h2>Sorry, project costs encounted an error and did not load.');
            }
        });
    };

    function load_project_customers() {
        //Load Project Customers
        $.ajax({
            url: '/information_project_customers/{{ project_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#project_customers').html(data);
            },
            error: function() {
                $('#project_customers').html('<h2>Project Customers</h2>Sorry, project customers encounted an error and did not load.');
            }
        });
    };

    function load_project_history() {
        //Load Project History
        $.ajax({
            url: '/information_project_history/{{ project_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#project_history').html(data);
            },
            error: function() {
                $('#project_history').html('<h2>Project History</h2>Sorry, project history encounted an error and did not load.');
            }
        });
    };

</script>




</body>
{% endblock %}
