{% extends "./template.html" %}
{% block content %}
{% load static %}
    <script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/javascript/new_opportunity.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/javascript/permissions.js' %}"></script>

<script>
    function on_page_load() {
        //Load AJAX components
        reload_list_of_line_items();
        reload_new_line_item();
        reload_responsible_customer();
        load_email_history();

        set_permissions({{ quote_permission }})
    }

    function reload_new_line_item() {
        $.ajax({
            url: '/quote_new_line_item/{{ quote_id }}/',
            data: {},
            dataType: 'HTML',
            type:'GET',
            success: function(data) {
                $('#new_line_item').html(data);
            },
            error: function(){
                alert("Sorry - line item failed for some reason.");
            }
        });
    }

    function reload_list_of_line_items() {
        $.ajax({
            url: '/quote_list_of_line_items/{{ quote_id }}/',
            data: {},
            dataType: 'HTML',
            type:'GET',
            success: function(data) {
                $('#list_of_line_items').html(data);
            },
            error: function(){
                alert("Sorry - list of line item failed for some reason.");
            }
        });
    }


    function reload_responsible_customer() {
        $.ajax({
            url: '/quote_responsible_customer/{{ quote_id }}/',
            data: {},
            dataType: 'HTML',
            type:'GET',
            success: function(data) {
                $('#list_of_responsible_customers').html(data);
            },
            error: function(){
                alert("Sorry - loading responsible customers failed.");
            }
        });
    }

    function delete_line_item(line_item) {
        $.ajax({
            url: '/quote_delete_line_item/' + line_item + '/',
            data: {},
            dataType: 'HTML',
            type:'GET',
            success: function(data) {
                reload_list_of_line_items();
            },
            error: function(){
                alert("Sorry - list of line item failed for some reason.");
            }
        });
    }

    function responsible_customer_changed() {
        customer_id = $("#responsible_customer").val()

        $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.ajax({
                url: '/quote_responsible_customer/{{ quote_id }}/' + customer_id + '/',
                data: {},
                dataType: 'HTML',
                type: 'POST',
                success: function (data) {
                    //RELOAD STUFF
                    $('#list_of_responsible_customers').html(data);
                },
                error: function() {
                    alert("Sorry, could not add a new responsible customer. Please try again soon.")
                }
            })
    }

</script>

<link rel="stylesheet" href="{% static 'NearBeach/javascript/chosen-js/chosen.css' %}">
<link rel="stylesheet" href="{% static 'NearBeach/javascript/chosen-js/docsupport/prism.css' %}">

<body onload="on_page_load()">

    <form action={% url 'quote_information' quote_id %} method="post" class="new_quote">
    {% csrf_token %}
        <h2>{{ quote_or_invoice }}{{ quotes_results.quote_id }}</h2>
        <table>
            {{ quote_information_form.media }}
            <tr><td></td>{{ quote_information_form.quote_title }}</tr>
            <tr><td>{{ quote_information_form.quote_terms }}</td></tr>
            <tr><td>{{ quote_or_invoice }} Stage: {{ quote_information_form.quote_stage_id }}</td></tr>
            <tr><td>Time zone: {{ timezone }}</td></tr>
            <tr><td>{{ quote_or_invoice }} Valid To: {{ quote_information_form.quote_valid_till_year }}/{{ quote_information_form.quote_valid_till_month }}/{{ quote_information_form.quote_valid_till_day }}<br/>
                {{ quote_information_form.quote_valid_till_hour }}:{{ quote_information_form.quote_valid_till_minute }} {{ quote_information_form.quote_valid_till_meridiems }}</td></tr>
            <tr><td>{{ quote_information_form.customer_notes }}</td></tr>
            <tr><td>Quote Billing Address: {{ quote_information_form.quote_billing_address }}</td></tr>
        </table>
        <input type="submit" value="Update {{ quote_or_invoice }}">
        {% if quote_or_invoice == 'Quote' %}
            <input type="submit" value="Create Invoice" name="create_invoice" id="create_invoice">
        {% else %}
            <input type="submit" value="Revert to Quote" name="revert_quote" id="revert_quote">
        {% endif %}
    </form>
    <h2>Quote Links</h2>
    <table>
        <tr>
            <td>Link</td>
            <td>Description</td>
        </tr>
        {% if quotes_results.project_id %}
            <tr>
                <td><a href="{% url 'project_information' quotes_results.project_id.project_id %}">PRO{{ quotes_results.project_id.project_id }}</a></td>
                <td>{{ quotes_results.project_id }}</td>
            </tr>
        {% elif quotes_results.task_id %}
            <tr>
                <td><a href="{% url 'task_information' quotes_results.task_id.tasks_id %}">TASK{{ quotes_results.task_id.tasks_id }}</a></td>
                <td>{{ quotes_results.task_id }}</td>
            </tr>
        {% elif quotes_results.organisation_id %}
            <tr>
                <td><a href="{% url 'organisation_information' quotes_results.organisation_id.organisations_id %}">ORG{{ quotes_results.organisation_id.organisations_id }}</a></td>
                <td>{{ quotes_results.organisation_id }}</td>
            </tr>
        {% elif quotes_results.customer_id %}
            <tr>
                <td><a href="{% url 'customer_information' quotes_results.customer_id.customer_id %}">CUST{{ quotes_results.customer_id.customer_id }}</a></td>
                <td>{{ quotes_results.customer_id }}</td>
            </tr>
        {% elif quotes_results.opportunity_id %}
            <tr>
                <td><a href="{% url 'opportunity_information' quotes_results.opportunity_id.opportunity_id %}">OPP{{ quotes_results.opportunity_id.opportunity_id }}</a></td>
                <td>{{ quotes_results.opportunity_id.opportunity_name }}</td>
            </tr>
        {% else %}
            <tr>
                <td>NA</td>
                <td>Sorry, this quote is not linked.</td>
            </tr>
        {% endif %}
    </table>
    <form method="post" class="new_line_item" id="new_line_item"></form>
    <form method="post" class="list_of_line_items" id="list_of_line_items"></form>
    {% if quote_permission > 1 %}
        <form method="post" class="list_of_responsible_customers" id="list_of_responsible_customers"></form>
    {% endif %}

    <div id="email_history">
        <h2>Email History</h2>
        Loading...
    </div>
    {% if quote_template_results %}
        <div id="quote_preview">
            <h2>Quote Preview</h2>
            <select id="quote_template">
                {% for row in quote_template_results %}
                    <option value="{{ row.quote_template_id }}">{{ row.quote_template_description }}</option>
                {% endfor %}
            </select>
            <input type="button" value="Preview Quote" onclick="preview_quote()">
            <input type="button" value="Download PDF" onclick="download_quote()">
        </div>
    {% endif %}




<script>
    $("#new_line_item").on('submit', function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: '/quote_new_line_item/{{ quote_id }}/',
            data: $(this).serialize(),
            success: function() {
                reload_new_line_item();
                reload_list_of_line_items();
            },
            error: function () {
                alert("There has been an error submitting the new line item");
            }
        })
    });
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    function load_email_history() {
        $.ajax({
            url: '/email_history/{{ quote_id }}/quote',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $("#email_history").html(data);
            },
            error: function() {
                alert("Sorry, the email history could not load");
            }
        })
    };

    // using jQuery to extract the CSRFToken
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function remove_responsible_customer(quote_id,customer_id) {
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        $.ajax({
            url: '/quote_delete_responsible_customer/' + quote_id + '/' + customer_id + '/',
            data: {},
            type: "POST",
            success: function() {
                reload_responsible_customer();
            },
            error: function() {
                alert("Sorry, but could not remove resonsible customer");
            }
        })
    }

    function preview_quote() {
        //Get value of template selected
        var template_id = $("#quote_template").val();

        //Go to the preview page
        var new_tab = window.open("/preview_quote/{{ quotes_results.quote_uuid }}/" + template_id + "/","_blank")
        if (new_tab) {
            new_tab.focus();
        } else {
            //Append a link - do not worry about the error.
            $("#quote_preview").append("<a href='" + new_tab.url + "' target='_blank'>Quote Preview - click here</a>");
        }
    }

    function download_quote() {
        //Get value of template selected
        var template_id = $("#quote_template").val();

        //Go to the preview page
        var new_tab = window.open("/extract_quote/{{ quotes_results.quote_uuid }}/" + template_id + "/","_blank")
        if (new_tab) {
            new_tab.focus();
        } else {
            //Append a link - do not worry about the error.
            $("#quote_preview").append("<a href='" + new_tab.url + "' target='_blank'>Quote Preview - click here</a>");
        }
    }

</script>
</body>
{% endblock %}



