{% extends "./template.html" %}
{% block content %}
{% load static %}
    <script type="text/javascript" src="{% static 'NearBeach/javascript/permissions.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/javascript/bug.js' %}"></script>
<body onload="on_page_load()">
    <h2>Requirement Information - {{ requirement_id }}</h2>
    <form id="requirement_information" name="requirement_information" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <ul>
            <li>{{ requirement_information_form.requirement_title }}</li>
            <li>{{ requirement_information_form.requirement_scope }}</li>
            <li>Requirement Type: {{ requirement_information_form.requirement_type }}</li>
            <li>Requirement Status: {{ requirement_information_form.requirement_status }}</li>
            <li><input type="submit" value="Update"><input type="submit" value="Resolve" name="resolve"></li>
        </ul>
    </form>
    <h2>Requirement Items</h2>

    <form method="POST" class="requirement_items_list" id="requirement_items_list">
        Loading Table...
    </form>

    {% if permission > 2 %}
        <a href="javascript:void(0)" onclick="new_requirement_item()">New Requirement Item</a>
    {% endif %}

    <form method="POST" class="new_requirement_item" id="new_requirement_item" style="background-color: #b0cfe0;">
    <!-- BLANK - will populate when needed using AJAX -->
    </form>

    <div method="POST" class="edit_requirement_item" id="edit_requirement_item_div" style="background-color: azure;">
        <form method="POST" class="edit_requirement_item" id="edit_requirement_item">
            <!-- BLANK - will populate when needed using AJAX -->
        </form>
        <div id="requirement_item_documents">
            <!-- BLANK - will populate when needed using AJAX -->
        </div>
    </div>


    <form method="POST" class="requirement_links_list" id="requirement_links_list">
        <h2>Requirement Links</h2>
        Loading...
    </form>

    <form method="POST" class="requirement_new_link" id="requirement_new_link" style="background-color: palevioletred">
        {% if requirement_link_permissions > 2 %}
            <a href="javascript:void(0)" onclick="link_requirement({{ requirement_id }})">Link Current Requirement</a>
        {% endif %}
    </form>


    <div id="requirement_documents">
        <h2>Requirement Documents</h2>
        Loading...
    </div>

    <form method="post" class="bug_list" id="bug_list">
        <h2>Requirement Bug List</h2>
        Loading...
    </form>

    <form method="post" class="bug_search" id="bug_search">
        <h2>Bug Search</h2>
        Loading...
    </form>

    <script>
        $("#bug_search").on('submit', function(e) {
           e.preventDefault();

           //Change the submit button for user feedback
           $("#bug_search_submit").prop("disabled",true);
           $("#bug_search_submit").val("SEARCHING...");


           $.ajax({
               type: 'POST',
               url: '/bug_search/{{ requirement_id }}/requirement/',
               data: $(this).serialize(),
               success: function(data) {
                   $("#bug_search").html(data);
               },
               error: function() {
                   alert("Sorry, submitting the bug search caused an error");
               }
           })
        });

        $("#new_requirement_item").on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/requirement_items_new/{{ requirement_id }}/',
                data: $(this).serialize(),
                success: function() {
                    //Reload the project history :)
                    $("#new_requirement_item").html("");
                    load_requirement_items_list();

                },
                error: function() {
                    alert("Sorry, new requirement item did not save. Please try again.");
                }
            })
        });

        $("#edit_requirement_item").on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/requirement_item_edit/' + $("#requirement_item_id").val() + '/',
                data: $(this).serialize(),
                success: function() {
                    //Reload the project history :)
                    $("#edit_requirement_item").html("");
                    load_requirement_items_list();

                },
                error: function() {
                    alert("Sorry, new requirement item did not save. Please try again.");
                }
            })
        });


        function load_bug_list() {
        $.ajax({
            url: '/bug_list/{{ requirement_id }}/requirement',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $("#bug_list").html(data);
            },
            error: function() {
                alert("There was an issue loading the bug list");
            }
        })
    }


    function load_bug_search() {
        $.ajax({
            url: '/bug_search/{{ requirement_id }}/requirement',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $("#bug_search").html(data);
            },
            error: function() {
                alert("There was an issues loading the bug search");
            }
        })

    }


        function load_requirement_documents() {
            //Get the requirement documents
            $.ajax({
                url: '/requirement_documents_uploads/{{ requirement_id }}/requirement/',
                data: {},
                dataType: 'HTML',
                type: 'GET',
                success: function(data) {
                    $("#requirement_documents").html(data);
                },
                error: function() {
                    alert("Sorry, the requirement documents could not load for some strange reason.")
                }
            })
        }

        function load_requirement_item_documents(requirement_item_id) {
            //Get the requirement documents
            $.ajax({
                url: '/requirement_documents_uploads/' + requirement_item_id + '/requirement_item/',
                data: {},
                dataType: 'HTML',
                type: 'GET',
                success: function(data) {
                    $("#requirement_item_documents").html(data);
                },
                error: function() {
                    alert("Sorry, the requirement documents could not load for some strange reason.")
                }
            })
        }


        function load_requirement_items_list() {
            //New Requirement Item
            $.ajax({
                url: '/requirement_items_list/{{ requirement_id }}',
                data: {},
                dataType: 'HTML',
                type: 'GET',
                success: function(data) {
                    $("#requirement_items_list").html(data);
                },
                error: function() {
                    $("#requirement_items_list").html("<h2>New Requirement Item</h2>Sorry, new requirement item encounted an error and did not load");
                }
            })

        }




        function link_requirement(requirement_id) {
            $.ajax({
                url: '/requirement_new_link/' + requirement_id + '/',
                data: {},
                dataType: 'HTML',
                type: 'GET',
                success: function(data) {
                    $("#requirement_new_link").html(data);
                },
                error: function() {
                    $("#requirement_new_link").html("<h2>New Requirement</h2>Sorry, new requirement encounted an error and did not load");
                }
            })
        }


        function link_requirement_item(requirement_item_id) {
            $.ajax({
                url: '/requirement_items_new_link/' + requirement_item_id + '/',
                data: {},
                dataType: 'HTML',
                type: 'GET',
                success: function(data) {
                    $("#requirement_item_new_link").html(data);
                },
                error: function() {
                    $("#requirement_item_new_link").html("<h2>New Requirement Item</h2>Sorry, new requirement item encounted an error and did not load");
                }
            })
        }


        function new_requirement_item() {
            //New Requirement Item
            $.ajax({
                url: '/requirement_items_new/{{ requirement_id }}',
                data: {},
                dataType: 'HTML',
                type: 'GET',
                success: function(data) {
                    $("#new_requirement_item").html(data);
                },
                error: function() {
                    $("#new_requirement_item").html("<h2>New Requirement Item</h2>Sorry, new requirement item encounted an error and did not load");
                }
            })

        }

        function edit_requirement_item(requirement_item_id) {
            //New Requirement Item
            $.ajax({
                url: '/requirement_item_edit/' + requirement_item_id + '/',
                data: {},
                dataType: 'HTML',
                type: 'GET',
                success: function(data) {
                    $("#edit_requirement_item").html(data);
                    set_permissions({{ permission }});
                    load_requirement_item_documents(requirement_item_id);
                },
                error: function() {
                    $("#edit_requirement_item").html("<h2>Edit Requirement Item</h2>Sorry, edit requirement item encounted an error and did not load");
                }
            })

        }


        function send_requirement_link(requirement_id, location_id, task_or_project) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });
            alert("Requirement ID: " + requirement_id + "\nLocation ID: " + location_id + "\nTask or Project: " + task_or_project);

            $.ajax({
                url: '/requirement_new_link/' + requirement_id + '/' + location_id + '/' + task_or_project + '/',
                data: {},
                dataType: 'HTML',
                type: 'POST',
                success: function (data) {
                    //RELOAD STUFF
                    $("#requirement_new_link").html('<a href="javascript:void(0)" onclick="link_requirement(' + requirement_id + ')">Link Current Requirement</a>');
                    requirement_links_list();
                },
                error: function(request, error) {
                    alert("Sorry, could not link requirement. Please try again soon. This is because of: \n" + error + "\n\nREQUEST\n" + request)
                }
            })
        }


        function send_requirement_item_link(requirement_item_id, location_id, task_or_project) {
            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $.ajax({
                url: '/requirement_items_new_link/' + requirement_item_id + '/' + location_id + '/' + task_or_project + '/',
                data: {},
                dataType: 'HTML',
                type: 'POST',
                success: function (data) {
                    //RELOAD STUFF
                    $("#requirement_item_new_link").html('<a href="javascript:void(0)" onclick="link_requirement_item(' + requirement_item_id + ')">Link Requirement Item</a>');
                    requirement_links_list();
                },
                error: function() {
                    alert("Sorry, could not link requirement item. Please try again soon.")
                }
            })
        }

        function requirement_links_list() {
            //New Requirement Item
            $.ajax({
                url: '/requirement_links_list/{{ requirement_id }}',
                data: {},
                dataType: 'HTML',
                type: 'GET',
                success: function(data) {
                    $("#requirement_links_list").html(data);

                },
                error: function() {
                    $("#requirement_links_list").html("<h2>Edit Requirement Links</h2>Sorry, edit requirement links encounted an error and did not load");
                }
            })

        }

        function on_page_load() {
            //Load all ajax modules
            load_requirement_items_list();
            requirement_links_list();
            load_requirement_documents();
            load_bug_search();
            load_bug_list();

            set_permissions({{ permission }})
        }

        function close_new_requirement_item() {
            $("#new_requirement_item").html("");
        }


        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        // using jQuery to extract the CSRFToken
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');
    </script>

</body>
{% endblock %}