{% extends "./template.html" %}
{% block content %}
<h2>Search Customers</h2>
<form action={% url 'search_customers' %} method="post" class="search_customers">
    {% csrf_token %}
    <table>
        <tr>
            <td width="80%">{{ search_customers_form.search_customers }}</td>
            <td width="20%"><input hidden type="submit"></td>
        </tr>
    </table>


    <table>
    <tr class="header"><td width="30%">Customer Name</td><td>Organisation</td></tr>
    {% for customer in customers_results %}
        <tr>
            <td><a href="{% url 'customer_information' customer.customer_id %}">{{ customer.customer_first_name }} {{ customer.customer_last_name }}</td>
            <td>{{ customer.customer_first_name }}</td>
        </tr>
    {% endfor %}
    </table>
</form>
{% endblock %}

