{% extends "./template.html" %}
{% block content %}
<h1>Search Organisation</h1>
<form action={% url 'search_organisations' %} method="post" class="search_organisations">
	{% csrf_token %}
	<table>
		{{ search_organisations_form.search_organisations }}
	</table>
	<input hidden type="submit">
</form>
<table>
<tr class="header"><td>Organisation Name</td><td>Organisation Website</td><td>Organisation Email</td></tr>
{% for organisation in organisations_results %}
	<tr>
		<td><a href="{% url 'organisation_information' organisation.organisations_id %}">{{ organisation.organisation_name }}</td>
		<td>{{ organisation.organisation_website }}</td>
		<td>{{ organisation.organisation_email }}</td>
	</tr>
{% endfor %}
</table>
{% endblock %}
