{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/expand_sections.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/task_information.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/autoscale_textarea.js' %}"></script>
<script tpye="text/javascript" src="{% static 'NearBeach/javascript/costs_running_total.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/permissions.js' %}"></script>

<script>
    function on_page_load() {
        //Initiate AJAX modules
        load_task_assigned_users();
        load_task_costs();
        load_task_customers();
        load_task_history();

        load_document_tree_list();
        load_document_tree_create_folder();
        load_document_tree_upload_documents();

        load_task_group_add();
        load_task_group_list();


        initiate_dates();

        //Re-size all those pesky textareas;
        autoscale_textarea();

        //Running total currently stops the javascript.
        running_total();

        //Finally set the permissions
        set_permissions({{ task_permissions }});
    }
</script>

<body onload="on_page_load()">
	<form id="task_information" name="task_information" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
            <h2>Task information - TASK{{ task_results.tasks_id }}</h2>
            <div id="save_state"></div>
            {% if task_results.task_status == 'Resolved' or task_results.task_status == 'Closed' %}
                <fieldset disabled="disabled">
            {% endif %}
            <ul>
                <li>{{ task_information_form.task_short_description }}</li>
                <li>{{ task_information_form.task_long_description }}</li>
                <li>Current Task Status: {{ task_results.task_status }}</li>
                <li><a href="{% url 'organisation_information' task_results.organisations_id.organisations_id %}">{{ task_results.organisations_id }}</a></li>
                <li>Time Zone - {{ timezone }}</li>
                <li>Task Start - {{ task_information_form.start_date_year }}/{{ task_information_form.start_date_month }}/{{ task_information_form.start_date_day }} @ {{ task_information_form.start_date_hour }}:{{ task_information_form.start_date_minute }} {{ task_information_form.start_date_meridiems }}<br/></li>
                <li>Task finish Date - {{ task_information_form.finish_date_year }}/{{ task_information_form.finish_date_month }}/{{ task_information_form.finish_date_day }} @ {{ task_information_form.finish_date_hour }}:{{ task_information_form.finish_date_minute }} {{ task_information_form.finish_date_meridiems }}<br/></li>
            </ul>

            {% if task_permissions > 1 %}
                <input type="submit" name="update" value="Update"/>
                {% if task_results.task_status == 'New' or task_results.task_status == 'Open' %}
                    <input type="submit" name="Resolve" value="Resolve Project"/>
                {% else %}
                    </fieldset>
                {% endif %}
            {% else %}
                </fieldset>
            {% endif %}
    </form>


    <form method="post" class="task_history" id="task_history" style="">
        <h2>Task History</h2>
        Loading...
    </form>
    <h2>Associated Projects</h2>
    {% if task_permissions > 1 %}
        {% if task_results.task_status == 'New' or task_results.task_status == 'Open' %}
            <a href="{% url 'associated_projects' task_results.tasks_id %}">Associate Project</a>
        {% endif %}
    {% endif %}
    {% if associated_project_results %}
            <table>
                <tr class="header"><td>Project Id</td><td>project Name</td><td>End Date</td></tr>
                {% for associated_project_row in associated_project_results %}
                    <tr>
                    <td><a href="{% url 'project_information' associated_project_row.project_id %}">Project - {{ associated_project_row.project_id }}</a></td>
                    <td>{{ associated_project_row.project_name }}</td>
                    <td>{{ associated_project_row.project_end_date }}</td>
                    </tr>
                {% endfor %}
            </table>
    {% else %}
        <p>Currently no associated projects.</p>
    {% endif %}

    <form method="post" class="task_customers" id="task_customers" style="">
        <h2>Task Customers</h2>
        Loading...
    </form>

    <form method="post" class="task_costs" id="task_costs" style="">
        <h2>Task Costs</h2>
        Loading...
    </form>



    <h2>Document Uploads</h2>
    <form method="post" class="document_tree_upload_documents" id="document_tree_upload_documents" enctype="multipart/form-data">
        <h2>Document Tree Upload Documents</h2>
        Loading...
    </form>

    <form method="post" class="document_tree_create_folder" id="document_tree_create_folder">
        <h2>Document Tree Create Folder</h2>
        Loading...
    </form>

    <form method="post" class="document_tree_list" id="document_tree_list">
        <h2>Document Tree List</h2>
        Loading...
    </form>


    <h2>Task Quotes</h2>
    <a href="{% url 'new_quote' task_id 'task' %}">New Quote</a>
    {% if quote_results %}
        <table>
            <tr>
                <td width="50%">Quote Title</td>
                <td width="25%">Valid Till</td>
                <td width="25%">Quote Stage</td>
            </tr>
            {% for row in quote_results %}
                <tr>
                    <td><a href="{% url 'quote_information' row.quote_id %}">{{ row.quote_title }}</a></td>
                    <td>{{ row.quote_valid_till }}</td>
                    <td>{{ row.quote_stage_id }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}


    <form method="post" class="task_assigned_users" id="task_assigned_users" style="">
        <h2>Task Assigned Users</h2>
        Loading...
    </form>

    {% if task_permissions >= 3 %}
    <h2>Assigned Groups</h2>
    <form method="post" class="task_assigned_groups" id="task_assigned_groups">
        Loading add...
    </form>
    <div id="assigned_group_list">Loading list...</div>
    {% endif %}

<script>
    $("#document_tree_create_folder").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/document_tree_create_folder/{{ task_id }}/T/',
            data: $(this).serialize(),
            success: function() {
                load_document_tree_create_folder();
                load_document_tree_list();
            },
            error: function() {
                alert("Sorry, document tree create folder did not save. Please try again.");
            }
        })
    });

    $("#task_assigned_users").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_task_assign_users/{{ task_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the task history :)
                load_task_assigned_users();
            },
            error: function() {
                alert("Sorry, task assigned users did not save. Please try again.");
            }
        })
    });

    $("#task_costs").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_task_costs/{{ task_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the task history :)
                load_task_costs();
            },
            error: function() {
                alert("Sorry, task costs did not save. Please try again.");
            }
        })
    });

    $("#task_customers").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_task_customers/{{ task_id }}/',
            data: $(this.serialize()),
            success: function() {
                //Reload the task history :)
                load_task_customers();
            },
            error: function() {
                alert("Sorry, task customers did not save. Please try again.");
            }
        })
    });


    $("#task_assigned_groups").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/assigned_group_add/{{ task_id }}/task/' + $("#id_add_group").val() + '/',
            data: $(this).serialize(),
            success: function() {
                load_task_group_add();
                load_task_group_list();
            },
            error: function() {
                alert("Sorry, project assigned users did not save. Please try again.");
            }
        })
    });

    //Code used to help send which button was clicked in POST
    $("form input[type=submit]").click(function() {
        $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
        $(this).attr("clicked", "true");
    });
    $("#task_information").on('submit', function(e) {
        //State the save_state is currently saving
        $("#save_state").html("Currently Saving Project");

        //Grab which button was pressed
        var which_button = $("input[type=submit][clicked=true]").val()

        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/task_information/{{ task_id }}/',
            data: $(this).serialize(),
            success: function() {
                //State that the function has saved
                var current_time = Date();
                $("#save_state").html("Saved last on " + current_time);

                //If we have the resolve button, we will need to navigate to the resolved task url.
                if (which_button == "Resolve Project") {
                    //Navigate to the resolve task URL
                    document.location = "{% url 'resolve_task' task_id %}"
                }
            },
            error: function() {
                alert("Sorry, task information did not save. Please try again.");
            }
        })
    });

    $("#task_history").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_task_history/{{ task_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the task history :)
                load_task_history();
            },
            error: function() {
                alert("Sorry, task history did not save. Please try again.");
            }
        })
    });

    function load_document_tree_create_folder() {
        //Load Project History
        $.ajax({
            url: '/document_tree_create_folder/{{ task_id }}/T',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#document_tree_create_folder').html(data);
            },
            error: function() {
                $('#document_tree_create_folder').html('Sorry, document tree create folder encounted an error and did not load.');
            }
        });
    };


    function load_document_tree_upload_documents() {
        //Load Project History
        $.ajax({
            url: '/document_tree_upload_documents/{{ task_id }}/T',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#document_tree_upload_documents').html(data);
            },
            error: function() {
                $('#document_tree_upload_documents').html('Sorry, document tree upload documents encounted an error and did not load.');
            }
        });
    };

    function load_document_tree_list() {
        //Load Project History
        $.ajax({
            url: '/document_tree_list/{{ task_id }}/T',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#document_tree_list').html(data);
            },
            error: function() {
                $('#document_tree_list').html('<h2>Document Tree</h2>Sorry, document tree encounted an error and did not load.');
            }
        });
    };


    function load_task_assigned_users() {
        //Load Project History
        $.ajax({
            url: '/information_task_assign_users/{{ task_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#task_assigned_users').html(data);
            },
            error: function() {
                $('#task_assigned_users').html('<h2>Assigned Users</h2>Sorry, assigned users encounted an error and did not load.');
            }
        });
    };

    function load_task_costs() {
        //Load Project History
        $.ajax({
            url: '/information_task_costs/{{ task_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#task_costs').html(data);
                running_total();
            },
            error: function() {
                $('#task_history').html('<h2>Project Costs</h2>Sorry, task costs encounted an error and did not load.');
            }
        });
    };

    function load_task_customers() {
        //Load Project Customers
        $.ajax({
            url: '/information_task_customers/{{ task_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#task_customers').html(data);
            },
            error: function() {
                $('#task_customers').html('<h2>Project Customers</h2>Sorry, task customers encounted an error and did not load.');
            }
        });
    };

    function load_task_history() {
        //Load Project History
        $.ajax({
            url: '/information_task_history/{{ task_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#task_history').html(data);
                $('#task_history').css('display','');
            },
            error: function() {
                $('#task_history').html('<h2>Project History</h2>Sorry, task history encounted an error and did not load.');
            }
        });
    };


    function load_task_group_add() {
        $.ajax({
            url: '/assigned_group_add/{{ task_id }}/task/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#task_assigned_groups').html(data);
            },
            error: function() {
                $('#task_assigned_groups').html('<h2>Project History</h2>Sorry, Task .');
            }
        });
    };


    function load_task_group_list() {
        $.ajax({
            url: '/assigned_group_list/{{ task_id }}/task/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#assigned_group_list').html(data);
            },
            error: function() {
                $('#assigned_group_list').html('<h2>Project History</h2>Sorry, task history encounted an error and did not load.');
            }
        });
    };

    function delete_group_item(group_item) {
        $.ajax({
            url: '/assigned_group_delete/' + group_item + '/task/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                load_task_group_list()
            },
            error: function() {
                alert("Sorry, there was an issue deleting the Assigned Group")
            }
        });
    };


    function remove_user(location_id) {
        $.ajax({
            url: '/information_task_delete_assigned_users/{{ task_id }}/' + location_id + '/' ,
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                load_task_assigned_users();
            },
            error: function() {
                alert("Sorry, there was an issue deleting the Assigned Users")
            }
        });
    }

    function upload_document() {
        //Get form data
        var form_data = new FormData(document.querySelector('#document_tree_upload_documents'));

        $.ajax({
            xhr: function() {
                var xhr = new window.XMLHttpRequest();

                // Upload progress
                xhr.upload.addEventListener("progress", function(evt){
                    if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        //Do something with upload progress
                        console.log(percentComplete);

                        $("#upload_percent").html(percentComplete * 100 + "%");
                        $("#upload_progress").css(
                            'width', percentComplete * 100 + '%'
                        );
                    }
               }, false);
               return xhr;
            },

            url: '/document_tree_upload/{{ task_id }}/T/',
            data: form_data,
            processData: false,
            contentType: false,
            type: 'POST',
            success: function(data) {
                load_document_tree_create_folder();
                load_document_tree_list();
                load_document_tree_upload_documents();
            },
            error: function() {
                alert("Sorry, there was an error uploading the document");
            }
        });
    }
</script>

</body>
{% endblock %}