{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/expand_sections.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/task_information.js' %}"></script>
<script type="text/javascript" src="{% static 'NearBeach/javascript/autoscale_textarea.js' %}"></script>
<script tpye="text/javascript" src="{% static 'NearBeach/javascript/costs_running_total.js' %}"></script>
<script>
    function on_page_load() {
        //Initiate AJAX modules
        load_task_assigned_users();
        load_task_costs();
        load_task_customers();
        load_task_history();
        
        initiate_dates();

        //Re-size all those pesky textareas;
        autoscale_textarea();

        //Running total currently stops the javascript.
        running_total();
    }
</script>


<body onload="on_page_load()">
	<form id="task_information" name="task_information" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
            <h2>Task information - TASK{{ task_results.tasks_id }}</h2>
            {% if task_results.task_status == 'Resolved' or task_results.task_status == 'Closed' %}
                <fieldset disabled="disabled">
            {% endif %}
            {{ task_information_form.task_short_description }}<br/>
            {{ task_information_form.task_long_description }}<br/>
            Task Start - {{ task_information_form.start_date_year }}/{{ task_information_form.start_date_month }}/{{ task_information_form.start_date_day }} @ {{ task_information_form.start_date_hour }}:{{ task_information_form.start_date_minute }} {{ task_information_form.start_date_meridiems }}<br/>
            Task finish Date - {{ task_information_form.finish_date_year }}/{{ task_information_form.finish_date_month }}/{{ task_information_form.finish_date_day }} @ {{ task_information_form.finish_date_hour }}:{{ task_information_form.finish_date_minute }} {{ task_information_form.finish_date_meridiems }}<br/>
            <br/>

            <input type="submit" name="update" value="Update"/>
            {% if task_results.task_status == 'New' or task_results.task_status == 'Open' %}
                <input type="submit" name="Resolve" value="Resolve Project"/>
            {% else %}
                </fieldset>
            {% endif %}
    </form>

    <form method="post" class="task_history" id="task_history" style="">
        <h2>Task History</h2>
        Loading...
    </form>
    <h2>Associated Projects</h2>
    {% if task_results.task_status == 'New' or task_results.task_status == 'Open' %}
        <a href="{% url 'associated_projects' task_results.tasks_id %}">Associate Project</a>
    {% endif %}
    {% if associated_project_results %}
            <table>
                <tr class="header"><td>Project Id</td><td>project Name</td><td>End Date</td></tr>
                {% for associated_project_row in associated_project_results %}
                    <tr>
                    <td><a href="{% url 'project_information' associated_project_row.project_id %}">Project - {{ associated_project_row.project_id }}</a></td>
                    <td>{{ associated_project_row.project_name }}</td>
                    <td>{{ associated_project_row.project_end_date }}</td>
                    </tr>
                {% endfor %}
            </table>
    {% else %}
        <p>Currently no associated projects.</p>
    {% endif %}

    <form method="post" class="task_customers" id="task_customers" style="">
        <h2>Task Customers</h2>
        Loading...
    </form>

    <form method="post" class="task_costs" id="task_costs" style="">
        <h2>Task Costs</h2>
        Loading...
    </form>



    <h2>Task Documents</h2>
    << REBUILDING AS AJAX WIDGET >>

    <form method="post" class="task_assigned_users" id="task_assigned_users" style="">
        <h2>Task Assigned Users</h2>
        Loading...
    </form>

</body>
<script>
    $("#task_assigned_users").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_task_assign_users/{{ task_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the task history :)
                load_task_assigned_users();
            },
            error: function() {
                alert("Sorry, task assigned users did not save. Please try again.");
            }
        })
    });

    $("#task_costs").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_task_costs/{{ task_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the task history :)
                load_task_costs();
            },
            error: function() {
                alert("Sorry, task costs did not save. Please try again.");
            }
        })
    });

    $("#task_customers").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_task_customers/{{ task_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the task history :)
                load_task_customers();
            },
            error: function() {
                alert("Sorry, task customers did not save. Please try again.");
            }
        })
    });

    //Code used to help send which button was clicked in POST
    $("form input[type=submit]").click(function() {
        $("input[type=submit]", $(this).parents("form")).removeAttr("clicked");
        $(this).attr("clicked", "true");
    });



    $("#task_information").on('submit', function(e) {
        //Grab which button was pressed
        var val = $("input[type=submit][clicked=true]").val()
        alert('&button=' + val);

        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/task_information/{{ task_id }}/',
            data: $(this).serialize(),
            success: function() {
                //If we have the resolve button, we will need to navigate to the resolved task url.
                //ADD IF STATEMENT HERE!
            },
            error: function() {
                alert("Sorry, task information did not save. Please try again.");
            }
        })
    });

    $("#task_history").on('submit', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/information_task_history/{{ task_id }}/',
            data: $(this).serialize(),
            success: function() {
                //Reload the task history :)
                load_task_history();
            },
            error: function() {
                alert("Sorry, task history did not save. Please try again.");
            }
        })
    });


    function load_task_assigned_users() {
        //Load Project History
        $.ajax({
            url: '/information_task_assign_users/{{ task_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#task_assigned_users').html(data);
            },
            error: function() {
                $('#task_assigned_users').html('<h2>Assigned Users</h2>Sorry, assigned users encounted an error and did not load.');
            }
        });
    };

    function load_task_costs() {
        //Load Project History
        $.ajax({
            url: '/information_task_costs/{{ task_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#task_costs').html(data);
                running_total();
            },
            error: function() {
                $('#task_history').html('<h2>Project Costs</h2>Sorry, task costs encounted an error and did not load.');
            }
        });
    };

    function load_task_customers() {
        //Load Project Customers
        $.ajax({
            url: '/information_task_customers/{{ task_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#task_customers').html(data);
            },
            error: function() {
                $('#task_customers').html('<h2>Project Customers</h2>Sorry, task customers encounted an error and did not load.');
            }
        });
    };

    function load_task_history() {
        //Load Project History
        $.ajax({
            url: '/information_task_history/{{ task_id }}/',
            data: {},
            dataType: 'HTML',
            type: 'GET',
            success: function(data) {
                $('#task_history').html(data);
                $('#task_history').css('display','');
            },
            error: function() {
                $('#task_history').html('<h2>Project History</h2>Sorry, task history encounted an error and did not load.');
            }
        });
    };
</script>

{% endblock %}