{% extends "./template.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static 'NearBeach/javascript/check_dates.js' %}"></script>
<body onload="initiate_dates();">
	<div>
		<h1>Task information - TASK{{ task_results.tasks_id }}</h1>
		<form action="{% url 'task_information' task_results.tasks_id %}" method="POST">
			{% csrf_token %}
			<div>{{ task_information_form.task_short_description }}</div>
			<div>{{ task_information_form.task_long_description }}</div>
			<div>Task Start Date - {{ task_information_form.start_date_year }}/{{ task_information_form.start_date_month }}/{{ task_information_form.start_date_day }}</div>
			<div>Task Start Time - {{ task_information_form.start_date_hour }}:{{ task_information_form.start_date_minute }} {{ task_information_form.start_date_meridiems }}</div>
			<div>Task finish Date - {{ task_information_form.finish_date_year }}/{{ task_information_form.finish_date_month }}/{{ task_information_form.finish_date_day }}</div>
			<div>Task finish Time - {{ task_information_form.finish_date_hour }}:{{ task_information_form.finish_date_minute }} {{ task_information_form.finish_date_meridiems }}</div>

			<div>{{ task_information_form.task_history_text }}</div>
			
			<div>
				<input type="submit" name="Save" value="Save"/>
				{% if task_results.task_status == 'New' or task_results.task_status == 'Open' %}
					<input type="submit" name="Resolve" value="Resolve Project"/>
				{% endif %}
			</div>
		</form>
	</div>
	<div>
		<h2>Task History</h2>
		{% if task_history_results %}
			{% for row in task_history_results %}
				<p>{{ row.user_infomation }} - {{ row.user_id }} - {{ row.audit_date }}<br />
				<textarea readonly>{{ row.project_history }}</textarea>
				</p>
			{% endfor %}
		{% else %}
			<p>Currently no history</p>
		{% endif %}
	</div>
	<div>
		<h2>Associated Projects</h2>
		<a href="{% url 'associated_projects' task_results.tasks_id %}">Associate Project</a>
		{% if associated_project_results %}
				<table>
				<tr><td>Project Id</td><td>project Name</td><td>End Date</td></tr>
				{% for associated_project_row in associated_project_results %}
					<tr>
					<td><a href="{% url 'project_information' associated_project_row.project_id %}">{{ associated_project_row.project_id }}</a></td>
					<td>{{ associated_project_row.task_short_description }}</td>
					<td>{{ associated_project_row.task_end_date }}</td>
					</tr>
				{% endfor %}
				
				</table>
		{% else %}
			<p>Currently no associated projects.</p>
		{% endif %}
	</div>
</body>
{% endblock %}
