<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title>NearBeach Alpha</title>
	{% load staticfiles %}
	<link rel='stylesheet' href='{% static "NearBeach/css/styles.css" %}' />
    <link rel='stylesheet' href='{% static "NearBeach/css/menu.css" %}' />
    <link rel='stylesheet' href='{% static "NearBeach/css/normalize.css" %}' />


    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <script src="{% static '/NearBeach/javascript/jquery/jquery-3.2.1.min.js' %}"></script>

    <script>
        function toggleMenu() {
            $("#main-nav").slideToggle(300);
        }

        function toggleSub(sub) {
            if (sub == 0) {
                $("#sub-menu-main").slideToggle(300);
            } else if (sub == 1) {
                $("#sub-menu-item").slideToggle(300);
            } else if (sub == 2) {
                $("#sub-menu-admin").slideToggle(300);
            }
        }
    </script>
</head>
<body>
    <header id="main-header">
        <div id="menu">
            <h1>
                <a href="#">NearBeach</a>
            </h1>
            <a href="#" id="menu-toggle" onclick="toggleMenu()">
                <img src="{{ MEDIA_URL }}/static/NearBeach/images/burger.png" width="24" height="24">
            </a>
        </div>
        <nav>
            <ul id="main-nav">
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li onclick="toggleSub(0)">
                    <a href="#" class="main-nav-dropdown">New Item<div class="down-arrow"></div></a>
                    <ul class="sub-menu" id="sub-menu-main">
                        <li><a href="{% url 'new_requirement' %}">New Requirement</a></li>
                        <li><a href="{% url 'new_project' %}">New Project</a></li>
                        <li><a href="{% url 'new_task' %}">New Task</a></li>
                        <li><a href="{% url 'new_organisation' %}">New Organisation</a></li>
                        <li><a href="{% url 'new_customer' 0 %}">New Customer</a></li>
                    </ul>
                </li>
                <li onclick="toggleSub(1)">
                    <a href="#" class="main-nav-dropdown">Search<div class="down-arrow"></div></a>
                    <ul class="sub-menu" id="sub-menu-item">
                        <li><a href="{% url 'search' %}">Search All</a></li>
                        <li><a href="{% url 'search_organisations' %}">Organisations</a></li>
                        <li><a href="{% url 'search_customers' %}">Customers</a></li>
                    </ul>
                </li>
                <li onclick="toggleSub(2)">
                    <a href="#" class="main-nav-dropdown">Administration<div class="down-arrow"></div></a>
                    <ul class="sub-menu" id="sub-menu-admin">
                        <li><a href="{% url 'permission_set_information' %}">Permission Sets</a></li>
                        <li><a href="{% url 'group_information' %}">Groups</a></li>
                        <li><a href="#">Users</a></li>
                    </ul>
                </li>

                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

	<div id="wrapper">

	{% if user.is_authenticated %}
		{% block content %}
		{% endblock %}
	{% else %}
			<h1>Permission denied</h1>
			<p>You currently do not have permission to view this page!</p>

	{% endif %}
</div>
</body>
</html>
