<!DOCTYPE html>
<html lang="en">
<head>
	<title>NearBeach Pre-Alpha</title>
	{% load staticfiles %}
	<link rel='stylesheet' href='{% static "NearBeach/css/styles.css" %}' />
	
</head>
<body>
	<div class="landing_page">
	<nav class="menu">
		<ul>
			<li><a href="#">Main Menu</a>
				<ul class="submenu">
					<li><a href="{% url 'search_organisations' %}">Organisations</a></li>
					<li><a href="{% url 'search_customers' %}">Customers</a></li>
					<li><a href="{% url 'logout' %}">Logout</a></li>
				</ul>
			</li>
			<li><a href="{% url 'active_projects' %}">Active Projects</a></li>
			<li><a href="#">New Item</a>
				<ul class="submenu">
					<li><a href="{% url 'new_project' %}">New Project</a></li>
					<li><a href="{% url 'new_task' %}">New Task</a></li>
					<li><a href="{% url 'new_organisation' %}">New Organisation</a></li>
					<li><a href="{% url 'new_customer' 0 %}">New Customer</a></li>
				</ul>
			</li>
			<li><a href="{% url 'search' %}">Search</a></li>
		</ul>
	</nav>
	
	
	{% if user.is_authenticated %}
		{% block content %}
		{% endblock %}
	{% else %}
			<h1>Permission denied</h1>
			<p>You currently do not have permission to view this page!</p>

	{% endif %}
</div>
</body>
</html>
