{% extends "./template.html" %}
{% block content %}
{% load static %}
    <style>
        svg {
           overflow-x: scroll;
        }
    </style>
    <script src="{% static 'NearBeach/widgets/svg.js/svg.js' %}"></script>
    <script src="{% static 'NearBeach/widgets/jquery/jquery-ui.js' %}"></script>
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/jquery/jquery-ui.css' %}">

    <!--
    Due to a bug in d3_gnatt_chart - https://github.com/dk8996/Gantt-Chart/issues/27
    We have to utilise an older version of D3. This version of D3 is only used here in the timeline.
    Newer versions of D3 are utilised everywhere else
    -->
    <script type="text/javascript" src="{% static 'NearBeach/widgets/d3_gnatt_chart/lib/d3/d3.v3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'NearBeach/widgets/d3_gnatt_chart/gantt-chart-d3.js' %}"></script>



    <h2>Timeline</h2>
    <form id="date_form">
    {% csrf_token %}
        <ul>
            <li>Start Date: {{ timeline_form.start_date }}</li>
            <li>End Date:{{ timeline_form.end_date }}</li>
        </ul>
    </form>

    <br/>
    <div id="timeline" style="width: 100%; overflow: auto;"></div>

    <script>
        const month_names = ["January", "February", "March", "April", "May", "June",
          "July", "August", "September", "October", "November", "December"
        ];

        $( "#id_start_date" ).datepicker({
            dateFormat: "yy-mm-dd"
        });
        $( "#id_start_date" ).val("{{ start_date|date:'Y-m-d' }}");
        //$("#id_start_date").setDate("{{ start_date }}");
        $("#id_end_date").datepicker({
            dateFormat: "yy-mm-dd"
        });
        $("#id_end_date").val("{{ end_date|date:'Y-m-d' }}");

        /*
        TEMP CODE
        ~~~~~~~~~
        The following code will help create a gnantt chart. Hopefully.
         */

        var tasks = [
            {
                "startDate":new Date("Sun Dec 09 01:36:45 EST 2012"),
                "endDate":new Date("Sun Dec 09 02:36:45 EST 2012"),
                "taskName":"E Job",
                "status":"RUNNING"
            }
        ];

        var taskStatus = {
            "SUCCEEDED" : "bar",
            "FAILED" : "bar-failed",
            "RUNNING" : "bar-running",
            "KILLED" : "bar-killed"
        };

        var taskNames = [
            "D Job",
            "P Job",
            "E Job",
            "A Job",
            "N Job"
        ];

        tasks.sort(function(a, b) {
            return a.endDate - b.endDate;
        });

        var maxDate = tasks[tasks.length - 1].endDate;

        tasks.sort(function(a, b) {
            return a.startDate - b.startDate;
        });

        var minDate = tasks[0].startDate;

        var format = "%H:%M";
        var timeDomainString = "1week";

        var gantt = d3.gantt().taskTypes(taskNames).taskStatus(taskStatus).tickFormat(format).height(450).width(1600).selector("#timeline");


        gantt.timeDomainMode("fixed");
        changeTimeDomain(timeDomainString);


        function changeTimeDomain(timeDomainString) {
            this.timeDomainString = timeDomainString;
            switch (timeDomainString) {
            case "1hr":
            format = "%H:%M:%S";
            gantt.timeDomain([ d3.time.hour.offset(getEndDate(), -1), getEndDate() ]);
            break;
            case "3hr":
            format = "%H:%M";
            gantt.timeDomain([ d3.time.hour.offset(getEndDate(), -3), getEndDate() ]);
            break;

            case "6hr":
            format = "%H:%M";
            gantt.timeDomain([ d3.time.hour.offset(getEndDate(), -6), getEndDate() ]);
            break;

            case "1day":
            format = "%H:%M";
            gantt.timeDomain([ d3.time.day.offset(getEndDate(), -1), getEndDate() ]);
            break;

            case "1week":
            format = "%a %H:%M";
            gantt.timeDomain([ d3.time.day.offset(getEndDate(), -7), getEndDate() ]);
            break;
            default:
            format = "%H:%M"

            }
            gantt.tickFormat(format);
            gantt.redraw(tasks);
        }

        gantt(tasks);

        function getEndDate() {
            var lastEndDate = Date.now();
            if (tasks.length > 0) {
            lastEndDate = tasks[tasks.length - 1].endDate;
            }

            return lastEndDate;
        }
    </script>

{% endblock %}

