{% extends "./template.html" %}
{% block content %}
{% load static %}
    <style>
    svg {
   overflow-x: scroll;
}
    </style>
    <script src="{% static 'NearBeach/javascript/svg.js/svg.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <h2>Timeline</h2>
    <form id="date_form">
    {% csrf_token %}
        <ul>
            <li>Start Date: {{ timeline_form.start_date }}</li>
            <li>End Date:{{ timeline_form.end_date }}</li>
        </ul>
    </form>

    <br/>
    <div id="timeline"></div>
    {{ project_results }}

<script>
const month_names = ["January", "February", "March", "April", "May", "June",
  "July", "August", "September", "October", "November", "December"
];

$( "#id_start_date" ).datepicker({
    dateFormat: "yy-mm-dd"
});
$( "#id_start_date" ).val("{{ start_date|date:'Y-m-d' }}");
//$("#id_start_date").setDate("{{ start_date }}");
$("#id_end_date").datepicker({
    dateFormat: "yy-mm-dd"
});
$("#id_end_date").val("{{ end_date|date:'Y-m-d' }}");

$(document).ready(render_timeline());



function end_of_month(input_date) {
    var next_day = new Date();
    next_day.setMonth(input_date.getMonth());
    next_day.setDate(input_date.getDate()+1);


    //If the month is the same tomorrow then we are still in the same month
    if (next_day.getMonth() == input_date.getMonth()) {
        return false; //Not the end of the month
    } else {
        return true; //end of the month
    }
}

function render_timeline() {
    //Start drawing the board
    var draw = SVG('timeline').size('100%','100%');
    draw.style({minWidth: 100, minHeight: 100});
    $("#timeline").height(500);


    //Required Variables
    var start_distance = 600;
    var month_start_location = 600;
    var month_end_length = 0;
    var stroke_prop = { width: 1, color: 'black' }
    var _MS_PER_DAY = 1000 * 60 * 60 * 24;
    var start_date = new Date("{{ start_date|date:'Y-m-d' }}");
    var end_date = new Date("{{ end_date|date:'Y-m-d' }}");



    draw.rect(start_distance,90).fill("#fff").stroke(stroke_prop);
    for (var i = 0; i < (end_date - start_date)/_MS_PER_DAY; i++) {
        //Loop variables
        var x_cord = 600 + i*100;
        month_end_length = month_end_length + 100;

        //Get the date
        var current_date = new Date();
        current_date.setDate(start_date.getDate() + i);

        //Day number
        draw.rect(100,30).fill("#fff").stroke(stroke_prop).move(x_cord,30);
        draw.text(current_date.getDate().toString()).move(x_cord,30);


        //Hour number
        draw.rect(50,30).fill("#fff").stroke({ width: 1, color: 'black' }).move(x_cord, 60);
        draw.rect(50,30).fill("#fff").stroke({ width: 1, color: 'black' }).move(x_cord+50, 60);
        draw.text("0h").move(x_cord,60);
        draw.text("12h").move(x_cord+50,60);


        if (end_of_month(current_date)) {
            draw.rect(month_end_length,30).fill("#fff").stroke(stroke_prop).move(month_start_location,0);
            draw.text(month_names[current_date.getMonth()]).move(month_start_location,0);


            //Adjust the variables now
            month_start_location = month_start_location + month_end_length;
            month_end_length = 0;
        }
    }
    //After loop ends we need to add in the last month block
    draw.rect(month_end_length,30).fill("#fff").stroke(stroke_prop).move(month_start_location,0);
    draw.text(month_names[current_date.getMonth()]).move(month_start_location,0);


    //Get the required data
    //Declare variables being used
    var project_results = '';
    var task_results = '';
    var x_positon = 0;
    var y_position = 90;

    $.ajax({
        url: '/timeline_data/project/',
        data: $("#date_form").serialize(),
        dataType: 'JSON',
        type: 'POST',
        success: function(data) {
            project_results = data;

            for (var i=0; i<project_results.length;i++) {
                //Obtain the information we require
                var project_string = "PRO" + project_results[i]['pk'] + " - " + project_results[i]['fields']['project_name'];
                project_string=project_string.substring(0,60);
                var timeline_start = start_distance;    //Used to determine the start of the timeline block
                var timeline_length = 0; //Used to determine the length of the rendered block
                var project_start_time = new Date(project_results[i]['fields']['project_start_date']);
                var project_end_time = new Date(project_results[i]['fields']['project_end_date']);



                //Start drawing what we need.
                draw.rect(start_distance,30).fill("#fff").stroke(stroke_prop).move(0,y_position);
                draw.text(project_string).move(0,y_position);

                //Layout all the blocks
                for (var j = 0; j < (end_date - start_date)/_MS_PER_DAY; j++) {
                    //Setup variables
                    var x_cord = 600 + j*100;
                    var y_cord = 90 + i*30;

                    draw.rect(50,30).fill("#fff").stroke(stroke_prop).move(x_cord, y_cord);
                    draw.rect(50,30).fill("#fff").stroke(stroke_prop).move(x_cord+50,y_cord);
                }

                //Figure out the starting position
                //Move the timeline start to the start date. Assume is starting in PM
                if (Date.parse(project_start_time) < Date.parse(start_date)) {
                    project_start_time = start_date;
                }

                timeline_start = timeline_start + 50 + 100*Math.floor((project_start_time-start_date)/_MS_PER_DAY);

                //Move the timeline start back to AM if starting in AM
                if (project_start_time.getHours()<12) {
                    timeline_start = timeline_start - 50;
                }



                //Figure out the timeline length
                timeline_length = 100*(project_start_time-start_date)/_MS_PER_DAY;

                if ((project_start_time.getHours() < 12) && (project_end_time.getHours() < 12)) {
                    timeline_length = timeline_length + 50;
                } else if ((project_start_time.getHours() < 12) && (project_end_time.getHours() >= 12)) {
                    timeline_length = timeline_length + 100;
                } else if ((project_start_time.getHours() >= 12) && (project_end_time.getHours() >= 12)) {
                    timeline_length = timeline_length + 50;
                }

                //alert("Starting position=" + (timeline_start) + "\nTimeline length=" + (timeline_length));
                draw.rect(timeline_length,30).fill("red").move(timeline_start,y_cord);

                //Adjust variables
                y_position=y_position+30;

            }

        },
        error: function() {
            alert("There is no project data");
        }
    });




}




alert("Finished");



</script>

{% endblock %}
