{% extends "./template.html" %}
{% block content %}
{% load static %}
    <script src="{% static 'NearBeach/javascript/svg.js/svg.js' %}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <h2>Timeline</h2>
    <ul>
        <li>Start Date: {{ timeline_form.start_date }}</li>
        <li>End Date:{{ timeline_form.end_date }}</li>
    </ul>
    <br/>
    <div id="timeline"></div>
<script>
$( "#id_start_date" ).datepicker({
    dateFormat: "yyyy-mm-dd"
});
$("#id_end_date").datepicker();

var draw = SVG('timeline').size('100%','100%');

// draw transformed rect
//var rect = draw.rect(175,175).move(75,75).rotate(20).scale(1, 0.5);


// draw bbox
//var b = rect.bbox()
//draw.rect(b.width, b.height).addClass('box').move(b.x, b.y);

$("#timeline").height(500);

//draw.line(0, 0, 200, 200).stroke({ width: 5, color: '#fff', dasharray: '5,5' });

var start_distance = 600;
var month_start = 600;
//oDate = $("#oDP").datepicker("getDate");
var start_date = $("id_start_date").datepicker("getDate");
var end_date = $("id_end_date").datepicker("getDate");
//alert(end_date.getDate());
alert(end_date - start_date);

draw.rect(600,90).fill("#fff").stroke({ width: 1, color: 'black' });
for (var i = 0; i < 10; i++) {
    //Day number
    draw.rect(100,30).fill("#fff").stroke({ width: 1, color: 'black' }).move(600 + i*100,30);

    //Hour number
    draw.rect(50,30).fill("#fff").stroke({ width: 1, color: 'black' }).move(600 + i*100, 60);
    draw.rect(50,30).fill("#fff").stroke({ width: 1, color: 'black' }).move(650 + i*100, 60);

}


/*
//Next line test
draw.rect(600,25).fill("#fff").stroke({ width: 1, color: 'black' }).move(0,90);
draw.text("PRO1 - Construction of a timeline").move(5,95);
*/



alert("Finished");


function end_of_month(date) {
    var next_day = date.setDate(date.getDate() + 1)

    //If the month is the same tomorrow then we are still in the same month
    if (next_day.getMonth() == date.getMonth()) {
        return false; //Not the end of the month
    } else {
        return true; //end of the month
    }
}
</script>

{% endblock %}

