{% extends '../template.html' %}
{% block content %}
{% load static %}
    <script type="text/javascript" src="{% static 'NearBeach/widgets/datetimepicker/jquery.datetimepicker.full.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'NearBeach/widgets/datetimepicker/jquery.datetimepicker.min.css' %}">

    <div class="card mt-4">
        <div class="card-header">
            <h1>New Change Task</h1>

        </div>
        <div class="card-body">
            {{ change_task_form.media }}
            <div class="form-group">
                <label for="id_change_task_title">Change Title:</label>
                <h4>{{ change_task_results.change_task_title }}</h4>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_change_task_start_date">Start Date:</label>
                    {{ change_task_results.change_task_start_date }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_change_task_end_date">End Date:</label>
                    {{ change_task_results.change_task_end_date }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="id_change_task_assigned_user">Assigned User:</label>
                    {{ change_task_results.change_task_assigned_user }}
                </div>
                <div class="form-group col-md-6">
                    <label for="id_change_task_qa_user">QA User:</label>
                    {{ change_task_results.change_task_qa_user }}
                </div>
            </div>

            <div class="form-group">
                <label for="id_change_task_description">Change Task Description</label>
                {{ change_task_form.change_task_description }}
            </div>

            <div class="form-group">
                <label for="id_change_task_required_by">Required By:</label>
                {{ change_task_results.change_task_required_by }}
            </div>

            <div class="form-row">
                <a href="{% url 'request_for_change_draft' change_task_results.request_for_change_id %}" class="btn btn-warning">Back to Request for Change</a>
            </div>
        </div>
    </div>
{% endblock %}